/**
 * $NODE-NEWS
 */

.node--news {
  .node__date-stamp {
    text-transform: uppercase;
    font-family: $regular-font-family;
    letter-spacing: .2em;
    margin-bottom: $vert-spacing-unit * 1.75;
  }

  .links {
    @include font-size(16px);
  }

  .node-readmore {
    .button--small {
      padding-left: 0;
    }
  }

  .comment_forbidden {
    a:first-of-type {
      padding-left: 0;
    }
  }
}

.node--news--teaser {
  padding-bottom: $vert-spacing-unit * 2;
  margin-bottom: $vert-spacing-unit * 1.5;
  border-bottom: 1px solid $pale-grey;
}

.node--news--full {
  .node__image {
    margin-bottom: $vert-spacing-unit * 1.5;
  }

  .node__title {
    margin-bottom: $vert-spacing-unit;
  }

  .field--name-field-tag {
    @include font-size(16px);
    margin-top: $vert-spacing-unit * 2;
  }

  .node-footer {
    margin-bottom: $vert-spacing-unit;
  }
}
