/**
 * $NODE-FORUM
 */

.node--forum {
  .submitted,
  .node-footer {
    @include font-size(14px);
  }

  .node__content {
    margin: $vert-spacing-unit 0 ($vert-spacing-unit / 2) 0;
  }

  .node-footer {
    margin-bottom: $vert-spacing-unit * 3;
  }

  .separator {
    display: none;
  }

  .user-picture {
    float: left;
    width: 30px;
    margin-top: -6px;
    margin-right: 10px;
  }

  .node__links {
    margin-bottom: $vert-spacing-unit;
  }
}

