/**
 * $NODE-NEWS
 */

.node--news {
  .node__date-stamp {
    font-family: $regular-font-family;
    margin-bottom: $vert-spacing-unit * 1.75;
    background: $c-brand-main;
    border-top: 8px solid $c-brand-gray;
    color: #fff;
    width: 4em;
    font-size: 150%;
    padding: 1em 0.5em;
    float: left;
    margin-right: 1em;
    text-align: center;

    .date-day,
    .date-month {
      display: inline-block;
    }

    .date-day {
      border-bottom: 1px solid darken($c-brand-main, 10);
      padding-bottom: 0.2em;
      margin-bottom: 0.2em;
      text-transform: uppercase;
    }
  }

  .node__meta {
    overflow: hidden;
  }

  .links {
    @include font-size(16px);
  }

  .node-readmore {
    .button--small,
    .button--small:visited {
      background: $c-brand-main;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .comment_forbidden {
    a:first-of-type {
      padding-left: 0;
    }
  }
}

.node--news--teaser {
  padding-bottom: $vert-spacing-unit * 2;
  margin-bottom: $vert-spacing-unit * 1.5;
  border-bottom: 1px solid $pale-grey;
}

.node--news--full {
  .node__image {
    margin-bottom: $vert-spacing-unit * 1.5;
  }

  .node__title {
    margin-bottom: $vert-spacing-unit;
  }

  .field--name-field-tag {
    @include font-size(16px);
    margin-top: $vert-spacing-unit * 2;
  }

  .node-footer {
    margin-bottom: $vert-spacing-unit;
  }
}
