/**
 * $NODE-SESSION
 */

.node--session--full {
  .field__label {
    color: $brown;
  }

  .field--label-above {
    margin-bottom: 1.5em;
  }

  fieldset {
    margin-bottom: 2em;
  }

  .node-footer {
    padding-top: .5em;
  }

  .feedback {
    a {
      @extend .button-link;
      height: 3em;
      line-height: 3em;
      text-transform: uppercase;
      padding: 0 1.8em;
    }
  }

  .node__links {
    li {
      margin: ($vert-spacing-unit / 2) 1.5em ($vert-spacing-unit / 2) 0;
    }
  }
}

#edit-cod-session {
  line-height: 2em;

  .form-submit {
    margin: $vert-spacing-unit 0 ($vert-spacing-unit * 0.75) 0;
  }
}
