/**
 * $COMMENTS
 */

.comments {
  border-top: 1px solid $pale-grey;
  margin-top: $vert-spacing-unit * 1.25;
  padding-top: $vert-spacing-unit * 1.25;

  .comment {
    padding-bottom: $vert-spacing-unit $vert-spacing-unit 0 $vert-spacing-unit;
  }

  .comment__title {
    margin-bottom: .5em;
  }

  .comments__title,
  .comments__form-title {
    width: 100%;
    background: $maroon;
    text-transform: uppercase;
    @include font-size(24px);
    color: $white;
    padding: $vert-spacing-unit ($vert-spacing-unit * 1.5);
    font-family: $regular-font-family;
  }

  .comments__form-title {
    background: $black;
    margin-bottom: 0;
  }

  .comment__info {
    margin-bottom: $vert-spacing-unit;
    color: $brown;
  }

  .comment__info,
  .comment__links {
    @include font-size(14px);
    font-weight: normal;
  }

  .comment-form {
    @include font-size(15px);
    padding: $vert-spacing-unit $vert-spacing-unit ($vert-spacing-unit / 2) $vert-spacing-unit;
    background: lighten($pale-grey, 6.5%);

    a {
      color: $maroon;

      &:hover,
      &:focus {
        color: $red;
      }
    }
  }

  .fieldset-wrapper {
    border: 0;
  }

  .filter-wrapper {
    margin: 0;

    .fieldset-wrapper {
      padding: $vert-spacing-unit 0;
    }
  }
}
