/**
 * Mobile layout
 */
@include respondTo(smallScreen) {
  .row {
    min-width: inherit;
    .columns {
      float: none;
      width: 100%;
    }
  }
  #navigation {
    display: block;
    #main-menu {
      float:none;
    }
  }
}
/*  Layout */
#page {
	@include respondTo(smallScreen) { background: url('../images/clouds.png') repeat-x !important; }
}
	
.body {
	@include respondTo(smallScreen) { background: none repeat scroll 0 0 white; }
}

h1#site-name {
	@include respondTo(smallScreen) { width: 100% !important; float: none; padding: 0 1%; }
}

.view-slideshow {
  overflow:hidden;
  .slideshow-image {
    width: 37.5%;
  }
}

@include respondTo(919px) { }

/* Navigation  */

#secondary-menu li {
	@include respondTo(smallScreen) { margin: 0 .5em; padding: 0; }	
}
#secondary-menu li.first {
	@include respondTo(smallScreen) { margin-left: .5em !important; }	
}

.region-registration p {
	@include respondTo(smallScreen) { padding: 0 .5em !important; font-size: 1.5em !important; }			
}

#navigation ul.nav-bar {
	@include respondTo(smallScreen) { text-align:center !important;  height: auto !important; }	
	li {
		@include respondTo(smallScreen) { float:none; padding: 0.25em;  }	
		ul {
		@include respondTo(smallScreen) { width: 100%; top: 35px !important;  }	
		}
	}
}

.region-social ul.menu {
		@include respondTo(smallScreen) { float: left; }	
}

/* Blocks */
.twtr-doc {
	@include respondTo(smallScreen) { width: 100% !important; }	
}

/* Hidden Elemetns*/

.diamond-sponsor,
#logo,
#footer-100%er  {
	@include respondTo(smallScreen) { display:none; }
}

#content.columns {
	@include respondTo(smallScreen) { background: none !important; }
}

ul.flyout {
	@include respondTo(smallScreen) { visibility:hidden;  padding: 0 !important;  }
}

/* 
 * Sessions Related Tables
 */
 
.sessions-custom-overrides  {
	table, thead, tbody, th, td, tr { 
		@include respondTo(smallScreen) { display: block;  }
	}
	thead tr { 
	@include respondTo(smallScreen) { position: absolute; top: -9999px;	left: -9999px; }
	}
	tr { 
	@include respondTo(smallScreen) { border: 1px solid #ccc; }
	}
	td { 
	@include respondTo(smallScreen) {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
	}
		td:before { 
		@include respondTo(smallScreen) {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding: 0 10px 0 0; 
		white-space: nowrap;
		}
	}
		td.track { 
		@include respondTo(smallScreen) {
		width: 45% !important; 
		}
	}
}

/* 
 * Speakers Related Tables
 */
 
.view-sessions-admin-contact  {
	table, thead, tbody, th, td, tr { 
		@include respondTo(smallScreen) { display: block;  }
	}
	thead tr { 
	@include respondTo(smallScreen) { position: absolute; top: -9999px;	left: -9999px; }
	}
	tr { 
	@include respondTo(smallScreen) { border: 1px solid #ccc; }
	}
	td { 
	@include respondTo(smallScreen) {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 25%;
			color: #464646; 
		}
	}
		td:before { 
		@include respondTo(smallScreen) {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 9px;
		left: 6px;
		width: 45%; 
		padding: 0 10px 0 0; 
		white-space: nowrap;
			td:nth-of-type(1):before { content: "First Name"; }
		}
	}
		td.views-field-counter:before {
		@include respondTo(smallScreen) {content: "ROW #"; font-weight: bold;}
	}
	  td.views-field-nid:before {
		@include respondTo(smallScreen) {content: "ID"; font-weight: bold;}
	}
		td.views-field-title:before {
		@include respondTo(smallScreen) {content: "TITLE"; font-weight: bold; font-family:Arial, Helvetica, sans-serif; font-size: 14px;}
	}
		td.views-field-name:before {
		@include respondTo(smallScreen) {content: "USERNAME"; font-weight: bold;}
	}
		td.views-field-mail:before {
		@include respondTo(smallScreen) {content: "EMAIL"; font-weight: bold;}
	}
		td.views-field-field-speakers:before {
		@include respondTo(smallScreen) {content: "SPEAKERS"; font-weight: bold;}
	}
}

/* 
 * Attendee Related Grids
 */
 
.attendees-custom-overrides  {
	.views-exposed-form {
		.views-exposed-widget	{
			@include respondTo(smallScreen) { width: 100%; 	padding-bottom: 0.85em; }
		}
		.views-submit-button	{
			@include respondTo(smallScreen) { padding: 0; }
			#edit-submit-attendees {
			@include respondTo(smallScreen) { margin-top: 0; 	float: right; }
			}
		}
	}
	table, thead, tbody, th, td, tr { 
		@include respondTo(smallScreen) { display: block;  }
	}
	thead tr { 
	@include respondTo(smallScreen) { position: absolute; top: -9999px;	left: -9999px; }
	}
	tr { 
	@include respondTo(smallScreen) {
		border: 1px solid #FFF;
		}
	}
	tr:nth-child(2n) { 
	@include respondTo(smallScreen) {
		background-color:#FFF !important;
		}
	}
	td { 
	@include respondTo(smallScreen) {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #D1E5F7; 
			position: relative;
			width: 100% !important; 
		}
	}
}