/*
 * Navigation bar
 */

@media all and (max-width: 767px) {
  #main-menu {
    .row {
      nav.columns {
        width: 99%;
				margin: 0 auto
      }
    }
  }
}

@media all and (min-width: 768px) {
  body.admin-menu {
	margin-top:2em !important;
  }
	body.logged-in {
   margin-top:2em !important;
   #admin-menu {
		top:-2.1em; 
   }
  }
  #page {
    padding-top: 7.7em; /* Move all the children of #main down to make room. */
    position: relative;
  }
  #navigation {
    background: url('../images/blue_texture.jpg') repeat;
    @include box-shadow(#00375c 0px 5px 10px);
    position: absolute;
    top: 0; /* Move the navbar up inside #main's padding. */
    //width: $zen-grid-width;
    width:100%;
    #utility {
			width:100%;
      float:left;
			background: url('../images/navy_blue.png');
			@include box-shadow(#00375c 0px 5px 10px);
    }
		#main-menu{
			width:100%;
      float:left;
			//padding: 0 15px;
			padding: 0;
			background: url('../images/main_menu_shadow.png') no-repeat top center;
      .row {
        overflow:visible;
      }
      ul.nav-bar {
        li {
          font-size: 0.8em;
          padding: 1.8em 0 1.3em 0.65em;
          a.flyout-toggle {
            padding: 1.4em 0.7em;
          }
          ul.flyout {
						padding: 0;
            position:absolute;
            li {
              font-size: 1em;
            }
          }
        }
        > li:hover, > li.activenav {
          background: none repeat scroll 0 0 #00578c;
          border-color: #00578c;
        }
      }
    }
    > section {
      float:left;
      width:100%;
    }
  }
  p#skip-link {
    margin:0;
    .element-invisible {
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: inherit;
      position: absolute !important;
    }
  }
}


@media all and (min-width: 950px) {
  #navigation {
		#main-menu{
      ul.nav-bar {
        li {
          font-size: 1em;
          padding: 1.2em 0 0.8em 0.65em;
          a.flyout-toggle {
            padding: 1.12em 0.55em;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  #navigation {
		#main-menu{
      ul.nav-bar {
        li {
          font-size: 1.0em;
          padding: 1.1em 0 0.7em 1em;
          a.flyout-toggle {
            padding: 1.025em 0.65em;
          }
        }
      }
    }
  }
}

/*
 * Utility Navigation
 */
 

.button {
    background: none repeat scroll 0 0 #00598e;
		text-indent: -1px;
}
