/**
 * Status message styles
 */
$msg_pad: (10 / 14) * 1em;
$msg_pad_wide: (50 / 14) * 1em;

div.alert-box {
  background-image: url("../images/message-24-warning.png");
  padding: $msg_pad $msg_pad $msg_pad $msg_pad_wide;
  &.alert {
    background-image: url("../images/message-24-error.png");
		a {
			color: #FFFFFF;
			text-shadow:none;
		}
  }
  &.success {
    background-image: url("../images/message-24-ok.png");
  }
  .krumo-root {
    color: #000000;
    ul {
      text-indent: 0;
    }
  }
}
