/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}
	a {
	color: #3399cc;
	a:hover, a:focus {
		text-decoration: underline;
  }
}

#page {
	ul, ol {
   list-style-position: inside;
	 margin-left: 0;
	 padding-left: 1em;
	 text-indent: -1em;
	}
}
table thead tr th, table tfoot tr td {
    font-weight: normal;
}
table {
  width: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
	margin-bottom: 1em;
	.full {
		width: 100%;
		.nine {
			padding: 1em 1em 0 0 ;
			a#logo.one {
				width: 24.0%;
				padding: 3% 0 0 0;
				}
			h1#site-name {
				float: left;
				width: 75%;
				padding: 3% 0 0 0;
			}
		}
		.diamond-sponsor {
			background:url('../images/dmnd-spnsr-bgrd.png') bottom center no-repeat;		
			padding: 2em 2em 4em 2em;
			.region-header { /* Wrapper for any blocks placed in the header region */
				float: left;
				right: 0;
				top: 0;
				width: 100%;
				.block-drupalorg-drupalcon {
					text-align:center;
					h3 {
					color: white;
					text-shadow: 0 6px 9px #00375C;
					font-size: 1.85em;
					margin: 0.5em 0;
					}
					.item-list ul li {
    				margin: 0;
    				padding: 0;
						list-style:none;
					}
				}
			}	
		}
	}
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }
	
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */

#main {
	background:#FFFFFF;
	@include single-box-shadow;
	@include border-top-radius;
}
/*
 * Content
 */

#content.columns {
	padding: 1.571em 2em 1.571em 1.571em;
}

aside.sidebars {
	padding: 1.571em 1.571em 1.571em 1em;
	background:url('../images/sdbr_brdr.jpg') top left repeat-y;
}

aside p {
   font-size: 14px;
   font-style: normal;
   line-height: 1.5;
}


#content {
	.views-field-title {
		font-family: 'LeagueGothicRegular';
		text-transform:uppercase;
		font-size:1.85em;
		margin-top: .5em;
  }
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
	margin-bottom: 1em;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
		font-family: $arial;
		font-weight:bold;
		font-size:0.857em;
		color: #939393;
		a {
			color: #939393;
		}
		a:active {
			color: #606060;
		}
		a:hover, a:focus {
			color: #606060;
			text-decoration: none;
			}
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
	text-transform:uppercase !important;
}

h1.title { /* The title of the page */
	font-size: 2.563em;
}

h2.block-title { /* Block title */
	color: #669933;
	font-size:1.85em;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

ul.primary {
	li {
		a {
			text-align:center;
		}
	}
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

.button {
  font-family: 'LeagueGothicRegular'; 
	font-size: 21px;
	font-weight:normal;
  margin: 0 0.2em 0 0;
  @include text-shadow(#003366 1px 1px 10px);
	padding: 9px 20px 8px;
  text-rendering: optimizelegibility;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	text-transform:uppercase;
	a {
		color: white;
	}
	:hover {
	@include text-shadow(#000 1px 1px 10px);	
	}
}
.print-button {
  float: right;
}
.social-button {
	float: left;
	margin-top: 2em;
	.fb-like {
		margin-right: 1em;
	}
	.twitter-share-button {
		width: 80px;
	}
	#___plusone_0 {
		margin-left:-4px;
	}
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}


aside.sidebars #twtr-widget-1 {
	background:url('../images/bird.png') top right no-repeat;
	padding-top:37px;
	top: -25px;
	p {
		font-size: 1em !important;
		a {
		text-decoration: underline !important;
		}
	}
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer Region
 */

#footer-container {
	background-image: url('../images/navy_blue_light.jpg'), url('../images/main_menu_shadow.png');
	background-position: top left, center top;
	background-repeat: repeat, no-repeat;
	width: 100%;
		#footer {
			.first {
				margin: 0 auto;
				max-width: 100%;
				padding: 0.5em 0;
				h3 {
					color: white;
					font-size: 27px;
					margin: 14px 0;
				}
				ul {
					list-style-type: none;
					text-align: center;
					display: block;
					background-color:#FFF;
					padding: 0;
					width: 100%;
					min-height: 330px;
					border-radius: 5px;
					@include box-shadow;
				}
			}
		}
	}

/*
 * Page bottom
 */
#page-bottom { /* Wrapper for any blocks placed in the page bottom region */
	background: url('../images/navy_blue.png');
	width:100%;
	p {
		margin: 0 auto;
		padding: 1em;
		padding: 0.5em 0;
		color: white;
		font-size:0.786em;
		a {
			color: white;
			text-decoration:underline;
			}
		}
}

/* 
*  Image backgrounds finetudens 01/04/2013 Per Stephanie.
*/

 #page {
		background: url('../images/clouds.png') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.page-node, .node-type-news, .node-type-time-slot {
 #page {
		background: url('../images/bgrd4_pioneer-square.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-news, .front {
 #page {
		background: url('../images/bgrd1_bridge.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.section-sponsors, .node-type-article {
 #page {
		background: url('../images/bgrd2_bridge-skyline.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-bof-session, .section-cart {
 #page {
		background: url('../images/bgrd3_flowers.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}

.node-type-room, .node-type-slide, .page-news  {
 #page {
		background: url('../images/bgrd6_night-skylinejpg.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-schedule-item, .section-community{
 #page {
		background: url('../images/bgrd7_night-skylinejpg.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-session, .section-portland {
 #page {
		background: url('../images/bgrd8_night-skylinejpg.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-webform, .section-speakers  {
 #page {
		background: url('../images/bgrd9_mrrsn-bridge.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; }
}
.node-type-ticket-sale-page, .section-program{
 #page {
		background: url('../images/bgrd10_broadway-bridge.jpg') no-repeat top center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* -----------------------  Profile   ----------------------- */
.profile {
	.field {
		line-height: 1.5em;
		.field-label {
			display: none;
		}
	}
	.field-name-field-profile-first, .field-name-field-profile-last {
		font-weight: normal;
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		color: black;
		.field-items .field-item {
			font-size: 1.75em !important;
			line-height: 1.2em;
		}
	}
	.field-name-field-profile-first {
		display:block;
		float:left;
		margin-right: 0.5em;
	}
	.field-type-text-long {
  	margin: 1em 0;
	}
	.field-name-field-profile-org, .field-name-field-profile-job-title, .field-name-field-designation {
  	font-weight: normal;
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		.field-items .field-item {
			font-size: 1.5em;
		}
	}
	.field-name-field-profile-org, .field-name-field-designation {
  	color: #3399CC;
	}
	.field-name-field-profile-job-title {
  	color: #669933;
	}
	.field-name-field-profile-full-name {
  	display: none;
	}
	.field-name-field-designation {
  	margin: 1em 0;
	}
}

code, .section-spread-the-word code {
  background-color: #FFFFFF;
  color: #333333;
}