/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

@import "base";


@media print {

  a:link,
  a:visited { /* underline all links */
    text-decoration: underline !important;

    #site-name & { /* Don't underline header */
      text-decoration: none !important;
    }
    .section-program td & {
      text-decoration: none !important;
    }
  }

  #content {
    a[href]:after { /* Add visible URL after links. */
      content: " (" attr(href) ")";
      font-weight: normal;
      font-size: $base-font-size;
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after { /* Only display useful links. */
      content: "";
    }

    abbr[title]:after { /* Add visible title after abbreviations. */
      content: " (" attr(title) ")";
    }
  }
  .page-user-orders #content {
    a[href]:after {
      content: none;
    }
  }

  #content { /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  #page,
  #main,
  #content,
  header { /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
    padding: 0;
    margin: 0;
  }

  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .region-sidebar,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  .social-button { /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }

  .page-user-orders header,
  .page-user-orders .region-bottom {
    display: none;
    visibility: hidden;
  }

  .section-program .session-title {
    text-transform: none;
    
  }
  .section-program h3.schedule-day-heading:after {
    content: none!important;
  }

  .section-program .button {
    border: none;
  }

  table { page-break-after:auto; margin: 0 0 0 0; }
  tr    { page-break-inside:avoid; page-break-after:auto; border-top: 1px solid gray; border-bottom: 1px solid gray; }
  td    { page-break-inside:avoid; page-break-after:auto }

} /* End @media print */
