/**
 * @file
 * Form Styling
 */

@import "base";
@import "settings";
@import "foundation/mixins/respond-to";
@import "../images/sprites/*.png";

.shadow {
	-webkit-box-shadow:  0px 5px 10px 0px rgba(99, 99, 99, .1);
  box-shadow:  0px 5px 10px 0px rgba(99, 99, 99, .1);
}

.border-radius {
  -webkit-border-top-left-radius: 1em;
	-webkit-border-top-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-topright: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}


#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i, #twtr-widget-1 .twtr-bd p {
	a {
    text-decoration: underline;
	}
}

/*****************************************************************************************
 *****                              SINGLE SLIDE                                     *****
 *****************************************************************************************/

.region-slideshow { 
 @include respondTo(medium-screens) { position: relative !important; } 
 @include respondTo(smallScreen) { position: relative !important; }
 background: url("../images/slideshow-bgrd.png") repeat scroll 0 0 transparent;
 width:100%;
 @include respondTo(wide-screens) { height: 320px;}
 @include respondTo(smallScreen) { padding: 14px 0;}
}

.view-slideshow {
  .views-row { display:none; }
  .views-row-1 { display:block; }   
  z-index:0;

  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
  }

  h1.slideshow-reverse {
		padding: 0.5em 0 0.25em 0;
		margin: 0;
		font-size: 3em;
		@include respondTo(smallScreen) { font-size: 2em; padding: 0.5em 21px 0.25em 21px;}
		a {
    line-height:1em;
    color:#FFF;
    @include text-shadow( 0 6px 9px #00375C );
    font-family: 'LeagueGothicRegular'; 
    text-decoration:none;
		text-transform:uppercase;
    }
  }

  .slideshow-body {
		padding: 0 3.75em 0.636em 0;
    @include adjust-font-size-to(14px);
    line-height: normal;
    overflow:hidden;
    margin-bottom:1em;
		color: white;
    @include respondTo(both-screens) { height: auto; }
    @include respondTo(smallScreen) { padding: 0 21px 0.636em 21px; }

		p {
			margin-bottom: 0;
		}
  }

  .readmore-reverse { margin:auto; width:auto; float:right; 
		font-size: 1.500em;
    padding: 0px 20px 0 30px;
    height:60px;
    font-family: 'ballparkweiner';
    color: #ffffff;
		padding: 0 2.5em 0.636em 0;
   }
  
   // smallScreen
    @include respondTo(smallScreen) {
      .views-field { 
        padding-left: 20px;
        padding-right: 20px;  
      }
    }
 
   // MEDIUM ONLY
   @include respondTo(medium-screens) {
     .views-field { 
       padding-left: 20px;
       padding-right: 20px;  
     }
   } 
 

  // MEDIUM ONLY
  @include respondTo(medium-screens) {

  }

  // WIDE ONLY
  @include respondTo(wide-screens) {
    h1.slideshow-reverse {width:450px; }
    .slideshow-body{ width:400px; }
  }

  .slideshow-image { display:block; float: left; margin-right:21px;
    @include respondTo(smallScreen) { display:none;}
    z-index: -1;
  }

  // SLIDESOW CONTROLS
  #views-slideshow-controls-bottom {
    position: absolute; 
    bottom: 50%; 
    left: 0px;
    z-index: 1000;
    padding: 10px;
		width:100%;
    
   @include respondTo(smallScreen) {  display: none; }
   @include respondTo(smallScreen) {  display: none; }
   
  button { 
    display: block; overflow: hidden; margin: 0 5px; border: none;  opacity: .75;
    &#prev { @include spr(prev); float: right; right: 0px;}
    &#next { @include spr(next); float: left;}
    &#pause { display: none; }
  }
  button:hover { 
    opacity: 1;
  }	  
  
  } // END SLIDESHOW CONTROLS

  

} //view-slideshow


/* Views Slideshow */
.slideshow {
	overflow:hidden;
	.columns {
		padding: 0;
	}
}

.readmore-reverse {
	a {
		color:white;
		opacity: 0.8;
		}
	a:hover {
		color:white;
		opacity: 1;
		}
}

.button {
  font-family: 'LeagueGothicRegular'; 
	font-size: 21px;
	font-weight:normal;
	font-style: normal;
  margin: 0 0.2em 0 0;
  @include text-shadow(#003366 1px 1px 10px);
	padding: 9px 20px 8px;
  text-rendering: optimizelegibility;
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	text-transform:none;
	a {
		color: white;
	}
}
.button:hover {
	@include text-shadow(#000 1px 1px 10px);	
	}