/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary, secondary tabs, and quicktabs.
 */

ul.primary,
ul.secondary,
ul.quicktabs-tabs {
  @include clearfix;
  border-bottom: 1px solid $tabs-border;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;
  text-align: center;

  li {
    float: left; /* LTR */
    margin: 0.5em 3px 0;
  }

  a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
		a:hover, a:focus {
			text-decoration:underline;
		}
  }
}

/*
 * Primary tabs
 */

ul.primary {
  li {
    @include border-top-radius(4px);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    border-bottom: 0;
    margin: 0.5em 0 0 3px; /* LTR */
		border-radius: 0px;
  }
  li.active, li:hover {
    border-bottom: 1px solid $tabs-container-bg;
    margin-bottom: -1px; /* Overlap the ul's border. */
		margin-top: 0;
  }

  a:link,
  a:visited {
    color: #333;
    background-color: white;
  }
  a:hover,
  a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
		font-weight: bold;
		border-top: 3px solid #1C8DA6;
  }
  a.active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
    border-color: #fff;
  }
}

/*
 * Secondary tabs
 */

ul.secondary{
  font-size: .9em;
  margin-top: -1.5em; /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;

  a:link,
  a:visited {
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  a:hover,
  a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  a.active,
  a:active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }
}
/*
 * Quicktabs tabs
 */

ul.quicktabs-tabs {
	text-indent: 0 !important;
  li {
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    border-bottom: 0;
    margin: 0.5em 0 0 3px; /* LTR */
		padding: .5em 1em;
		border-radius: 0px;
		font-family: $arial;
		font-weight: bold;
  }
  li.active, li:hover {
    border-bottom: 1px solid $tabs-container-bg;
    margin-bottom: -1px; /* Overlap the ul's border. */
		margin-top: 0;
		border-top: 3px solid #1C8DA6;
    background-color: #e9e9e9;
  }
  a:link,
  a:visited {
    color: #333;
    background-color: white;
  }
  a:hover,
  a:focus {
    border-color: #f2f2f2;
		font-weight: bold;
  }
  a.active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
  }
}

