/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}



/* -------------------  Sponsors  ------------------- */


/*  Sponsor Pages */

#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 {
		ul {
    float: left;
    list-style-type: none;
    margin: 0;
    width: 100%;
		li.Diamond {
			width: 50%;
			float: left;
			height: 110px !important;
			margin: 1em 0;
			text-align: center;
			transition-duration: 0.15s;
			transition-property: all;
				a {
				display: block;
				line-height: 100px;
				text-align: center;
				 img {
					display: inline-block;
					margin: 0 auto;
					max-height: 100px;
					max-width: 100%;
					transition-duration: 0.15s;
					transition-property: all;
					vertical-align: middle;
				}
					img:hover  {
						opacity: 0.75;
					}
				}
			}
			li.Platinum {
			width: 50%;
			float: left;
			height: 215px;
			margin: 1em 0;
			text-align: center;
			transition-duration: 0.15s;
			transition-property: all;
				a {
				display: block;
				line-height: 215px;
				text-align: center;
				 img {
					display: inline-block;
					margin: 0 auto;
					max-height: 215px;
					max-width: 80%;
					transition-duration: 0.15s;
					transition-property: all;
					vertical-align: middle;
				}
			}
		}
		li.Gold, li.Games, li.Day, li.Stage {
			width: 33%;
			float: left;
			height: 150px;
			margin: 1em 0;
			text-align: center;
			transition-duration: 0.15s;
			transition-property: all;
				a {
				display: block;
				line-height: 150px;
				text-align: center;
				 img {
					display: inline-block;
					margin: 0 auto;
					max-height: 150px;
					max-width: 65%;
					transition-duration: 0.15s;
					transition-property: all;
					vertical-align: middle;
				}
			}
		}
		li.Silver, li.Bronze, li.Add-on, li.Media {
			width: 33%;
			float: left;
			height: 140px;
			margin: 1em 0;
			text-align: center;
			transition-duration: 0.15s;
			transition-property: all;
				a {
				display: block;
				line-height: 140px;
				text-align: center;
				 img {
					display: inline-block;
					margin: 0 auto;
					max-height: 140px;
					max-width: 65%;
					transition-duration: 0.15s;
					transition-property: all;
					vertical-align: middle;
				}
			}
		}
	}
}


/*  Gold Footer  see also pages.scsss */

#block-drupalorg-drupalcon-drupalcon-sponsors-block-2 {
		li.Platinum {
			width: 25%;
			float: left;
			height: 150px;
			margin: 1em 0 0 0;
			text-align: center;
			transition-duration: 0.15s;
			transition-property: all;
				a {
				display: block;
				line-height: 145px;
				text-align: center;
				 img {
					display: inline-block;
					margin: 0 auto;
					max-height: 145px;
					max-width: 65%;
					transition-duration: 0.15s;
					transition-property: all;
					vertical-align: middle;
				}
			}
		}
}

/* -------------------  Sessions ------------------- */
.page-program-sessions {
	.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0.3em;
	}
}
.page-program-sessions {
	#content.columns {
			background:none;
			padding: 1.571em 2em 1.571em 1.571em;
	}
}

.sessions-custom-overrides  {
	table.views-table {
		width: 100% !important;
		border-collapse: collapse;
		thead {
			th {
				font-family:Arial, Helvetica, sans-serif !important;
				font-weight:bold;
				text-transform:uppercase !important;
				color:#464646;
				font-size:1.1em !important;
				padding: 14px 12px !important;
			}
		}
		tbody {
			td {
				padding: 14px 12px !important;
				font-style: normal;
				font-weight: normal;
				line-height: 1.1;
				text-rendering: optimizelegibility;
				h1, h2, h3, h4, h5, h6 {
					margin: 0;
				}
			}
		}
	}
}


td.experience-level {
	color: #669933;
	text-transform:uppercase;
	font-family: "LeagueGothicRegular",sans-serif;
	font-size:1.5em;
	width:11%;
}

td.track {
	color:#464646;
	text-transform:uppercase;
	font-family: "LeagueGothicRegular",sans-serif;
	font-size:1.5em;
	width:9%;
}

/* -------------------  Speakers  ------------------- */

.page-conference-admin-contact-speakers {
	#content.columns {
			background:none;
			padding: 1.571em 2em 1.571em 1.571em;
			.container-inline {
				border:none;
			}
		table.views-table {
		width: 100% !important;
		border-collapse: collapse;
			thead {
				th {
					font-family:Arial, Helvetica, sans-serif !important;
					font-weight:bold;
					text-transform:uppercase !important;
					color:#464646;
					font-size:1.1em !important;
					padding: 14px 12px !important;
				}
			}
			tbody {
				td.views-field-title {
					line-height: 1.1em;
				}
			}
		}
	}
}

/* -----------------------  Session Node Pages   ----------------------- */
fieldset.collapsible {
  padding: 1em;
}

legend .fieldset-legend {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.fieldset-wrapper .field {
  margin: 1em 0;
}
.fieldset-wrapper .field-label,
.field-name-field-speakers .field-label,
.field-name-field-speaker-experience .field-label,
.field-name-field-session-objectives .field-label {
  color:#669933;
	text-transform:uppercase;
	font-family: Arial,Helvetica,sans-serif;
	font-size:1em;

}

.field-name-field-speakers.field-label-inline .field-items,
.field-name-field-speakers.field-label-inline .field-label {
  float: none;
}

.field-name-field-speakers {
  margin: 1em 1em 2em 0em;
}

.field-name-field-speakers .field-items .field-item {
  margin: 0.5em 0 0 0;
}

.field-name-field-speaker-agreement {
  display: none;
}

.field-name-field-speaker-experience .field-label,
.field-name-field-session-objectives .field-label {
  margin-top: 1em;
}

.field-name-field-speaker-experience .field-item,
.field-name-field-session-objectives .field-item {
  line-height: 1.5em;
}

#block-views-slideshow-block {
	margin-bottom: 0 !important;
}

/* -----------------------  Attendee Pages   ----------------------- */
.attendees-custom-overrides {
	.views-exposed-form {
		.views-exposed-widget	{
			width: 20%;
			padding-bottom: 0.85em;
		}
		.views-widget-filter-uid	{
			width: 31%;
			padding-bottom: 0em;
			.form-autocomplete {
				margin-bottom: 0.5em;
				background-position: 100% 0.7em;
			}
		}
		.views-submit-button	{
			width: 8%;
			#edit-submit-attendees {
				margin-top: 10px;
			}
		}
	}
	table.cols-5 {
		max-width: 100%;
		tr{
			border-bottom: 1px solid #D1E5F7;
			td {
				text-align:center;
				padding: 1em 0.5em 0.5em;
				width: 20%;
				.views-field-name a{
					font-weight:bold;
					text-decoration:underline;
					color: #00598E;
				}
				.views-field-nothing, .views-field-field-profile-org {
					font-size: 1em;
				}
			}
		}
	  tr:nth-child(2n) {
		background-color: #F5F9FD;
		}
	}
}
/* Attempting to resolve Autocomplete issue: Refer to http://drupal.org/node/1349168 */
.attendees-custom-overrides	#autocomplete ul { margin:0; background:#ffffff; color:#2e2e2e; }
.attendees-custom-overrides	#autocomplete ul li { margin:0; }
.attendees-custom-overrides	#autocomplete ul li:hover,
.attendees-custom-overrides	#autocomplete ul li.selected { color:#00598E; font-weight:700; background:#ffffff; }
.attendees-custom-overrides	#autocomplete ul div {
				cursor:pointer;
				position:relative;
				display:block;
				width:100%;
				padding:0  !important;
				margin:0;
			}
