.l-constrained {
  padding: 0 1em;
  max-width: $max-width;
}

/* HEADER AREA */
@include breakpoint (60em, true) {
  .l-page {
  }
}

.l-header {
  .l-constrained {
    padding: 0;
  }
}

@include breakpoint (900px, true) {
  .l-header {
    .l-constrained {
      padding: 0 1em;
    }
  }
}

.l-header-wrapper {
  background: $c-brand-beige-light image-url('bg-pattern.jpg') repeat center;

  .not-front & {
    margin-bottom: 1.5em;
  }

  .l-constrained {
    @include cf;
  }

  .l-navigation {
    background: $c-brand-gray;
  }
}

.l-branding {
  position: relative;
  left: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  padding: 10px 0;
  width: 100%;
  clear: left;

  &:hover {
    opacity: .7;
  }

  .site-logo {
    display: inline-block;
  }

  .site-name {
    text-indent: -5000em;
    display: inline-block;
    background: transparent image-url('title-mobile.png') no-repeat center;
    width: image-width('title-mobile.png');
    height: image-height('title-mobile.png');
    clip: auto;
    position: static!important;
  }
}

@include breakpoint(900px, true) {
  .l-branding {
    float: left;
    width: 74%;

    .site-logo {
      position: absolute;
      left: 0;
      z-index: 1;
      float: left;
    }

    .site-name {
      background-image: image-url('title.png');
      width: image-width('title.png');
      height: image-height('title.png');
    }
  }
}

.l-region--header-first {
  width: 89%;
  margin: 0;
  margin-left: 11%;
  }

@include breakpoint(900px, true) {
  .l-region--header-first {
    width: 25%;
    float: right;
    margin-left: 0;
  }
}

@include breakpoint($desk, true) {
  .l-page-wrapper {
    background: none;
  }
}

/* NAVIGATION */

/* OFF CANVAS */
@include breakpoint($desk, true) {
  .l-off-canvas {
    background: none;
  }
}

.l-off-canvas-hide,
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  @include hide-text;
}

.l-off-canvas-hide {
  @include off-canvas-sprite(close);
}
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  margin: .5em;
  padding: 1em;
  top: 0;
}

.l-off-canvas-show--left {
  @include off-canvas-sprite(menu);
  left: 0;
  width: 8%;
}
.l-off-canvas-show--right {
  @include off-canvas-sprite(user);
  right: 0;
  width: 8%;
}

.l-off-canvas-hide--left {
  margin-left: -(image-width("../images/off-canvas/close.png") + 20px);
}
.l-off-canvas-hide--right {
  margin-right: -(image-width("../images/off-canvas/close.png") + 20px);
}

.l-off-canvas--left,
.l-off-canvas--right {
  @include breakpoint(0 $desk) {
    overflow: hidden;
    padding-top: $vert-spacing-unit * 2;
    background: $maroon;
  }
}

.off-canvas-right-is-visible {
  .l-off-canvas--right {
    @include box-shadow(0 0 50px 5px rgba(black, .9));
  }
}
.off-canvas-left-is-visible {
  .l-off-canvas--left {
    @include box-shadow(0 0 50px 5px rgba(black, .9));
  }
}

@include breakpoint($desk, true) {
  .l-navigation {
    background: rgba($black, .1);
    height: 47px;
    padding-top: 12px;
  }

  .l-header--sticky-nav {
    .l-navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background: rgba($black, .75);
    }
  }
}

/* HIGHLIGHTED AREA */
.l-highlighted-wrapper {
  background: $c-brand-beige-light image-url('bg-hilite.jpg') repeat-x center top;
  border-bottom: 10px solid $c-brand-green;
  margin-bottom: 3em;
}

.l-region--highlighted {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  height: 455px;
}

.l-region--ribbon {
  position: relative;
  width: auto;
  left: auto;
  text-align: center;
}

/* CONTENT AREA */
.l-content {
  padding: ($vert-spacing-unit * 2.5) $vert-spacing-unit 3em $vert-spacing-unit;
  background: #fff;

  .pager {
    margin: 0 -20px;
  }
}


.l-main {
  .l-content {
    background: $white;
    position: relative;
  }
}

@include breakpoint($desk) {
  .l-content {
    margin-bottom: 2em;
  }
}

.l-region--sidebar-first .block {
  margin-bottom: 2em;
  padding-bottom: $vert-spacing-unit * 2;
}

/* FOOTER */
.l-region--bottom,
.l-region--footer {
  margin: 0;
}

.l-region--bottom {
  padding: 0;
}

.l-region--footer {
  padding: 2em 0;

  .block {
    margin-bottom: $vert-spacing-unit * 2;
  }
}

.l-appendix {
  .front & {
    background: $c-brand-acqua;
    color: #fff;
    overflow: hidden;
    padding: 2em 0;
  }
}

.l-sponsors {
}

.l-footer-links {
  background: #fff image-url('img-footer.png') no-repeat right bottom;
}

.l-footer-bottom {
  background: $c-brand-gray;
  color: #fff;
  padding: 1em 0;
  font-weight: 100;
}
