/**
 * $VIEW-SPONSORS-DIAMOND
 */

.view--sponsors--block-diamond {
  @include breakpoint(0, true) {
    .view-content {
      background: rgba($white, .8);
    }

    .views-row {
      position: relative;
      margin-bottom: 0;
      padding: 0;
      display: inline-block;
      width: 49%;

      a {
        &:hover {
          opacity: .5;
        }
      }

      img {
        padding: ($vert-spacing-unit / 2) $vert-spacing-unit;
      }
    }
  }

  @include breakpoint($desk, true) {
    .view-content {
      background: rgba($white, 0.8);
      height: 71px;
      display: inline-block;
      width: auto;

      .views-row-first:before,
      .views-row-last:after {
        display: block;
        position: absolute;
        content: "";
        width: 20px;
        height: 71px;
        top: 0;
        border-bottom: 71px solid rgba(255, 255, 255, 0.8);
      }

      .views-row-first:before {
        left: -20px;
        border-left: 20px solid transparent;
      }

      .views-row-last:after {
        right: -20px;
        border-right: 20px solid transparent;
      }
    }

    .views-row {
      display: inline-block;
      width: auto;
      width: 200px;

      a {
        height: 71px;
        line-height: 66px;
        display: inline-block;
      }

      img {
        width: 80%;
        vertical-align: middle;
        padding: 0;
      }
    }

    &.view-row-count-2 {
      .views-row-1 {
        padding-right: 60px;
      }

      .views-row-2 {
        padding-left: 60px;
      }
    }

    &.view-row-count-4 {
      .views-row-2 {
        padding-right: 60px;
      }

      .views-row-3 {
        padding-left: 60px;
      }
    }
  }
}
