/**
 * $VIEWS-EXPOSED
 */

.views-exposed-form {
  .views-exposed-widget {
    display: inline-block;
    float: none;
    vertical-align: top;

    .form-submit {
      margin-top: 1.85em;
    }
  }

  label {
    color: $brown;
    font-weight: 700;
    @include font-size(15px);
  }

  .views-widget {
    margin-top: .3em;
  }

  .form-text {
    padding: .85em;
  }

  .form-submit {
    height: 2.9em;
    line-height: 2.9em;
  }
}

.view-drupalcon-schedule {
  .schedule-item {
    .schedule-room-title,
    .session-speaker {
      width: 50%;

      @include breakpoint($mob) {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}

.view-drupalcon-schedule .views-widget-filter-field_track_value {
  background: $off-white;
  width: 100%;
  padding: 0;

  & > label { // @todo use a more sensible selector
    display: block;
    padding: .8em $horz-spacing-unit .7em $horz-spacing-unit;
    margin-bottom: 0;
    background: $red-alt;
    color: $white;
    text-align: left;
    @include font-size(24px);
    font-family: $regular-font-family;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: normal;
    border-left: 10px solid $black;
  }

  .views-widget {
    margin-top: 0;
    padding: 1em 0;
  }

  .form-type-bef-checkbox {
    margin: 0;
  }

  .form-checkboxes {
    @extend .clearfix;
    .form-item {
      float: left;
      width: 100%;
    }

    @include breakpoint(550px) {
      .form-item {
        width: 50%;
      }
    }
  }

  .form-type-bef-checkbox label.option {
    display: block;
    padding: 0.8em 1.3em;
    padding-left: 60px;
    margin: 0;
    min-height: image-height('track-icon/ams-drupal-org.png');
    background: transparent image-url('track-icon/ams-drupal-org.png') left center no-repeat;
    color: $darkest-grey;
    @include font-size(16px);
    line-height: 1.25em;
    cursor: pointer;
    font-weight: normal;
    font-family: $regular-font-family;
    text-transform: uppercase;

    &:hover {
      background-color: $off-white;
    }
  }

  .form-type-bef-checkbox input {
    display: none;
  }

  .form-item-edit-field-track-value-coding-and-development label.option {
    background-image: image-url('track-icon/ams-coding-and-development.png');
  }
  .form-item-edit-field-track-value-drupal-business label.option {
    background-image: image-url('track-icon/ams-drupal-business.png');
  }
  .form-item-edit-field-track-value-case-studies label.option {
    background-image: image-url('track-icon/ams-case-studies.png');
  }
  .form-item-edit-field-track-value-core-conversations label.option {
    background-image: image-url('track-icon/ams-core-conversations.png');
  }
  .form-item-edit-field-track-value-devops label.option {
    background-image: image-url('track-icon/ams-devops.png');
  }
  .form-item-edit-field-track-value-frontend label.option {
    background-image: image-url('track-icon/ams-frontend.png');
  }
  .form-item-edit-field-track-value-php label.option {
    background-image: image-url('track-icon/ams-php.png');
  }
  .form-item-edit-field-track-value-site-building label.option {
    background-image: image-url('track-icon/ams-site-building.png');
  }
  .form-item-edit-field-track-value-drupalorg label.option {
    background-image: image-url('track-icon/ams-drupal-org.png');
  }
  .form-item-edit-field-track-value-business-showcase label.option {
    background-image: image-url('track-icon/ams-business-showcase.png');
  }
  .form-item-edit-field-track-value-featured-event label.option {
    background-image: image-url('track-icon/ams-community-events.png');
  }
}
