/**
 * $VIEW-SCHEDULE
 */

.page-program-schedule {
  h1 {
    font-family: $regular-font-family;
    text-transform: uppercase;
    color: $black;
    font-size: 2.2rem;
    letter-spacing: 0.26em;
  }
}

.view-schedule {
  .tabs {

    @include breakpoint($mob) {
      margin-bottom: 18px;
    }
    li {
      width: 20%;
      margin-bottom: 26px;

      @include breakpoint($mob) {
        width: 100%;
        margin-bottom: 2px;
        float: none;
      }
      a {
        background: $pale-brown-alt;
        color: $white;
        display: block;
        width: 98%;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0;

        &::after {
          @include breakpoint($mob) {
            display: none;
          }
        }
        &:hover {
          background: $red-alt;
        }
        @include breakpoint($mob) {
          width: 100%;
        }
      }

      &.friday {
        a {
          width: 100%;
        }
      }
      .page-program-schedule-monday &.monday,
      .page-program-schedule-tuesday &.tuesday,
      .page-program-schedule-wednesday &.wednesday,
      .page-program-schedule-thursday &.thursday,
      .page-program-schedule-friday &.friday {
        a {
          background: $red-alt;
        }
      }
    }

  }

  .section-title {
    background: $maroon;
    color: $white;
    border-left: 1px solid $maroon;
    border-right: 1px solid $pale-grey;
    text-transform: uppercase;
    font-family: $regular-font-family;
    letter-spacing: .2em;
    @include font-size(26px);
    margin: 0;
    overflow: hidden;

    .slot_day,
    .slot_time {
      text-align: left;
      padding: .6em $vert-spacing-unit .5em $vert-spacing-unit;
      float: left;
    }
    .slot_day {
      width: 66%;
    }
    .slot_time {
      background: $dark-maroon;
      width: 34%;
    }
    @include breakpoint($mob) {
      .slot_day,
      .slot_time {
        float: none;
        width: 100%;
      }
    }
  }

  .schedule-list {
    border-left: 1px solid $pale-grey;
    border-right: 1px solid $pale-grey;

    &:last-child {
      .views-row-last {
        border-bottom: 1px solid $pale-grey;
      }
    }
  }

  .session-title,
  .views-field-title {
    margin-bottom: $vert-spacing-unit;

    a {
      color: $darkest-grey;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-family: $regular-font-family;
      @include font-size(20px);

      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .schedule-item {
    background: $white;
    border-bottom: 1px solid $pale-grey;
    position:  relative;

    @include breakpoint($mob) {
      padding-right: 18px;
      padding-bottom: 94px;
    }

    &.views-row-last {
      border-bottom: 0;
    }

    .session-title {
      margin-bottom: $vert-spacing-unit;
    }
  }

  .experience-level {
    position: absolute;
    top: 20px;
    right: 4px;
    height: image-height("../images/difficulty/advanced.png");
    width: image-width("../images/difficulty/advanced.png");

    @include breakpoint($mob) {
      top: auto;
      bottom: 28px;
    }
    &.Beginner {
      @include difficulty-sprite(beginner);
    }
    &.Intermediate {
      @include difficulty-sprite(intermediate);
    }
    &.Advanced {
      @include difficulty-sprite(advanced);
    }
  }

  .schedule-room-title,
  .views-field-field-session-room {
    background: transparent image-url('schedule/location.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;
    color: $dark-grey;

    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .session-speaker {
    background: transparent image-url('schedule/speaker.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;
    width: 50%;

    @include breakpoint($mob) {
      width: 100%;
    }
    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .flag-action {
    @include schedule-sprite(calendar);
  }
  .unflag-action {
    @include schedule-sprite(calendar-remove);
  }
  .flag-action,
  .unflag-action {
    background-color: transparent;
  }

  .flag-session-schedule {
    @include font-size(10px);
    margin-top: -.5em;

    a {
      height: image-height("../images/schedule/calendar.png");
      width: image-width("../images/schedule/calendar.png");
      display: block;
      padding: 0;
    }
    @include breakpoint($mob) {
      float: none;
      display: block;
      border-top: 1px solid $pale-grey;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0px;
      left: 0px;
      height: 66px;
      width: 100%;

      a {
        margin: 16px;
      }
    }
  }

  .flag-message {
    @include font-size(11px);
    top: .3em;
    left: 10%;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
  }

  .track-icon {
    @include hide-text;
    height: image-height("../images/track-icon/ams-drupal-org.png");
    width: image-width("../images/track-icon/ams-drupal-org.png");
    margin-left: -24px;
  }
  .track-icon.trackCoding {
    @include track-icon-sprite(ams-coding-and-development);
  }

  .track-icon.trackDrupal {
    @include track-icon-sprite(ams-drupal-business);
  }
 .track-icon.trackCase {
    @include track-icon-sprite(ams-case-studies);
  }
  .track-icon.trackCore {
    @include track-icon-sprite(ams-core-conversations);
  }
  .track-icon.trackDevOps {
    @include track-icon-sprite(ams-devops);
  }
  .track-icon.trackFrontend {
    @include track-icon-sprite(ams-frontend);
  }
  .track-icon.trackPHP {
    @include track-icon-sprite(ams-php);
  }
  .track-icon.trackSite {
    @include track-icon-sprite(ams-site-building);
  }
  .Drupalorg .track-icon {
    @include track-icon-sprite(ams-drupal-org);
  }
  .track-icon.trackBusiness {
    @include track-icon-sprite(ams-business-showcase);
  }
  .track-icon.trackFeatured {
    @include track-icon-sprite(ams-community-events);
  }
  .track-icon.trackDrupalorg {
    @include track-icon-sprite(ams-drupal-org);
  }
  @include breakpoint(580px) {
    .schedule-item .flag-session-schedule {
      margin-top: 0;
      border-left: 1px solid $pale-grey;

      .flag {
        margin-top: -(image-height('schedule/calendar.png') / 2);
        margin-left: (80px - image-height('schedule/calendar.png')) / 2;
      }
    }
  }

  @include breakpoint($tab) {
    .schedule-item {
      position: relative;

      .track-icon {
        margin-right: 60px - image-width("../images/track-icon/ams-drupal-org.png");
        margin-bottom: 0px;
        margin-left: -20px;
      }
      .experience-level {
        margin-right: 60px - image-width("../images/difficulty/advanced.png");
      }
    }
  }
}
