/**
 * $VIEW-SPONSORS
 */

.view-sponsors-page {
  h4 {
    text-transform: uppercase;
    color: $black;
    @include font-size(24px);
    font-family: $regular-font-family;
    letter-spacing: .1em;
    margin: ($vert-spacing-unit * 1.5) 1%;
  }

  .views-row {
    background: $off-white;

    img {
      &:hover {
        opacity: .5;
      }
    }
  }

  .views-field-field-sponsor-module-level {
    @include font-size(16px);
    margin-top: $vert-spacing-unit / 2;
    color: $dark-grey;
  }
}
