.view-drupalcon-bofs {

  .tabs {
    margin: 0;
    padding: 0;

    @include breakpoint($mob) {
      margin-bottom: 18px;
    }
    li {
      width: 20%;
      margin-bottom: 26px;

      @include breakpoint($mob) {
        width: 100%;
        margin-bottom: 2px;
        float: none;
      }
      a {
        background: $pale-brown-alt;
        color: $white;
        display: block;
        width: 98%;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0;

        &::after {
          @include breakpoint($mob) {
            display: none;
          }
        }
        &:hover {
          background: $red-alt;
        }
        @include breakpoint($mob) {
          width: 100%;
        }
      }
      &.monday a,
      &.friday a{
        color: darken($pale-grey, 15%);
        background: $pale-grey;
      }

      &.friday {
        a {
          width: 100%;
        }
      }
    }

  }

  .time-label {
    padding: 0.6em $vert-spacing-unit;
    margin-bottom: 0;
    background: $maroon;
    color: #fff;
    text-transform: uppercase;
    font-family: $regular-font-family;
    letter-spacing: .2em;
    @include font-size(26px);
  }

  .schedule-item {
    background: $off-white;
    padding: $vert-spacing-unit;
    border-bottom: 1px solid $pale-grey;
    border-left: 1px solid $pale-grey;
    border-right: 1px solid $pale-grey;
  }

  .session-title {
    margin-bottom: $vert-spacing-unit / 2;

    a {
      color: $darkest-grey;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-family: $regular-font-family;
      @include font-size(20px);

      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .schedule-room-title {
    background: transparent image-url('schedule/location.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;
    color: $dark-grey;
    width: 11em;
    margin-bottom: 0.5em;
    padding-left: 30px;

    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }
}
