/**
 * $COMMENTS
 */

.block--commentsblock-comment-form-block {
  background: #fff;
  margin-top: $vert-spacing-unit * 1.25;

  .comments__title,
  .comments__form-title {
    width: 100%;
    text-transform: uppercase;
    @include font-size(16px);
    padding: 0.5em 1em;
    font-family: $regular-font-family;
  }

  .comments__title {
    border-bottom: 1px solid lighten($c-brand-gray, 40);
    padding-left: 24px;
    background: image-url('icon-fb.png') no-repeat 1em center;
    margin: 0 1em 2em;
  }

  .comments__form-title {
    background: $black;
    color: #fff;
    margin-bottom: 0;
  }

  .comment {
    margin: 0 3em 1em;
    clear: both;
    float: none;
  }

  .comment__title {
    margin-bottom: .5em;
  }

  .comment__info {
    margin-bottom: 0.6em;
    color: $brown;
  }

  .comment__info,
  .comment__links {
    @include font-size(14px);
    font-weight: normal;
  }

  .user-picture {
    float: left;
    margin-right: 1em;
    width: 50px;
  }

  .comment-form {
    @include font-size(15px);
    padding: $vert-spacing-unit $vert-spacing-unit ($vert-spacing-unit / 2) $vert-spacing-unit;
    background: lighten($pale-grey, 6.5%);

    a {
      color: $maroon;

      &:hover,
      &:focus {
        color: $red;
      }
    }
  }

  .fieldset-wrapper {
    border: 0;
  }

  .filter-wrapper {
    margin: 0;

    .fieldset-wrapper {
      padding: $vert-spacing-unit 0;
    }
  }
}
