$black        : #000;
$red          : #ef262b;
$maroon       : #9b2023;
$dark-maroon  : #851b1d;
$white        : #fff;
$off-white    : #f8f8f8;
$pale-grey    : #ececec;
$grey         : #959595;
$dark-grey    : #646464;
$darkest-grey : #333;
$pale-brown   : #c5beba;
$brown        : #583a24;


$c-brand-main:        #CC3D1F; // burnt orange
$c-brand-dark-orange: darken($c-brand-main, 5);
$c-brand-gray:        #282828;
$c-brand-beige-light: #F4F3EE;
$c-brand-beige-dark:  #E0DFDA;
$c-brand-acqua:       #26A2A2;
$c-fb:                #5B80C3;
$c-tw:                #00B4E7;
$c-brand-green:       #A5C21C;
$c-brand-blue:        #1180C5;
