/**
 * $VARIABLES-TYPOGRAPHY
 */

@import "compass/typography/vertical_rhythm";

$base-font-size: 14px;
$base-line-height: 15px;

$fstack-museo:        "museo_sans", Arial, "Helvetica Neue", sans-serif;

$base-font-family:    $fstack-museo;
$regular-font-family: $fstack-museo;
$bold-font-family:    $fstack-museo;

