/**
 * $FIELDSETS
 */

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;

  .fieldset-title {
    background-color: $red;
    color: $off-white;
  }
  .fieldset-wrapper {
    border: 1px solid $earth;
  }
}

html.js fieldset.collapsible {
  .fieldset-title {
    &:hover,
    &:focus {
      background-color: $pale-red;
      color: $off-white;
    }
  }
}

legend {
  text-transform: uppercase;
  color: $pale-red;
  font-weight: bold;
  @include font-size(18px);
  margin-top: 0.5em;
  letter-spacing: 0.1em;
}
