/**
* $FORM-ITEM
*/
.form-item {
  margin-bottom: 1.8em;
  .form-required {
    color: $red;
  }
  label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $brown;
  }
  .form-select,
  .form-text,
  .form-textarea {
    background-color: $off-white;
    border: none;
  }
}

.form-checkboxes,
.form-radios {
  .form-item {
    margin-bottom: 0.6em;
    label {
      text-transform: none;
      letter-spacing: 0;
      margin-left: 0.5em;
    }
  }
}

input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba($red, 0.3));
    outline: 0;
  }
}

.selector {
  background: $off-white image-url('../images/select-control.png') center right no-repeat;
  padding: 0.65em (image-width('../images/select-control.png') + 20px) 0.65em 1em;
  border: 1px solid $off-white;
  color: $red;
  &.hover {
    border-color: $beige;
    background-color: $beige;
    background-image: image-url('../images/select-control-hover.png');
  }
  &.focus {
    @include box-shadow(0 0 6px 2px rgba($red, 0.5));
    outline: 1px solid $beige;
  }
  .form-select {
    padding: 0.8em (image-width('../images/select-control.png') + 20px) 0.8em 1em;
  }
  option {
    background: $beige;
    color: $red;
  }
}

.resizable-textarea {
  .grippie {
    background-color: $off-white;
  }
}

html.js input.form-autocomplete {
  background: $off-white url('../images/throbber.gif') no-repeat 99% -60px;
}
html.js input.throbbing {
  background-position: 99% 10px;
}
