.webform-client-form {
  margin-top: $vert-spacing-unit * 2;

  .webform-datepicker {
    padding-top: 0.4em;
  }

  .webform-container-inline {
    label {
      display: block;
    }
  }
  .webform-component-fieldset {
    legend {
      margin-bottom: 1em;
    }
  }
}
