/**
 * $FIELDSETS
 */

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;

  .fieldset-title {
    background: $red;
    color: $off-white;
    font-weight: normal;
    padding: 1em 1em .9em 1em;
  }

  .fieldset-wrapper {
    border: 1px solid $pale-grey;
    padding: $vert-spacing-unit ($vert-spacing-unit * 1.25) ($vert-spacing-unit * 0.75) ($vert-spacing-unit * 1.25);
  }

  legend {
    margin: 1em 0 .5em 0;
  }

  &.collapsible {
    legend {
      margin-bottom: 0;
    }
  }

  .field {
    margin-bottom: $vert-spacing-unit / 2;
  }

  .form-wrapper:last-child {
    margin-bottom: 0;
  }
}

html.js fieldset.collapsible {
  .fieldset-title {
    &:hover,
    &:focus {
      background-color: $maroon;
      color: $white;
    }
  }
}

legend {
  text-transform: uppercase;
  color: $red;
  font-family: $regular-font-family;
  margin-top: .5em;
  letter-spacing: .2em;
}

div.vertical-tabs {
  @include font-size(15px);
  border-color: $pale-grey;
  margin-bottom: $vert-spacing-unit * 2;
}

.vertical-tabs ul.vertical-tabs-list {
  border-color: $pale-grey;

  li {
    border-color: $pale-grey;
    background: $off-white;

    a {
      padding: .5em 1em;
    }
  }
}
