/**
* $FORM-ITEM
*/

.form-item {
  margin-bottom: 1.8em;

  .form-required {
    color: $red;
  }

  label {
    color: $brown;
    font-weight: 700;
    @include font-size(15px);
  }

  .form-select,
  .form-text,
  .form-textarea {
    background-color: $off-white;
    border: none;
    @include font-size(15px);
    color: $darkest-grey;
    line-height: 1em;
    border-radius: 0;
  }

  .description {
    @include font-size(14px);
    margin-top: .4em;
    line-height: 1.5em;
  }

  th {
    label {
      color: $white;
      font-size: $base-font-size;
    }
  }
}

.form-checkboxes,
.form-radios,
.form-type-checkbox {
  .form-item {
    margin-bottom: .6em;
  }

  label {
    text-transform: none;
    letter-spacing: 0;
    margin-left: .5em;
    font-family: $base-font-family;
    color: $black;
    @include font-size(15px);
    color: $darkest-grey;
    font-weight: normal;
  }
}

input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba($maroon, .3));
    outline: 0;
  }
}

input[type=checkbox],
input[type=radio],
input[type=file] {
  &:focus {
    box-shadow: none;
  }
}

input[type=file] {
  @include font-size(14px);
}

.sticky-table {
  tr .form-item {
    white-space: normal;
  }
}

.resizable-textarea {
  .grippie {
    background-color: $off-white;
    border: 1px solid $off-white;
    margin-top: -($vert-spacing-unit / 2);
  }
}

#autocomplete {
  @include font-size(15px);
}

.filter-wrapper {
  @include font-size(16px);

  .form-wrapper {
    margin-bottom: 0;
  }

  .tips {
    margin-bottom: 0;
  }

  .selector {
    margin-top: .5em;
  }
}

.selector {
  background: $off-white image-url('../images/select-control.png') center right no-repeat;
  padding: .65em (image-width('../images/select-control.png') + 20px) .65em 1em;
  border: 0;
  color: $darkest-grey;
  @include font-size(16px);

  &.hover {
    border-color: $pale-grey;
    background-color: $pale-grey;
    background-image: image-url('../images/select-control-hover.png');
  }

  &.focus {
    @include box-shadow(0 0 4px 1px rgba($maroon, .3));
    outline: 0;
  }

  .form-select {
    padding: .5em (image-width('../images/select-control.png')) .5em 1em;
  }

  option {
    background: $pale-grey;
    color: $darkest-grey;
  }
}

html.js .form-autocomplete,
html.js input.form-autocomplete {
    background: $off-white url('../images/throbber.gif') no-repeat;
    background-position: 98% -62px;
}

html.js input.throbbing {
  background-position: 98% 9px;
}

.ajax-progress .throbber {
  background: $white url('../images/throbber-small.gif') no-repeat 0px -18px;
  margin-left: $vert-spacing-unit / 2;
}
