@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
