/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000326}}
.l-header-wrapper,
.l-highlighted-wrapper,
.l-footer,
.l-region {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000332}}
.action-links,
.links,
.pager {
  display: none; }

/* Headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000342}}
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: black; }

/* Links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000347}}
a {
  color: inherit; }

/* Tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000352}}
table {
  border: 1px solid #ececec;
  page-break-inside: avoid; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000356}}
tbody tr {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000359}}
td, th {
  border: 1px solid #ececec;
  padding: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000366}}
th, th a, th a.active {
  color: #959595; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000370}}
th.active img {
  display: none; }

/* Invoice */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000375}}
.page-user-orders {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000380}}
  .page-user-orders .field__item div {
    margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000386}}
.block--invoice {
  line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000389}}
  .block--invoice .print-link {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\0000395}}
.invoice-header__first,
.invoice-header__last {
  width: 100%;
  float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/da-latinamerica-built\/sites\/all\/themes\/drupalcon_base\/bogota2015\/sass\/bogota2015\.print\.scss}line{font-family:\00003101}}
.entity-commerce-order .field--name-commerce-customer-billing,
.entity-commerce-order .registration-list {
  margin-bottom: 40px; }
