/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-OFF-CANVAS
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
.front .l-content > .node {
  background: transparent url(../images/line.png) bottom left no-repeat;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
