/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-OFF-CANVAS
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
.l-header-wrapper,
.l-highlighted-wrapper,
.l-footer,
.l-region {
  display: none;
}

.action-links {
  display: none;
}

/* Headings */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: #373537;
}

h1, .alpha {
  margin-bottom: 0.6em;
  padding-bottom: 0;
  background: none;
}

/* Links */
a {
  color: inherit;
}

/* Tables */
table {
  border: 1px solid #373537;
  page-break-inside: avoid;
}

tbody tr {
  border: none;
}

td, th {
  border: 1px solid #373537;
  padding: 0 0.5em;
}

th, th a, th a.active {
  color: #373537;
}

th.active img {
  display: none;
}

/* Invoice */
.print-link {
  display: none;
}

.invoice-header__first,
.invoice-header__last {
  width: 100%;
  float: none;
}

.entity-commerce-order .field--name-commerce-customer-billing,
.entity-commerce-order .registration-list {
  margin-bottom: 20px;
}
