@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);
/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-OFF-CANVAS
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
.icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.icon-sprite, .icon-arrow-left, .icon-arrow-right, .icon-plus, .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
  background: url('../images/generated/icon-s081144e5cf.png') no-repeat;
}

.icon-arrow-left {
  background-position: 0 -16px;
  height: 19px;
  width: 24px;
}

.icon-arrow-right {
  background-position: 0 -35px;
  height: 19px;
  width: 24px;
}

.icon-plus {
  background-position: 0 0;
  height: 16px;
  width: 16px;
}

.track-icon-sprite, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Drupal-Business, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Developers, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--DevOps, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Frontend, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Site-Builders, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Core-Conversations, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Labs, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Symfony, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Business-Showcase, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--Case-Studies, .view-drupalcon-schedule .schedule-item .track-icon.track-icon--UX-UI {
  background: url('../images/generated/track-icon-sb2fe4c7edb.png') no-repeat;
}

.difficulty-sprite, .view-drupalcon-schedule .schedule-item .experience-level.Beginner, .view-drupalcon-schedule .schedule-item .experience-level.Intermediate, .view-drupalcon-schedule .schedule-item .experience-level.Advanced {
  background: url('../images/generated/difficulty-sc5cae55817.png') no-repeat;
}

.off-canvas-sprite, .l-off-canvas-hide, .l-off-canvas-show--left, .l-off-canvas-show--right, .menu-name-main-menu .nested-menu-item-toggle,
.block--system-user-menu .nested-menu-item-toggle, .menu-name-main-menu .expanded .nested-menu-item-toggle,
.block--system-user-menu .expanded .nested-menu-item-toggle {
  background: url('../images/generated/off-canvas-saf8f27c04a.png') no-repeat;
}

.schedule-sprite, .schedule-calendar-remove, .schedule-calendar, .schedule-location, .schedule-speaker, .view-drupalcon-bofs .schedule-room-title, .view-personal-schedule .views-field-field-session-room, .view-personal-schedule .flag-action, .view-personal-schedule .unflag-action, .view-social-events .views-field-field-location, .view-drupalcon-schedule .schedule-item .schedule-room-title, .view-drupalcon-schedule .schedule-item .flag-action, .view-drupalcon-schedule .schedule-item .unflag-action {
  background: url('../images/generated/schedule-se89b5e48a1.png') no-repeat;
}

.schedule-calendar-remove {
  background-position: 0 0;
}

.schedule-calendar {
  background-position: 0 -52px;
}

.schedule-location {
  background-position: 0 -83px;
}

.schedule-speaker {
  background-position: 0 -31px;
}

.social-sprite, .social-facebook, .social-flickr, .social-google, .social-news, .social-rss, .social-twitter {
  background: url('../images/generated/social-s20608b4602.png') no-repeat;
}

.social-facebook {
  background-position: 0 -210px;
  height: 27px;
  width: 27px;
}

.social-flickr {
  background-position: 0 -126px;
  height: 27px;
  width: 27px;
}

.social-google {
  background-position: 0 -84px;
  height: 27px;
  width: 27px;
}

.social-news {
  background-position: 0 -42px;
  height: 27px;
  width: 27px;
}

.social-rss {
  background-position: 0 0;
  height: 27px;
  width: 27px;
}

.social-twitter {
  background-position: 0 -168px;
  height: 27px;
  width: 27px;
}

/**
 * $BUTTONS
 */
/*
 * Base Button Styles
 */
.button, .button-link {
  background-color: #7c383b;
  color: #fff;
  letter-spacing: 0.1em;
}
.button:hover, .button-link:hover, .button:focus, .button-link:focus {
  background-color: #9f484c;
  color: #f7f4ee;
}

.button--cursive {
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 2em;
  height: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

/**
 * $ROOT
 */
html {
  color: #373537;
  font-family: "Raleway", sans-serif;
  line-height: 22px;
}

/**
 * $TABLES
 */
th {
  background: #7c383b;
  color: #f7f4ee;
}
th.active {
  background: #713336;
  color: #f7f4ee;
}
th img {
  margin-left: 0.4em;
  vertical-align: 0;
}
th a.active {
  color: #f7f4ee;
}
th a.active:hover, th a.active:focus {
  color: #e5e3d2;
}

td.active {
  background-color: #d2caa3;
}

tr,
tr.odd,
tr.even {
  background: #d5ceaa;
  border-bottom: 1px solid #ddd8bb;
}

tr:nth-last-child {
  border: 0;
}

/**
 * $TYPOGRAPHY
 */
a {
  color: #7c383b;
}
a:hover, a:focus {
  color: #c89485;
}

h1, .alpha,
h2, .beta, .checkout-review .pane-title > td,
h3, .gamma,
h4, .delta, .view-personal-schedule .views-field-title,
h5, .epsilon,
h6, .zeta {
  font-weight: 800;
  text-transform: uppercase;
  color: #583a24;
}
h1 a, .alpha a,
h2 a, .beta a, .checkout-review .pane-title > td a,
h3 a, .gamma a,
h4 a, .delta a, .view-personal-schedule .views-field-title a,
h5 a, .epsilon a,
h6 a, .zeta a {
  color: #7c383b;
}
h1 a:hover,
h1 a:focus, .alpha a:hover,
.alpha a:focus,
h2 a:hover,
h2 a:focus, .beta a:hover, .checkout-review .pane-title > td a:hover,
.beta a:focus,
.checkout-review .pane-title > td a:focus,
h3 a:hover,
h3 a:focus, .gamma a:hover,
.gamma a:focus,
h4 a:hover,
h4 a:focus, .delta a:hover, .view-personal-schedule .views-field-title a:hover,
.delta a:focus,
.view-personal-schedule .views-field-title a:focus,
h5 a:hover,
h5 a:focus, .epsilon a:hover,
.epsilon a:focus,
h6 a:hover,
h6 a:focus, .zeta a:hover,
.zeta a:focus {
  color: #583a24;
}

h1, .alpha {
  color: #373537;
  padding-bottom: 25px;
  background: transparent url('../images/line.png?1398293982') left bottom repeat-x;
  font-size: 34px;
  font-size: 2.125rem;
  margin-bottom: 0.8em;
}

h3, .gamma,
h4, .delta, .view-personal-schedule .views-field-title,
h5, .epsilon,
h6, .zeta {
  color: #c89485;
  font-weight: 700;
}

/**
 * $FIELDSETS
 */
fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
fieldset .fieldset-title {
  background-color: #7c383b;
  color: #f7f4ee;
}
fieldset .fieldset-wrapper {
  border: 1px solid #d5ceaa;
}

html.js fieldset.collapsible .fieldset-title:hover, html.js fieldset.collapsible .fieldset-title:focus {
  background-color: #c89485;
  color: #f7f4ee;
}

legend {
  text-transform: uppercase;
  color: #c89485;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
}

/**
* $FORM-ITEM
*/
.form-item {
  margin-bottom: 1.8em;
}
.form-item .form-required {
  color: #7c383b;
}
.form-item label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #583a24;
}
.form-item .form-select,
.form-item .form-text,
.form-item .form-textarea {
  background-color: #f7f4ee;
  border: none;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-bottom: 0.6em;
}
.form-checkboxes .form-item label,
.form-radios .form-item label {
  text-transform: none;
  letter-spacing: 0;
  margin-left: 0.5em;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(124, 56, 59, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(124, 56, 59, 0.3);
  box-shadow: 0 0 4px 1px rgba(124, 56, 59, 0.3);
  outline: 0;
}

.selector {
  background: #f7f4ee url('../images/../images/select-control.png?1398293982') center right no-repeat;
  padding: 0.65em 66px 0.65em 1em;
  border: 1px solid #f7f4ee;
  color: #7c383b;
}
.selector.hover {
  border-color: #e5e3d2;
  background-color: #e5e3d2;
  background-image: url('../images/../images/select-control-hover.png?1398293982');
}
.selector.focus {
  -webkit-box-shadow: 0 0 6px 2px rgba(124, 56, 59, 0.5);
  -moz-box-shadow: 0 0 6px 2px rgba(124, 56, 59, 0.5);
  box-shadow: 0 0 6px 2px rgba(124, 56, 59, 0.5);
  outline: 1px solid #e5e3d2;
}
.selector .form-select {
  padding: 0.8em 66px 0.8em 1em;
}
.selector option {
  background: #e5e3d2;
  color: #7c383b;
}

.resizable-textarea .grippie {
  background-color: #f7f4ee;
}

html.js input.form-autocomplete {
  background: #f7f4ee url("../images/throbber.gif") no-repeat 99% -60px;
}

html.js input.throbbing {
  background-position: 99% 10px;
}

.webform-client-form {
  margin-top: 40px;
}
.webform-client-form .webform-datepicker {
  padding-top: 0.4em;
}
.webform-client-form .webform-container-inline label {
  display: block;
}
.webform-client-form .webform-component-fieldset legend {
  margin-bottom: 1em;
}

body {
  background: #f7f4ee url('../images/tile.png?1398293982') center left repeat;
}

/* Header Area */
.l-header-wrapper {
  background: #020202 url('../images/header-small.jpg?1398293982') center top no-repeat;
  -webkit-box-shadow: 0 15px 60px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 60px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 60px 5px rgba(0, 0, 0, 0.4);
}

.l-header {
  height: 124px;
}

/* Highlighted Area */
.l-highlighted-wrapper {
  position: relative;
  background: transparent url('../images/highlighted-bg-small.jpg?1398293982') center top repeat-x;
  min-height: 210px;
}
.l-highlighted-wrapper:before {
  content: "";
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 0;
  top: 0;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
}
.l-highlighted-wrapper:after {
  content: "";
  position: absolute;
  z-index: 20;
  background: transparent url('../images/midrip.png?1398293982') center top repeat-x;
  height: 7px;
  width: 100%;
  bottom: 0;
}

.front .l-highlighted-wrapper {
  background: none;
}

/* Off Canvas */
.l-off-canvas-hide,
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.l-off-canvas-hide {
  background-position: 0 -60px;
  height: 32px;
  width: 32px;
}

.l-off-canvas-show--left {
  background-position: 0 -24px;
  height: 36px;
  width: 36px;
}

.l-off-canvas-show--right {
  background-position: 0 -92px;
  height: 38px;
  width: 31px;
}

.l-off-canvas-hide--left {
  margin-left: -52px;
}

.l-off-canvas-hide--right {
  margin-right: -52px;
}

.off-canvas-right-is-visible .l-off-canvas--right {
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
}

.off-canvas-left-is-visible .l-off-canvas--left {
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
}

/* Main Content */
.l-main {
  padding-top: 60px;
}

.l-content,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 40px;
}

/* Footer Area */
.l-region--footer {
  position: relative;
  background: #e5e3d2 url('../images/footer-tile.jpg?1398293982') center top repeat;
}
.l-region--footer:after {
  background: transparent url('../images/footer-rip.png?1398293982') center top repeat-x;
  content: "";
  position: absolute;
  height: 49px;
  width: 100%;
  top: -49px;
  left: 0;
}

.l-region--bottom {
  background-color: #e9e7d8;
}

/* Header Area */
.l-header-wrapper {
  background-image: url('../images/header-full.jpg?1398293982');
}

.l-header {
  height: 172px;
}

/* Highlighted Area */
.l-highlighted-wrapper {
  background-image: url("../images/highlighted-bg.jpg");
  min-height: 250px;
}

.l-branding {
  margin-bottom: -1.71em;
}

/* Main Content */
.l-main {
  -webkit-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
  background: #f7f4ee url('../images/tile.png?1398293982') center left repeat;
}

/**
 * $ADMANAGER
 */
.block--google-admanager {
  text-align: center;
}

/**
 * $BLOCK-PRIMARY
 */
.block--primary .block__title {
  background-color: #d5ceaa;
  color: #7c383b;
}
.block--primary .block__content {
  background-color: #f7f4ee;
}

/**
 * $DIAMOND-SPONSOR
 */
.block--views-sponsors-block-diamond {
  padding-bottom: 20px;
  background: transparent url('../images/ribbon-bottom.png?1398293982') center bottom repeat-x;
}
.block--views-sponsors-block-diamond .block__title {
  display: none;
}
.block--views-sponsors-block-diamond .block__content {
  padding: 20px 2em;
}
.block--views-sponsors-block-diamond .block__title {
  display: block;
  margin-bottom: 0;
  padding-top: 24px;
  background-color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #d5ceaa;
  text-align: center;
}
.block--views-sponsors-block-diamond .block__content {
  position: relative;
  padding: 30px 2.5em 13.33333px 2.5em;
  background-color: #FFF;
}

.block--footer {
  font-size: 14px;
  font-size: 0.875rem;
}

/**
 * $HIRING
 */
.hiring {
  display: block;
  padding: 40px 1em;
  background-color: #f7f4ee;
  text-align: center;
}
.hiring:focus .hiring__title, .hiring:hover .hiring__title {
  color: #c89485;
}
.hiring:focus .hiring_subline, .hiring:hover .hiring_subline {
  color: #583a24;
}

.hiring__title {
  font-family: "Lobster", cursive;
  color: #7c383b;
  text-transform: none;
  font-weight: normal;
  font-size: 50px;
  font-size: 3.125rem;
  margin-bottom: 0.3em;
}

.hiring_subline {
  margin-bottom: 0;
  color: #373537;
  text-transform: uppercase;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
}

/**
 * $PLATINUM-SPONSORS
 */
.block--views-sponsors-block-platinum {
  position: relative;
  padding-top: 40px;
}
.block--views-sponsors-block-platinum .block__title {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  color: #373537;
  font-weight: 700;
}
.block--views-sponsors-block-platinum .block__title:before, .block--views-sponsors-block-platinum .block__title:after {
  content: "";
  display: inline-block;
  margin: 0 1em;
  border-top: 1px solid #f7f4ee;
  width: 5em;
  height: 1px;
  vertical-align: 0.3em;
  -webkit-box-shadow: 0 0 20px 3px rgba(120, 110, 59, 0.3);
  -moz-box-shadow: 0 0 20px 3px rgba(120, 110, 59, 0.3);
  box-shadow: 0 0 20px 3px rgba(120, 110, 59, 0.3);
}
.block--views-sponsors-block-platinum .block__content {
  z-index: 10;
  padding: 40px 1em;
  border: 3px solid #f7f4ee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1), 0 0 40px 13px rgba(120, 110, 59, 0.2) inset;
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1), 0 0 40px 13px rgba(120, 110, 59, 0.2) inset;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1), 0 0 40px 13px rgba(120, 110, 59, 0.2) inset;
}

.block--refund {
  width: 100%;
  padding-top: 20px;
  background: transparent url(../images/line.png) top left repeat-x;
}

/**
 * $REGISTER-SIGN
 */
.register-sign {
  display: block;
  text-align: center;
}

.register-sign__image {
  width: 100%;
  max-width: 450px;
}

/**
 * $SOCIAL-LINKS
 */
.social-links__link {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  background: #f7f4ee;
  color: #c89485;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  padding-top: 4px;
  letter-spacing: 0.05em;
}
.social-links__link:hover {
  color: #965c56;
  background-color: white;
}
.social-links__link:hover .social-links__icon {
  background-color: #444244;
}

.social-links__service {
  text-transform: none;
  font-family: "Lobster", cursive;
  font-size: 1.4em;
  font-weight: normal;
}

.social-links__icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: -4px 1.2em 0 0;
  padding: 14px;
  background-color: #373537;
  vertical-align: center;
}
.social-links__icon .social-sprite, .social-links__icon .social-facebook, .social-links__icon .social-flickr, .social-links__icon .social-google, .social-links__icon .social-news, .social-links__icon .social-rss, .social-links__icon .social-twitter {
  display: block;
}

.block--tax {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.block--tax h3,
.block--tax p {
  text-align: left;
}
.block--tax h3 {
  margin: 40px 0 5px 0;
}
.block--tax p:first-of-type {
  font-weight: bold;
}

/**
 * $COMMENTS
 */
.comment__info {
  margin-bottom: 20px;
  font-weight: 700;
  color: #583a24;
}

.commerce-line-item-views-form input.delete-line-item {
  padding: 0 1em;
  line-height: 2em;
}

.checkout-buttons .button, .checkout-buttons .button-link,
.checkout-buttons .button-operator {
  margin-right: 1em;
}
.checkout-buttons .checkout-processing {
  margin-left: -8px;
}
.checkout-buttons .checkout-back,
.checkout-buttons .checkout-cancel {
  padding: 0;
}

.commerce-order-handler-area-order-total:after {
  content: "";
  display: table;
  clear: both;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 100%;
}

.view-commerce-coupon-review-pane {
  margin-top: 20px;
}

.registration_information > .fieldset-wrapper {
  padding: 20px 0;
  border: none;
}

.commerce-checkout-form-registration .field-name-field-badge-first,
.commerce-checkout-form-registration .field-name-field-badge-last,
.commerce-checkout-form-registration .field-name-field-badge-job-title,
.commerce-checkout-form-registration .field-name-field-badge-org {
  float: left;
  width: 48%;
}
.commerce-checkout-form-registration .field-name-field-badge-last,
.commerce-checkout-form-registration .field-name-field-badge-org {
  float: right;
}
.commerce-checkout-form-registration .field-name-field-badge-member,
.commerce-checkout-form-registration .field-name-field-gender,
.commerce-checkout-form-registration .field-name-field-include-my-profile,
.commerce-checkout-form-registration .field-name-field-friday-sprints,
.commerce-checkout-form-registration .field-name-field-registration-volunteer,
.commerce-checkout-form-registration .field-name-field-current-experience-level,
.commerce-checkout-form-registration .field-name-field-company-size,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter,
.commerce-checkout-form-registration .field-name-field-opt-inda-news,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval {
  margin-bottom: 0;
}
.commerce-checkout-form-registration .field-name-field-badge-member:after,
.commerce-checkout-form-registration .field-name-field-badge-member .form-radios:after,
.commerce-checkout-form-registration .field-name-field-badge-member .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-gender:after,
.commerce-checkout-form-registration .field-name-field-gender .form-radios:after,
.commerce-checkout-form-registration .field-name-field-gender .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-radios:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-radios:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-radios:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-radios:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-company-size:after,
.commerce-checkout-form-registration .field-name-field-company-size .form-radios:after,
.commerce-checkout-form-registration .field-name-field-company-size .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-checkboxes:after {
  content: "";
  display: table;
  clear: both;
}
.commerce-checkout-form-registration .field-name-field-badge-member .form-item,
.commerce-checkout-form-registration .field-name-field-gender .form-item,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-item,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-item,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-item,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-item,
.commerce-checkout-form-registration .field-name-field-company-size .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-item,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-item {
  float: left;
  margin-right: 1.5em;
}
.commerce-checkout-form-registration .field-name-field-meal-preference .form-radios,
.commerce-checkout-form-registration .field-name-field-meal-preference .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-radios,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-checkboxes {
  -webkit-column-width: 12em;
  -moz-column-width: 12em;
  -ms-column-width: 12em;
  -o-column-width: 12em;
  column-width: 12em;
}
.commerce-checkout-form-registration .field-name-field-meal-preference .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-meal-preference .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-checkboxes .form-item {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-radios,
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-radios,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-radios,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-radios,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-checkboxes {
  -webkit-column-width: 16em;
  -moz-column-width: 16em;
  -ms-column-width: 16em;
  -o-column-width: 16em;
  column-width: 16em;
}
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-checkboxes .form-item {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.checkout-help {
  margin-bottom: 20px;
}

.checkout-review .pane-title,
.checkout-review .pane-data {
  border: none;
}
.checkout-review .pane-title > td {
  background: #7c383b;
  color: #FFF;
}
.checkout-review .pane-data > td {
  background: #dfdabe;
}

.field--name-commerce-line-items {
  margin-bottom: 0;
}
.field--name-commerce-line-items table {
  margin-bottom: 0;
}

.comment-form #edit-author--2 label {
  margin-bottom: 0;
}
.comment-form .username {
  font-weight: bold;
  color: #c89485;
}
.comment-form .username:hover {
  color: #7c383b;
}
.comment-form .form-item-notify label,
.comment-form .form-item-notify-type label {
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.comment-form .form-item-notify label {
  font-weight: bold;
}
.comment-form #edit-notify-type .form-item-notify-type {
  margin-left: 0;
  margin-right: 1.5em;
}

/**
 * $VERTICAL-TABS
 */
.vertical-tabs-list a {
  background-color: #f7f4ee;
}

.vertical-tabs-list .selected a,
.vertical-tabs-panes {
  background-color: #e5e3d2;
}

.flag-message {
  top: 2.5em;
}

/**
 * $Flexslider
 */
.flexslider {
  background: #d5ceaa;
}

/* Direction Nav */
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  margin-top: -15px;
}
.flex-direction-nav .flex-prev {
  background-position: 0 -16px;
  height: 19px;
  width: 24px;
}
.flex-direction-nav .flex-next {
  background-position: 0 -35px;
  height: 19px;
  width: 24px;
}
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
  margin-top: -36px;
}

/* Pager Nav */
.flex-control-paging a {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 12px;
  width: 12px;
  margin: 5px;
  background-color: #f7f4ee;
  cursor: pointer;
}
.flex-control-paging a.flex-active {
  background-color: #7c383b;
}

.forum .forum-icon {
  margin-right: 1em;
}
.forum .topic-details__name {
  font-weight: bold;
}
.forum .topic-details__description {
  padding-left: 40px;
  font-size: 14px;
  font-size: 0.875rem;
}
.forum .forum-topic__topic-count,
.forum .forum-topic__post-count,
.forum .forum-topic__last-reply,
.forum .forum-topic-list__replies,
.forum .forum-topic-list__last-reply {
  vertical-align: top;
}
.forum .forum-topic__last-reply {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
  padding-top: 18px;
}
.forum .forum-topic-list__title {
  font-weight: bold;
}
.forum .forum-topic-list__title .submitted {
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
}

/**
 * $MESSAGES
 */
.messages,
.messages--status {
  margin-bottom: 20px;
}

/**
 * $SPEAKERS
 */
.speaker {
  background-color: #7c383b;
}

.speaker__info {
  background-color: rgba(124, 56, 59, 0.9);
  color: #f7f4ee;
}
.speaker__info h4 {
  color: #f7f4ee;
  font-weight: 700;
}
.speaker__info a {
  color: #c89485;
  font-weight: 700;
}
.speaker__info a:focus, .speaker__info a:hover {
  color: #373537;
}

.speaker {
  background: none;
}

.action-links {
  text-transform: uppercase;
}
.action-links .icon {
  vertical-align: -0.15em;
  margin-right: 0.5em;
}

/**
 * $FOOTER-MENU
 */
/**
 * $FOOTER-MENU
 */
.menu-name-menu-footer-menu .menu a {
  font-weight: 700;
  letter-spacing: 0.1em;
}
.menu-name-menu-footer-menu .menu a.active {
  color: #7c383b;
}
.menu-name-menu-footer-menu .menu .menu a {
  color: #373537;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.25em;
}
.menu-name-menu-footer-menu .menu .menu a:focus, .menu-name-menu-footer-menu .menu .menu a:hover {
  color: #7c383b;
}

/**
 * $MAIN-MENU
 */
.menu-name-main-menu a {
  padding: 20px 1em;
  color: #f7f4ee;
  font-weight: 700;
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
}
.menu-name-main-menu a:hover, .menu-name-main-menu a:focus {
  color: #c89485;
}
.menu-name-main-menu a.active, .menu-name-main-menu a.active-trail {
  color: #d5ceaa;
}
.menu-name-main-menu a.active:hover, .menu-name-main-menu a.active:focus, .menu-name-main-menu a.active-trail:hover, .menu-name-main-menu a.active-trail:focus {
  color: #d5ceaa;
}
.menu-name-main-menu a.active:after, .menu-name-main-menu a.active-trail:after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d5ceaa;
  bottom: -15px;
  left: 50%;
  margin-left: -10px;
  z-index: 1000;
}
.menu-name-main-menu li:hover a, .menu-name-main-menu li:focus a {
  color: #c89485;
}
.menu-name-main-menu li:hover:after, .menu-name-main-menu li:focus:after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #7c383b;
  bottom: -15px;
  left: 50%;
  margin-left: -10px;
}
.menu-name-main-menu li.active a, .menu-name-main-menu li.active-trail a {
  color: #d5ceaa;
}
.menu-name-main-menu li.active a:hover, .menu-name-main-menu li.active a:focus, .menu-name-main-menu li.active-trail a:hover, .menu-name-main-menu li.active-trail a:focus {
  color: #d5ceaa;
}
.menu-name-main-menu .leaf:hover:after, .menu-name-main-menu .leaf:focus:after {
  border: none;
  position: static;
}
.menu-name-main-menu .menu .menu {
  margin-top: 14px;
}
.menu-name-main-menu .menu .menu a {
  padding: 10px 1em;
  background: #7c383b;
  border-bottom: 1px solid #965c56;
  color: #c89485;
  font-size: 14px;
  font-size: 0.875rem;
}
.menu-name-main-menu .menu .menu a.active, .menu-name-main-menu .menu .menu a.active-trail, .menu-name-main-menu .menu .menu a:hover, .menu-name-main-menu .menu .menu a:focus {
  background-color: #d5ceaa;
  color: #7c383b;
  border-bottom-color: #965c56;
}
.menu-name-main-menu .menu .menu a.active:after, .menu-name-main-menu .menu .menu a.active-trail:after {
  content: none;
}
.menu-name-main-menu .menu .menu .last a {
  border: 0;
}

/**
 * $Navigation
 */
.menu-name-main-menu .nested-menu-item-toggle,
.block--system-user-menu .nested-menu-item-toggle {
  background-position: 0 -130px;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 0;
}
.menu-name-main-menu .nested-menu-item-toggle:hover, .menu-name-main-menu .nested-menu-item-toggle:focus,
.block--system-user-menu .nested-menu-item-toggle:hover,
.block--system-user-menu .nested-menu-item-toggle:focus {
  background-color: transparent;
}
.menu-name-main-menu .expanded .nested-menu-item-toggle,
.block--system-user-menu .expanded .nested-menu-item-toggle {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}

/**
 * $PAGER
 */
.pager {
  text-align: left;
}

.pager__item {
  display: inline-block;
  margin: 0.3em 0.4em;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c383b;
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: 0.1em;
}
.pager__item a {
  display: block;
  padding: 0.4em 0.9em;
  background: #f7f4ee;
  color: #c89485;
}
.pager__item a:hover {
  background-color: #7c383b;
  color: #f7f4ee;
}

/**
 * $TABS
 */
.tabs li {
  display: block;
  float: left;
  margin-right: 0;
  margin-bottom: 20px;
}
.tabs a {
  position: relative;
  padding: 0.6em 0.8em;
  background-color: #f7f4ee;
  color: #7c383b;
  font-weight: 700;
  text-transform: uppercase;
}
.tabs a:hover, .tabs a:focus {
  background-color: #e5e3d2;
}
.tabs a.active {
  background-color: #d5ceaa;
}
.tabs a.active:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -14px;
  margin-left: -18px;
  display: block;
  height: 0;
  width: 0;
  border-top: 14px solid #d5ceaa;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
}
.tabs a {
  padding: 1em 1.5em;
}

.tabs--primary {
  border-bottom: none;
}

.tabs--secondary {
  font-size: 12px;
  font-size: 0.75rem;
}
.tabs--secondary a.active:after {
  content: none;
}

.page-program-schedule-monday .monday a,
.page-program-schedule-tuesday .tuesday a,
.page-program-schedule-wednesday .wednesday a,
.page-program-schedule-thursday .thursday a,
.page-program-schedule-friday .friday a {
  background: #7c383b;
  color: #f7f4ee;
}
.page-program-schedule-monday .monday a:after,
.page-program-schedule-tuesday .tuesday a:after,
.page-program-schedule-wednesday .wednesday a:after,
.page-program-schedule-thursday .thursday a:after,
.page-program-schedule-friday .friday a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -14px;
  margin-left: -18px;
  display: block;
  height: 0;
  width: 0;
  border-top: 14px solid #7c383b;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
}

/**
 * $USER-MENU
 */
.block--system-user-menu a {
  padding: 0.5em;
  color: #d5ceaa;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
}
.block--system-user-menu a.active, .block--system-user-menu a:hover, .block--system-user-menu a:focus {
  color: #f7f4ee;
}

.node--forum .submitted,
.node--forum .node-footer {
  font-size: 14px;
  font-size: 0.875rem;
}
.node--forum .node__content,
.node--forum .node-footer {
  padding-top: 20px;
  background: transparent url(../images/line.png) left top no-repeat;
}
.node--forum .node-footer {
  margin-bottom: 40px;
}
.node--forum .separator {
  display: none;
}
.node--forum .user-picture {
  float: left;
  width: 30px;
  margin-top: -6px;
  margin-right: 10px;
}

/**
 * $NODE-NEWS
 */
.node--news .icon-arrow-right {
  display: inline-block;
  margin: 0 0.3em;
}
.node--news .links,
.node--news .comment_forbidden {
  color: #7c383b;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 22px;
}
.node--news .comment_forbidden .button, .node--news .comment_forbidden .button-link,
.node--news .comment_forbidden .button-small {
  background: transparent;
  color: #c89485;
  height: auto;
  padding: 0;
  text-transform: none;
  line-height: 22px;
  vertical-align: top;
}

.node--session .field--name-field-speaker-experience,
.node--session .field--name-field-opt-in-speaker-feedback,
.node--session .field--name-field-opt-in-speaker-agreement {
  margin-bottom: 1em;
}
.node--session .field--name-field-speaker-experience .field__label,
.node--session .field--name-field-opt-in-speaker-feedback .field__label,
.node--session .field--name-field-opt-in-speaker-agreement .field__label {
  margin-bottom: 0.5em;
}

/**
 * $NODE
 */
.node__date-stamp {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 20px;
  padding: 0.3em 0.9em;
  border: 3px solid #c89485;
  color: #c89485;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.node .comments {
  margin-top: 0;
  padding-top: 40px;
  background: transparent url(../images/line.png) left top no-repeat;
}
.node .comments .comments__form-title {
  color: #c89485;
  font-size: 22px;
  font-size: 1.375rem;
  margin: 0 0 40px 0;
}

.node__links {
  margin-bottom: 30px;
}

.view-drupalcon-bofs .time-label {
  padding: 0.6em 20px;
  margin-bottom: 0;
  background: #7c383b;
  color: #fff;
}
.view-drupalcon-bofs .schedule-item {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #d5ceaa;
}
.view-drupalcon-bofs .schedule-room-title {
  padding-left: 30px;
  background-position: 0 -83px;
  font-size: 14px;
  font-size: 0.875rem;
}
.view-drupalcon-bofs .schedule-room-title a {
  color: #583a24;
}
.view-drupalcon-bofs .schedule-room-title a:hover {
  color: #7c383b;
}

/**
 * $VIEW-PERKS
 */
.view-sponsor-perks.view-display-id-block_1 .views-row,
.view-sponsor-perks.view-display-id-block_2 .views-row {
  margin-bottom: 20px;
}
.view-sponsor-perks.view-display-id-block_1 .views-field-title,
.view-sponsor-perks.view-display-id-block_2 .views-field-title {
  font-size: 18px;
  font-size: 1.125rem;
}

.view-personal-schedule h3 {
  padding: 0.6em 20px;
  margin-bottom: 0;
  background: #7c383b;
  color: #fff;
}
.view-personal-schedule .views-row {
  position: relative;
  padding: 20px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #d5ceaa;
}
.view-personal-schedule .views-field-title {
  margin-bottom: 1em;
}
.view-personal-schedule .views-field-field-session-room {
  float: left;
  width: 11em;
  padding-left: 30px;
  background-position: 0 -83px;
  font-size: 14px;
  font-size: 0.875rem;
}
.view-personal-schedule .flag-action,
.view-personal-schedule .unflag-action {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
.view-personal-schedule .flag-action:hover,
.view-personal-schedule .unflag-action:hover {
  opacity: 0.7;
  background-color: transparent;
}
.view-personal-schedule .flag-throbber {
  display: none;
}
.view-personal-schedule .flag-waiting .flag-throbber {
  display: block;
}
.view-personal-schedule .flag-action {
  background-position: 0 -52px;
}
.view-personal-schedule .unflag-action {
  background-position: 0 0;
}
.view-personal-schedule .flag-session-schedule {
  float: right;
  font-size: 10px;
  font-size: 0.625rem;
  margin-top: -0.5em;
}
.view-personal-schedule .flag-session-schedule a {
  height: 31px;
  width: 32px;
  display: block;
  padding: 0;
}
.view-personal-schedule .flag-message {
  font-size: 11px;
  font-size: 0.6875rem;
  top: 0.5em;
  left: 10%;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}

.view-social-events .section-title {
  padding: 0.6em 20px;
  margin-bottom: 0;
  background: #7c383b;
  color: #fff;
}
.view-social-events > .view-content > .item-list > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.view-social-events .views-row {
  position: relative;
  padding: 20px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #d5ceaa;
}
.view-social-events .views-row.views-row-last {
  border-bottom: none;
}
.view-social-events .views-field-field-event-time,
.view-social-events .views-field-field-location {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-size: 0.875rem;
}
.view-social-events .views-field-field-event-time {
  font-weight: bold;
}
.view-social-events .views-field-field-location {
  padding-left: 30px;
  background-position: 0 -83px;
}

.view-attendees .views-row.no-image .views-field-picture {
  min-height: 100px;
}
.view-attendees .views-row .views-field-name {
  background: transparent url(../images/schedule/speaker.png) no-repeat;
  font-size: 12px;
  font-size: 0.75rem;
}
.view-attendees .views-row .views-field-nothing {
  font-weight: bold;
}
.view-attendees .views-row .views-field-field-badge-job-title,
.view-attendees .views-row .views-field-field-badge-org {
  font-size: 12px;
  font-size: 0.75rem;
}
.view-attendees .views-row .views-field-field-badge-org {
  color: #7c383b;
}

/**
 * $VIEW-NEWS
 */
.view-news .views-row {
  border-bottom: 1px solid #d5ceaa;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

/**
 * $VIEW-SCHEDULE
 */
.view-drupalcon-schedule .tabs li {
  margin-right: 1px;
  margin-bottom: 40px;
}
.view-drupalcon-schedule .section-title {
  background: #7c383b;
  color: #fff;
  border-left: 1px solid #d5ceaa;
  border-right: 1px solid #d5ceaa;
}
.view-drupalcon-schedule .slot_day,
.view-drupalcon-schedule .slot_time {
  text-align: left;
}
.view-drupalcon-schedule .slot_time {
  background: #632629;
}
.view-drupalcon-schedule .schedule-list {
  border-left: 1px solid #d5ceaa;
  border-right: 1px solid #d5ceaa;
}
.view-drupalcon-schedule .schedule-item {
  background: #fff;
  border-bottom: 1px solid #d5ceaa;
}
.view-drupalcon-schedule .schedule-item .experience-level {
  height: 11px;
  width: 39px;
}
.view-drupalcon-schedule .schedule-item .experience-level.Beginner {
  background-position: 0 -22px;
}
.view-drupalcon-schedule .schedule-item .experience-level.Intermediate {
  background-position: 0 -11px;
}
.view-drupalcon-schedule .schedule-item .experience-level.Advanced {
  background-position: 0 0;
}
.view-drupalcon-schedule .schedule-item .schedule-room-title {
  background-position: 0 -83px;
  font-size: 14px;
  font-size: 0.875rem;
}
.view-drupalcon-schedule .schedule-item .schedule-room-title a {
  color: #583a24;
}
.view-drupalcon-schedule .schedule-item .schedule-room-title a:hover {
  color: #7c383b;
}
.view-drupalcon-schedule .schedule-item .session-speaker {
  background: transparent url('../images/schedule/speaker.png?1398293982') no-repeat;
  font-size: 14px;
  font-size: 0.875rem;
}
.view-drupalcon-schedule .schedule-item .session-speaker a {
  color: #583a24;
}
.view-drupalcon-schedule .schedule-item .session-speaker a:hover {
  color: #7c383b;
}
.view-drupalcon-schedule .schedule-item .flag-action {
  background-position: 0 -52px;
}
.view-drupalcon-schedule .schedule-item .unflag-action {
  background-position: 0 0;
}
.view-drupalcon-schedule .schedule-item .flag-session-schedule {
  font-size: 10px;
  font-size: 0.625rem;
  margin-top: -0.5em;
}
.view-drupalcon-schedule .schedule-item .flag-session-schedule a {
  height: 31px;
  width: 32px;
  display: block;
  padding: 0;
}
.view-drupalcon-schedule .schedule-item .flag-message {
  font-size: 11px;
  font-size: 0.6875rem;
  top: 0.9em;
  left: 10%;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}
.view-drupalcon-schedule .schedule-item .track-icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 30px;
  width: 50px;
  margin-left: -20px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Drupal-Business {
  background-position: 0 -376px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Developers {
  background-position: 0 -188px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--DevOps {
  background-position: 0 0;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Frontend {
  background-position: 0 -282px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Site-Builders {
  background-position: 0 -94px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Core-Conversations {
  background-position: 0 -47px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Labs {
  background-position: 0 -141px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Symfony {
  background-position: 0 -470px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Business-Showcase {
  background-position: 0 -423px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--Case-Studies {
  background-position: 0 -235px;
}
.view-drupalcon-schedule .schedule-item .track-icon.track-icon--UX-UI {
  background-position: 0 -329px;
}

/**
 * $VIEWS-EXPOSED
 */
.view-drupalcon-schedule .views-widget-filter-field_track_value {
  background: #fff;
  width: 100%;
  padding: 0;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value > label {
  display: block;
  padding: 0.6em 1em;
  margin-bottom: 0;
  background: #373537;
  color: #f7f4ee;
  text-align: left;
  font-size: 26px;
  font-size: 1.625rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox {
  margin: 0;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-checkboxes .form-item {
  float: left;
  width: 100%;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox label.option {
  display: block;
  padding: 1.3em;
  padding-left: 70px;
  margin: 0;
  min-height: 30px;
  border-bottom: 1px solid #f7f4ee;
  border-right: 1px solid #f7f4ee;
  background: transparent url('../images/track-icon/business.png?1398293982') left center no-repeat;
  color: #6b676b;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25em;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox label.option:hover {
  background-color: whitesmoke;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox input {
  display: none;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox input[checked="checked"] + label {
  background-color: #e9e8e9;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-developers label.option {
  background-image: url('../images/track-icon/development.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-devops label.option {
  background-image: url('../images/track-icon/devops.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-frontend label.option {
  background-image: url('../images/track-icon/frontend.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-site-builders label.option {
  background-image: url('../images/track-icon/building.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-core-conversations label.option {
  background-image: url('../images/track-icon/core.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-labs label.option {
  background-image: url('../images/track-icon/labs.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-business-showcase label.option {
  background-image: url('../images/track-icon/showcase.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-case-studies label.option {
  background-image: url('../images/track-icon/casestudies.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-uxui label.option {
  background-image: url('../images/track-icon/ux.png?1398293982');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-symfony label.option {
  background-image: url('../images/track-icon/symfony.png?1398775049');
}
