/**
 * $BUTTONS
 */

/*
 * Base Button Styles
 */
.button {
  background-color: $red;
  color: #fff;
  letter-spacing: 0.1em;

  &:hover,
  &:focus {
    background-color: lighten($red, 10%);
    color: $off-white;
  }
}

.button-link {
  @extend .button;
}

.button--cursive {
  font-family: $cursive-font-family;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 2em;
  height: 2em;
  padding-right: 1em;
  padding-left: 1em;
}
