/**
 * $TABLES
 */

th {
  background: $red;
  color: $off-white;

  &.active {
    background: darken($red, 3%);
    color: $off-white;
  }
  img {
    margin-left: 0.4em;
    vertical-align: 0;
  }
  a.active {
    color: $off-white;

    &:hover,
    &:focus {
      color: $beige;
    }
  }
}

td.active {
  background-color: darken($earth, 2%);
}
tr,
tr.odd,
tr.even {
  background: $earth;
  border-bottom: 1px solid lighten($earth, 5%);
}
tr:nth-last-child {
  border: 0;
}
