/**
 * $TYPOGRAPHY
 */

a {
  color: $red;

  &:hover,
  &:focus {
    color: $pale-red;
  }
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-weight: 800;
  text-transform: uppercase;
  color: $brown;

  a {
    color: $red;
  }
  a:hover,
  a:focus {
    color: $brown;
  }
}

h1, .alpha {
  color: $grey;
  padding-bottom: $vert-spacing-unit * 1.25;
  background: transparent image-url('line.png') left bottom repeat-x;
  @include font-size(34px);
  margin-bottom: 0.8em;
}

h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: $pale-red;
  font-weight: 700;
}
