.view-social-events {
  .section-title {
    padding: 0.6em $vert-spacing-unit;
    margin-bottom: 0;
    background: $red;
    color: #fff;
  }

  > .view-content > .item-list > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .views-row {
    position: relative;
    padding: $vert-spacing-unit;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid $earth;

    &.views-row-last {
      border-bottom: none;
    }
  }

  .views-field-field-event-time,
  .views-field-field-location {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    @include font-size(14px);
  }

  .views-field-field-event-time {
    font-weight: bold;
  }

  .views-field-field-location {
    padding-left: $vert-spacing-unit * 1.5;
    @include schedule-sprite(location);
  }
}
