/**
 * $VIEW-PERKS
 */
.view-sponsor-perks.view-display-id-block_1,  // @todo replace this with a more sensible selector
.view-sponsor-perks.view-display-id-block_2 { // @todo replace this with a more sensible selector
  .views-row {
    margin-bottom: $vert-spacing-unit;
  }
  .views-field-title {
    @include font-size(18px);
  }
}
