/**
 * $VIEW-SCHEDULE
 */
.view-drupalcon-schedule {
  .tabs {
    li {
      margin-right: 1px;
      margin-bottom: 40px;
    }
  }
  .section-title {
    background: $red;
    color: #fff;
    border-left: 1px solid $earth;
    border-right: 1px solid $earth;
  }
  .slot_day,
  .slot_time {
    text-align: left;
  }
  .slot_time {
    background: $dark-red;
  }
  .schedule-list {
    border-left: 1px solid $earth;
    border-right: 1px solid $earth;
  }
  .schedule-item {
    background: #fff;
    border-bottom: 1px solid $earth;

    .experience-level {
      height: image-height("../images/difficulty/advanced.png");
      width: image-width("../images/difficulty/advanced.png");

      &.Beginner {
        @include difficulty-sprite(beginner);
      }
      &.Intermediate {
        @include difficulty-sprite(intermediate);
      }
      &.Advanced {
        @include difficulty-sprite(advanced);
      }
    }

    .schedule-room-title {
      @include schedule-sprite(location);
      @include font-size(14px);
      a {
        color: $brown;
        &:hover {
          color: $red;
        }
      }
    }
    .session-speaker {
      background: transparent image-url('schedule/speaker.png') no-repeat;
      @include font-size(14px);
      a {
        color: $brown;
        &:hover {
          color: $red;
        }
      }
    }

    .flag-action {
      @include schedule-sprite(calendar);
    }
    .unflag-action {
      @include schedule-sprite(calendar-remove);
    }
    .flag-session-schedule {
      @include font-size(10px);
      margin-top: -0.5em;

      a {
        height: image-height("../images/schedule/calendar.png");
        width: image-width("../images/schedule/calendar.png");
        display: block;
        padding: 0;
      }
    }
    .flag-message {
      @include font-size(11px);
      top: 0.9em;
      left: 10%;
      width: 80%;
      text-align: center;
      text-transform: capitalize;
    }
    .track-icon {
      @include hide-text;
      height: image-height("../images/track-icon/building.png");
      width: image-width("../images/track-icon/building.png");
      margin-left: -20px;
    }
    .track-icon.track-icon--Drupal-Business {
      @include track-icon-sprite(business);
    }
    .track-icon.track-icon--Developers {
      @include track-icon-sprite(development);
    }
    .track-icon.track-icon--DevOps {
      @include track-icon-sprite(devops);
    }
    .track-icon.track-icon--Frontend {
      @include track-icon-sprite(frontend);
    }
    .track-icon.track-icon--Site-Builders {
      @include track-icon-sprite(building);
    }
    .track-icon.track-icon--Core-Conversations {
      @include track-icon-sprite(core);
    }
    .track-icon.track-icon--Labs {
      @include track-icon-sprite(labs);
    }
    .track-icon.track-icon--Symfony {
      @include track-icon-sprite(symfony);
    }
    .track-icon.track-icon--Business-Showcase {
      @include track-icon-sprite(showcase);
    }
    .track-icon.track-icon--Case-Studies {
      @include track-icon-sprite(casestudies);
    }
    .track-icon.track-icon--UX-UI {
      @include track-icon-sprite(ux);
    }
  }

  @include breakpoint(580px) {
    .schedule-item .flag-session-schedule {
      margin-top: 0;
      border-left: 1px solid $earth;

      .flag {
        margin-top: -(image-height('schedule/calendar.png') / 2);
        margin-left: (80px - image-height('schedule/calendar.png')) / 2;
      }
    }
  }

  @include breakpoint($tab) {
    .schedule-item {
      .track-icon {
        margin-right: 80px - image-width("../images/track-icon/building.png");
      }
      .experience-level {
        margin-right: 60px - image-width("../images/difficulty/advanced.png");
      }
    }
  }
}
