.view-personal-schedule {
  h3 {
    padding: 0.6em $vert-spacing-unit;
    margin-bottom: 0;
    background: $red;
    color: #fff;
  }

  .views-row {
    position: relative;
    padding: $vert-spacing-unit;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid $earth;
  }

  .views-field-title {
    @extend .delta;
    margin-bottom: 1em;
  }

  .views-field-field-session-room {
    float: left;
    width: 11em;
    padding-left: $vert-spacing-unit * 1.5;
    @include schedule-sprite(location);
    @include font-size(14px);
  }

  .flag-action,
  .unflag-action {
    @include hide-text;

    &:hover {
      opacity: 0.7;
      background-color: transparent;
    }
  }

  .flag-throbber {
    display: none;
  }

  .flag-waiting .flag-throbber {
    display: block;
  }

  .flag-action {
    @include schedule-sprite(calendar);
  }

  .unflag-action {
    @include schedule-sprite(calendar-remove);
  }

  .flag-session-schedule {
    float: right;
    @include font-size(10px);
    margin-top: -0.5em;

    a {
      height: image-height("../images/schedule/calendar.png");
      width: image-width("../images/schedule/calendar.png");
      display: block;
      padding: 0;
    }
  }

  .flag-message {
    @include font-size(11px);
    top: 0.5em;
    left: 10%;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
  }

  @include breakpoint(580px) {

    .views-field-field-session-room {
      width: 100%;
    }

    .views-row {
      padding-right: 100px;
    }

    .flag-session-schedule {
      float: none;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 100%;
      margin-top: 0;
      border-left: 1px solid $earth;

      .flag {
        position: absolute;
        top: 50%;
        margin-top: -(image-height('schedule/calendar.png') / 2);
        margin-left: (80px - image-height('schedule/calendar.png')) / 2;
      }
    }
  }
}
