/**
 * $VIEWS-EXPOSED
 */
.view-drupalcon-schedule .views-widget-filter-field_track_value {
  background: #fff;
  width: 100%;
  padding: 0;

  & > label { // @todo use a more sensible selector
    display: block;
    padding: 0.6em $horz-spacing-unit;
    margin-bottom: 0;
    background: $grey;
    color: $off-white;
    text-align: left;
    @include font-size(26px);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .form-type-bef-checkbox {
    margin: 0;
  }

  .form-checkboxes {
    @extend .clearfix;
    .form-item {
      float: left;
      width: 100%;
    }
    @include breakpoint(550px) {
      .form-item {
        width: 50%;
      }
    }
  }

  .form-type-bef-checkbox label.option {
    display: block;
    padding: 1.3em;
    padding-left: 70px;
    margin: 0;
    min-height: image-height('track-icon/business.png');
    border-bottom: 1px solid #f7f4ee;
    border-right: 1px solid #f7f4ee;
    background: transparent image-url('track-icon/business.png') left center no-repeat;
    color: #6b676b;
    text-transform: uppercase;
    @include font-size(12px);
    line-height: 1.25em;
    letter-spacing: 0.1em;
    cursor: pointer;

    &:hover {
      background-color: lighten($grey, 75%);
    }
  }

  .form-type-bef-checkbox input {
    display: none;

    &[checked="checked"] + label {
      background-color: lighten($grey, 70%);
    }
  }

  .form-item-edit-field-track-value-developers label.option {
    background-image: image-url('track-icon/development.png');
  }
  .form-item-edit-field-track-value-devops label.option {
    background-image: image-url('track-icon/devops.png');
  }
  .form-item-edit-field-track-value-frontend label.option {
    background-image: image-url('track-icon/frontend.png');
  }
  .form-item-edit-field-track-value-site-builders label.option {
    background-image: image-url('track-icon/building.png');
  }
  .form-item-edit-field-track-value-core-conversations label.option {
    background-image: image-url('track-icon/core.png');
  }
  .form-item-edit-field-track-value-labs label.option {
    background-image: image-url('track-icon/labs.png');
  }
  .form-item-edit-field-track-value-business-showcase label.option {
    background-image: image-url('track-icon/showcase.png');
  }
  .form-item-edit-field-track-value-case-studies label.option {
    background-image: image-url('track-icon/casestudies.png');
  }
  .form-item-edit-field-track-value-uxui label.option {
    background-image: image-url('track-icon/ux.png');
  }
  .form-item-edit-field-track-value-symfony label.option {
    background-image: image-url('track-icon/symfony.png');
  }
}
