.view-drupalcon-bofs {

  .time-label {
    padding: 0.6em $vert-spacing-unit;
    margin-bottom: 0;
    background: $red;
    color: #fff;
  }

  .schedule-item {
    background: #fff;
    padding: $vert-spacing-unit;
    border-bottom: 1px solid $earth;
  }

  .schedule-room-title {
    padding-left: $vert-spacing-unit * 1.5;

    @include schedule-sprite(location);
    @include font-size(14px);
    a {
      color: $brown;
      &:hover {
        color: $red;
      }
    }
  }
}
