.view-attendees {
  .views-row {
    &.no-image {
      .views-field-picture {
        min-height: 100px;
      }
    }
    .views-field-name {
      background: transparent url(../images/schedule/speaker.png) no-repeat;
      @include font-size(12px);
    }
    .views-field-nothing {
      font-weight: bold;
    }
    .views-field-field-badge-job-title,
    .views-field-field-badge-org {
      @include font-size(12px);
    }
    .views-field-field-badge-org {
      color: $red;
    }
  }
}
