/**
 * Default Layout Styles
 */

.l-constrained {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $horz-spacing-unit * 2;
  clear: both;
}
.l-header,
.l-main,
.l-footer {
  @extend .clearfix;
}

/* Header Area */
.l-branding {
  position: relative;
  left: 50%;
  width: 146px;
  margin-left: -73px;
  z-index: $high-z;
}
.l-region--header-first {
  @include grid-span(1, 1);
}

/* Highlighted Area */
.l-region--ribbon {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

/* Content Area */
.l-region--sidebar-first,
.l-region--sidebar-second {
  .block {
    margin-bottom: $vert-spacing-unit * 2;
  }
}

/* Footer Area */
.l-footer {
  clear: both;
}
.l-region--bottom,
.l-region--footer {
  margin-left: -($horz-spacing-unit * 2);
  margin-right: -($horz-spacing-unit * 2);
  padding: $vert-spacing-unit * 2 $horz-spacing-unit;
  text-align: center;
}
.l-region--footer {
  padding: $vert-spacing-unit * 2 8% 1px 8%;

  .block {
    margin-bottom: $vert-spacing-unit * 4;
  }
}
.l-region--bottom {
  text-align: center;
  padding: ($vert-spacing-unit * 2) $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;
}


@include breakpoint($tab, true) {
  /* Header Area */
  .l-branding {
    width: 200px;
    margin-left: -100px;
  }
  .l-region--header-first {
    @include grid-span(6, 1);
  }

  /* Highlighted Area */
  .l-highlighted-wrapper {
    position: relative;
    min-height: 200px;
  }
  .l-region--ribbon {
    position: absolute;
    z-index: $mid-z;
    top: 0;
    left: 64%;
    width: 250px;
  }
}

@include breakpoint(900px, true) {
  /* Sidebars */
  .has-sidebar-first,
  .has-sidebar-second,
  .has-two-sidebars {
    .l-content {
      @include grid-span(8, 1);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(4, 9);
    }
    .l-region--sidebar-second {
      clear: right;
    }
  }
  .has-dropped-sidebars {
    .l-content {
      @include grid-span(12, 1);
    }
    .l-region--sidebar-first {
      @include grid-span(6, 1);
    }
    .l-region--sidebar-second {
      @include grid-span(6, 7);
    }
  }
}

@include breakpoint($desk, true) {
  .l-constrained {
    width: 95%;
  }

  /* Header Area */
  .l-region--header-first,
  .l-region--header-second {
    margin-top: $vert-spacing-unit;
  }

  .l-region--header-second {
    @include grid-span(6, 7);
    .block {
      float: right;
    }
  }

  /* Sidebars */
  .has-sidebar-first {
    .l-content {
      @include grid-span(8, 5);
    }
    .l-region--sidebar-first {
      @include grid-span(4, 1);
    }
  }
  .has-sidebar-second {
    .l-content {
      @include grid-span(8, 1);
    }
    .l-region--sidebar-second {
      @include grid-span(4, 9);
    }
  }
  .has-two-sidebars {
    .l-content {
      @include grid-span(6, 4);
    }
    .l-region--sidebar-first {
      @include grid-span(3, 1);
    }
    .l-region--sidebar-second {
      @include grid-span(3, 10);
    }
  }
  .has-dropped-sidebars {
    .l-content {
      @include grid-span(12, 1);
    }
    &.has-sidebar-first,
    &.has-sidebar-second {
      .l-region--sidebar-first,
      .l-region--sidebar-second {
        @include grid-span(12, 1);
      }
    }
    &.has-two-sidebars {
      .l-region--sidebar-first {
        @include grid-span(8, 1);
      }
      .l-region--sidebar-second {
        @include grid-span(4, 9);
      }
    }
  }
}
