.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
}

@include breakpoint(0 $desk) {
  .l-page-wrapper {
    position: relative;
    overflow-x: hidden;
  }

  /* Off canvas controls */
  .l-off-canvas-show,
  .l-off-canvas-hide {
    position: absolute;
    display: block;
    z-index: $heavenly-z;
    top: 12px;
    @include transition(opacity $off-canvas-animation-speed ease-in);
  }
  .l-off-canvas-show--left {
    left: 20px;
  }
  .l-off-canvas-show--right {
    right: 20px;
  }
  .l-off-canvas-hide--left {
    left: 100%;
  }
  .l-off-canvas-hide--right {
    right: 100%;
  }

  /* Off canvas positioning */
  .l-off-canvas {
    position: absolute;
    z-index: $heavenly-z;
    top: 0;
    width: $off-canvas-width;
    bottom: 0;
    height: 100%;
    @include transition(all 0.2s ease-in);
  }
  .l-off-canvas--left {
    left: -$off-canvas-width;
  }
  .l-off-canvas--right {
    right: -$off-canvas-width;
  }

  /* Visiblility classes */
  .off-canvas-left-is-visible {
    .l-off-canvas--left {
      left: 0%;
    }
    .l-off-canvas-show {
      opacity: 0;
    }
  }
  .off-canvas-right-is-visible {
    .l-off-canvas--right {
      right: 0%;
    }
    .l-off-canvas-show {
      opacity: 0;
    }
  }
}

@include breakpoint($tab $desk) {
  $off-canvas-width: 40%;

  /* Off canvas positioning */
  .l-off-canvas {
    width: $off-canvas-width;
  }
  .l-off-canvas--left {
    left: -$off-canvas-width;
  }
  .l-off-canvas--right {
    right: -$off-canvas-width;
  }
}
