/**
 * $VARIABLES-TYPOGRAPHY
 */ 

@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 24px;

$h1-font-size: 3    * $base-font-size;
$h2-font-size: 2    * $base-font-size;
$h3-font-size: 1.5  * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

$base-font-family: Arial, sans-serif;

$indent-amount: 40px;