.invoice-header {
  @extend .clearfix;

  .print-link {
    float: right;
    margin-bottom: $vert-spacing-unit;
  }
}
.invoice-header__title {
  margin-bottom: 0.1em;
}
@include breakpoint($tab) {
  .invoice-header__first {
    float: left;
    width: 70%;
  }
  .invoice-header__last {
    float: right;
    width: 30%;
  }
}

.invoice-from-address {
  text-align: right;
}
