@mixin arrow($direction, $color, $width, $height) {
  display: block;
  height: 0;
  width: 0;

  @if $direction == 'top' {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $height solid $color;
  } @else if $direction == 'right' {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
  } @else if $direction == 'bottom' {
    border-top: $height solid $color;
    border-right: $width solid transparent;
    border-left: $width solid transparent;
  } @else if $direction == 'left' {
    border-top: $height solid transparent;
    border-right: $width solid $color;
    border-bottom: $height solid transparent;
  }
}
