/**
 * $BUTTONS
 */

.button {
  background-color: $red;
  color: $white;
  letter-spacing: .2em;
  @include font-size(16px);
  font-family: $regular-font-family;
  font-weight: normal;

  &:hover,
  &:focus {
    background: $maroon;
    color: $off-white;
  }
}

.button-link {
  @extend .button;
}

.button--small {
  background: none;
  color: $red;
  letter-spacing: 0;
  font-family: $base-font-family;
  text-transform: none;
  padding: 0 0.25em;
  height: auto;
  line-height: 30px;
  vertical-align: top;

  &:hover,
  &:focus {
    color: $maroon;
    background: none;
  }
}
