/**
 * $ROOT
 */
@import url(//fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: 'akzidenz-grotesk_condensed_Rg';
    src: url('../fonts/akzidenzgrotconbq-regular-webfont.eot');
    src: url('../fonts/akzidenzgrotconbq-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgrotconbq-regular-webfont.woff') format('woff'),
         url('../fonts/akzidenzgrotconbq-regular-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgrotconbq-regular-webfont.svg#akzidenz-grotesk_condensed_Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'berthold_akzidenz_grotesk_bBd';
    src: url('../fonts/akzidenzgroteskbe-boldcn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbe-boldcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbe-boldcn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbe-boldcn-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbe-boldcn-webfont.svg#berthold_akzidenz_grotesk_bBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  color: $black;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.clearfix {
  @include pie-clearfix;
}
