/**
 * $TABLES
 */

th {
  background: $maroon;
  color: $white;
  vertical-align: top;

  &.active {
    background: $dark-maroon;
    color: $white;
  }

  img {
    margin-left: .4em;
    vertical-align: 0;
  }

  a.active {
    color: $white;

    &:hover,
    &:focus {
      color: $pale-grey;
    }
  }
}

td {
  vertical-align: middle;
}

td.active {
  background-color: $white;
}

tr,
tr.odd,
tr.even {
  background: $off-white;
  border-bottom: 1px solid $pale-brown;

  &.views-row-last,
  &:last-child {
    border: 0;
  }
}

thead tr,
tr:nth-last-child {
  border: 0;
}

.sticky-header {
  thead {
    background: $maroon;

    tr {
      border: 0;
    }
  }
}

.form-item {
  tr,
  tr.odd,
  tr.even {
    background: $white;
  }
}

.tabledrag-toggle-weight-wrapper {
  @include font-size(15px);
  margin-bottom: $vert-spacing-unit;
}
