/**
 * $TYPOGRAPHY
 */

a {
  color: $red;

  &:hover,
  &:focus {
    color: $maroon;
  }
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: $dark-maroon;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;
  letter-spacing: .05em;

  a {
    color: $dark-maroon;
    outline: 0;
    &:hover,
    &:focus {
      color: $red;
    }
  }
}

h1,
h2 {
  @include font-size(26px);
}

h3,
h4 {
  @include font-size(23px);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

blockquote {
  @include font-size(16px);
  p {
    line-height: 1.75em;
  }
}

small {
  @include font-size(14px);
}

