/**
 * $VIEW-ATTENDEES
 */
.view--attendees--page {
  & > ul {
    @extend .clearfix;
    margin: 0;
    padding: 0;
  }

  .views-row {
    float: left;
    width: 50%;
    padding: 0 $vert-spacing-unit $vert-spacing-unit $vert-spacing-unit;
    text-align: center;
    @include font-size(14px);
    height: 260px;
    list-style: none;

    .user-picture {
      margin: 0 0 ($vert-spacing-unit / 2) 0;
    }
    .views-field-nothing {
      @include font-size(16px);
      margin-bottom: $vert-spacing-unit / 2;
    }
    .views-field-name {
      font-weight: bold;
      padding-left: $vert-spacing-unit * 1.5;
      margin-bottom: 5px;
      display: inline-block;
    }
    .views-field {
      margin-bottom: 0.2em;
    }
  }

  @include breakpoint(600px) {
    .views-row {
      width: 33%;
    }
  }
  @include breakpoint(1000px) {
    .views-row {
      width: 20%;
    }
  }
}
