/**
 * $VIEW-EVENTS
 */
.view-events-activities-schedule {
  .views-row {
    @extend .clearfix;
    margin: 0 0 $vert-spacing-unit $indent-amount;
  }
  .views-row-last {
    margin-bottom: $vert-spacing-unit * 3;
  }
  .views-field-field-slot-datetime-1 {
    float: left;
    margin-bottom: 1em;
  }
  .views-field-ops {
    float: right;
  }
}
