/**
 * $VIEW-SPONSORS
 */
.view--sponsors--page {
  .views-row {
    @include inline-block;
    width: 98%;
    height: 100%;
    padding: $vert-spacing-unit 0;
    margin: 1%;

    text-align: center;
  }
  .item-list {
    margin-bottom: $vert-spacing-unit * 2;
  }

  @include breakpoint($tab, true) {
    .views-row {
      padding: $vert-spacing-unit 4%;
      width: 22%;
    }
    .views-row--Diamond {
      width: 47%;
    }
    .views-row--Platinum {
      width: 30%;
    }
  }
}
