/**
 * $VIEW-SCHEDULE
 */
.view-drupalcon-schedule {
  .tabs {
    padding-left: 0;
    margin: ($vert-spacing-unit * 2) 0 ($vert-spacing-unit / 2) 0;
  }
  .section-title {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    .slot_day,
    .slot_time {
      padding: 0.6em $vert-spacing-unit;
      float: left;
      width: 100%;
    }
    @include breakpoint(550px) {
      .slot_day {
        width: 66%;
      }
      .slot_time {
        width: 34%;
      }
    }
  }
  .schedule-list {
    @extend .unstyled-list;
  }
  .schedule-item {
    @extend .clearfix;
    position: relative;
    padding: $vert-spacing-unit $horz-spacing-unit;

    .track-icon,
    .experience-level {
      @include inline-block;
      margin-right: 1em;
    }
    .experience-level {
      height: image-height("../images/difficulty/advanced.png");
      width: image-width("../images/difficulty/advanced.png");
      @include hide-text;

      &.Beginner {
        @include difficulty-sprite(beginner);
      }
      &.Intermediate {
        @include difficulty-sprite(intermediate);
      }
      &.Advanced {
        @include difficulty-sprite(advanced);
      }
    }

    .session-title {
      margin: 1em 0;
    }

    .session-speaker,
    .schedule-room-title {
      width: 11em;
      float: left;
      margin-bottom: 0.5em;
      padding-left: $vert-spacing-unit * 1.5;
    }

    .flag-session-schedule {
      float: right;
    }
    .flag-action,
    .unflag-action {
      @include hide-text;

      &:hover {
        opacity: 0.7;
        background-color: transparent;
      }
    }
    .flag-throbber {
      display: none;
    }
    .flag-waiting .flag-throbber {
      display: block;
    }
  }

  @include breakpoint(580px) {
    .schedule-item {
      padding-right: 100px;
    }

    .flag-session-schedule {
      float: none;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 100%;

      .flag {
        position: absolute;
        top: 50%;
      }
    }
  }

  @include breakpoint($tab) {
    .schedule-item {
      .track-icon,
      .experience-level {
        display: block;
        float: left;
        clear: left;
        margin: 0 $horz-spacing-unit $vert-spacing-unit 0;
      }
      .session-title {
        margin-top: 0;
      }
    }
  }
}
