/**
 * $ATTEND-LINKS
 */

.attend-links {
  text-align: center;

  li {
    display: inline-block;
    padding: 0;
    margin-bottom: $vert-spacing-unit * 1.5;
    width: 140px;
  }

  .attend-links__link {
    display: inline-block;

    &:hover,
    &:focus {
      .icons-sprite {
        opacity: .6;
      }

      span {
        background: $c-brand-dark-orange;
        color: $off-white;
      }
    }
  }

  .attend-links__icon {
    vertical-align: middle;
    margin-bottom: $vert-spacing-unit;
  }

  .icons-sprite {
    display: inline-block;
  }

  .attend-links__text {
    background: $red;
    color: $white;
    font-family: $regular-font-family;
    @include font-size(14px);
    display: block;
    text-transform: uppercase;
    padding: .25em .5em;
  }
}

@include breakpoint($tab, true) {
  .attend-links {
    li {
      padding: 0 ($vert-spacing-unit * 1.5);
      width: 230px;
    }

    .attend-links__text {
      @include font-size(16px);
      padding: .5em 1em;
    }
  }
}

@include breakpoint($desk, true) {
  .attend-links {
    .attend-links__icon {
      margin-bottom: $vert-spacing-unit * 2.5;
    }
  }
}
