/**
 * $BLOCK-DATE
 */

.block-important-dates {
  background: #fff;

  .block__title {
    background: $c-brand-main;
    color: #fff;
    text-transform: uppercase;
    font-size: 128%;
    padding: 0.5em 1em;
    margin-bottom: 1em;
  }

  .block__content {
    padding: 0 1em 1em;
  }
}
