/**
 * $BLOCK-SPONSORS-DIAMOND
 */

.block--views-sponsors-block-diamond {
  position: absolute;
  right: 2em;
  bottom: 3em;

  .block__title {
    @include font-size(16px);
    text-transform: uppercase;
    font-family: $regular-font-family;
    color: #fff;
    margin: 0;
    display: block;
    padding: 5px 1em;
    background: rgba($c-brand-gray, 0.8);
  }
}
