/**
 * $BLOCK-FOOTER
 */

.block--site-information {
  color: $dark-grey;
  @include font-size(14px);
  line-height: 1.5em;

  a {
    color: $dark-grey;
    &:hover,
    &:focus {
      color: $grey;
    }
  }
}
