/**
 * $BLOCK-SPONSORS-PLATINUM
 */

.block--views-tweets-block {
  background: image-url('icon-tw3.png') no-repeat left center;
  float: left;
  padding-left: 80px;

  .block__content {
    font-size: 108%;
    line-height: 1.5;
  }

  .item-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a, a:link {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.block-twitter-info {
  float: right;
  font-size: 128%;
  text-align: center;
  width: 100%;

  .block__content {
    a, a:link {
      color: #fff;
      text-decoration: none;
    }

    p {
      margin-bottom: 0.8em;
    }
  }
}

@include breakpoint($tab) {
  .block--views-tweets-block {
    width: 60%;
  }

  .block-twitter-info {
    width: 38%;
  }
}
