/**
 * $BLOCK-SPONSORS-PLATINUM
 */

.block--views-sponsors-block-platinum {
  .block__title {
    @include font-size(28px);
    background: $c-brand-main;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    position: relative;
    top: 2em;
    padding: 0.1em 0.4em;
  }

  .block__content {
  	background: #fff;
  	padding: 2em;
  }
}
