/**
 * $SOCIAL-LINKS
 */

.social-links {
  li {
    display: inline-block;
    padding: 0 ($vert-spacing-unit * 1.5) ($vert-spacing-unit / 2) 0;
  }

  li:last-child {
    padding-right: 0;
  }

  .social-links__link {
    display: block;
  }

  .social-links__icon {
    vertical-align: middle;
  }

  .social-sprite {
    display: block;

    &:hover {
      opacity: .6;
    }
  }
}
