/**
 * $BLOCK-TICKETS
 */

.block--tickets {
  a {
    background: $red;
    color: $white;
    display: block;
    text-transform: uppercase;
    @include font-size(22px);
    font-family: $regular-font-family;
    text-align: center;
    padding: $vert-spacing-unit ($vert-spacing-unit * 3);

    &:hover,
    &:focus {
      background: $maroon;
    }
  }
}

.button-tickets {
  text-indent: -5000em;
  background: $c-brand-main image-url('img-tickets.png') no-repeat center;
  color: #ccc;
  display: block;
  width: 100%;
  height: 80px;
  &:hover {
    background-color: darken($c-brand-main, 10%);
  }
}

.block--tickets-header {
  margin: $vert-spacing-unit 0 ($vert-spacing-unit * 1.5) 0;

  a {
    display: inline-block;
    @include font-size(20px);
    padding: ($vert-spacing-unit / 2) $vert-spacing-unit;
  }
}

@include breakpoint(900px, true) {
  .block--tickets-header {
    margin: $vert-spacing-unit 0 ($vert-spacing-unit * 2.25) 0;

    a {
      padding: ($vert-spacing-unit * .75) ($vert-spacing-unit * 2);
    }
  }
}

@include breakpoint($desk, true) {
  .block--tickets-header {
    a {
      padding: $vert-spacing-unit ($vert-spacing-unit * 3);
    }
  }
}
