/**
*
* WELCOME MESSAGE
*
**/
.block-front-welcome-msg {
	bottom: 3em;
	left: 5%;
	position: absolute;
	width: 90%;

	@include breakpoint($tab) {
		width: 48%;
		left: 2em;
	}

	.block__title {
		@include font-size(52px);
		background: $c-brand-main;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		display: inline;
		line-height: 1;
		margin-bottom: 0;
		width: 90%;
	}

	.block__content {
		padding: 1em 2em;
		background: #fff;
		background: rgba(#fff, 0.8);
		display: block;
		clear: both;
	}

	.btn-book-ticket {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		background: $c-brand-main;
		color: #fff;
		padding: 0.5em 1em;
		text-transform: uppercase;
		text-decoration: none;

		.icon-ticket {
			display: inline-block;
			content: " ";
			background: url(../images/icon-ticket.png) no-repeat center;
			width: 16px;
			height: 16px;
		}
	}
}
