/**
 * $BREADCRUMB
 */

.breadcrumb {
  padding: 0;
  color: $maroon;

  li {
    display: inline-block;
    list-style: none;
    @include font-size(16px);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: $regular-font-family;
    padding-right: 0.5em;

     a:after {
      content: " » ";
      color: $maroon;
    }
  }

  li:last-of-type {
    a:after {
      content: "";
    }
  }
}
