/**
 * $SPONSORS PAGE
 */

.section-sponsors {
  h1 {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-family: $regular-font-family;
    @include font-size(44px);
    color: $black;
  }
}
