/**
 * $USER-PROFILE
 */

.user-profile-category {
  .field,
  .user-profile-item {
    margin-bottom: $vert-spacing-unit / 2;
  }
  .field__label,
  .user-profile-item__label {
    color: $maroon;
  }
}

.user-profile-category-history {
  margin-top: $vert-spacing-unit * 2.5;
}
