/**
 * $VIEW-ATTENDEES
 */

.view-attendees {
  text-align: center;

  .views-row {
    float: none;
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 0 2% 2em;
    width: 100%;

    &:nth-child(5n) {
      padding-right: 0;
    }

    &:nth-child(5n+1) {
      padding-left: 0;
    }

    .views-field {
      margin-bottom: .3em;
      line-height: 1.2;
    }

    .views-field-name {
      background: transparent url(../images/schedule/speaker.png) no-repeat;
      @include font-size(12px);
      font-weight: normal;
      line-height: image-height('schedule/speaker.png');
      margin-bottom: .5em;
    }

    .views-field-nothing {
      font-weight: bold;
    }

    .views-field-field-badge-job-title,
    .views-field-field-badge-org {
      @include font-size(14px);
      line-height: 1.5em;
    }

    .views-field-field-badge-org {
      color: $c-brand-main;
    }
  }

  @include breakpoint(31em, true) {
    .views-row {
      width: 40%;
    }
  }

  @include breakpoint($tab, true) {
    .views-row {
      width: 33%;
    }
  }

  @include breakpoint($desk, true) {
    .views-row {
      width: 19%;
    }
  }
}
