/**
 * $VIEW-EVENTS
 */

.view--social-events--page {
  .view-content {
    .item-list {
      border: 1px solid $pale-grey;

      .section-title {
        background: $maroon;
        color: $white;
        font-family: $regular-font-family;
        @include font-size(26px);
        margin: 0;
        padding: 0.6em 20px 0.5em 20px;
        overflow: hidden;
      }
      > ul, .views-row {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .views-row {
        color: $dark-grey;
        padding: 20px;
        border-bottom: 1px solid $pale-grey;
        @include font-size(17px);

        .views-field-title {
          a {
            display: block;
            font-family: $regular-font-family;
            @include font-size(22px);
            margin-bottom: 0.5em;
          }
        }
        .views-field-field-event-time {
          @include font-size(15px);
          color: $black;
          font-weight: bold;
          margin: 0.5em 0;
        }
        .views-field-field-location {
          background: transparent image-url('schedule/location.png') 0px 6px no-repeat;
          padding-left: 26px;
          margin-bottom: 0.6em;
        }
      }
      .views-row-last {
        border-bottom: none;
      }
    }
  }

}