/**
 * $VIEWS-EXPOSED
 */

.views-exposed-form {
  .views-exposed-widget {
    display: inline-block;
    float: none;
    vertical-align: top;

    .form-submit {
      margin-top: 1.85em;
    }
  }

  label {
    color: $brown;
    font-weight: 700;
    @include font-size(15px);
  }

  .views-widget {
    margin-top: .3em;
  }

  .form-text {
    padding: .85em;
  }

  .form-submit {
    height: 2.9em;
    line-height: 2.9em;
  }
}

.view-drupalcon-schedule .views-widget-filter-field_track_value {
  background: $white;
  width: 100%;
  padding: 0;

  & > label { // @todo use a more sensible selector
    display: block;
    padding: .8em $horz-spacing-unit .7em $horz-spacing-unit;
    margin-bottom: 0;
    background: $dark-grey;
    color: $white;
    text-align: left;
    @include font-size(26px);
    font-family: $regular-font-family;
    text-transform: uppercase;
    font-weight: normal;
  }

  .form-type-bef-checkbox {
    margin: 0;
  }

  .form-checkboxes {
    @extend .clearfix;
    .form-item {
      float: left;
      width: 100%;
    }

    @include breakpoint(550px) {
      .form-item {
        width: 50%;
      }
    }
  }

  .form-type-bef-checkbox label.option {
    display: block;
    padding: 1.3em;
    padding-left: 70px;
    margin: 0;
    min-height: image-height('track-icon/business.png');
    border-bottom: 1px solid $pale-grey;
    border-right: 1px solid $pale-grey;
    background: transparent image-url('track-icon/business.png') 20px center no-repeat;
    color: $darkest-grey;
    @include font-size(14px);
    line-height: 1.25em;
    cursor: pointer;
    font-weight: normal;

    &:hover {
      background-color: $off-white;
    }
  }

  .form-type-bef-checkbox:nth-child(odd) label.option {
    border-left: 1px solid $pale-grey;
  }

  .form-type-bef-checkbox input {
    display: none;

    &[checked="checked"] + label {
      background-color: lighten($grey, 70%);
    }
  }

  .form-item-edit-field-track-value-coding-development label.option {
    background-image: image-url('track-icon/development.png');
  }
  .form-item-edit-field-track-value-devops label.option {
    background-image: image-url('track-icon/devops.png');
  }
  .form-item-edit-field-track-value-frontend label.option {
    background-image: image-url('track-icon/frontend.png');
  }
  .form-item-edit-field-track-value-site-building label.option {
    background-image: image-url('track-icon/building.png');
  }
  .form-item-edit-field-track-value-core label.option {
    background-image: image-url('track-icon/core.png');
  }
  .form-item-edit-field-track-value-event label.option {
    background-image: image-url('track-icon/event.png');
  }
  .form-item-edit-field-track-value-business label.option {
    background-image: image-url('track-icon/showcase.png');
  }
  .form-item-edit-field-track-value-case-studies label.option {
    background-image: image-url('track-icon/casestudies.png');
  }
  .form-item-edit-field-track-value-uxui label.option {
    background-image: image-url('track-icon/ux.png');
  }
}
