/**
 * $VIEW-PERSONAL-SCHEDULE
 */

.view--personal-schedule--page {
  .views-row {
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    padding: $vert-spacing-unit;
  }

  .views-field-field-session-room {
    margin-bottom: .5em;
    padding-left: $vert-spacing-unit * 1.5;
  }

  .views-row:last-child {
    border-bottom: 1px solid $grey;
  }
}
