/**
 * $VIEW-SCHEDULE
 */

.view-schedule {
  .tabs {
    li {
      margin-bottom: 40px;
    }
  }

  .section-title {
    background: $maroon;
    color: $white;
    border-left: 1px solid $maroon;
    border-right: 1px solid $pale-grey;
    text-transform: uppercase;
    font-family: $regular-font-family;
    @include font-size(26px);
    margin: 0;
    overflow: hidden;

    .slot_day,
    .slot_time {
      text-align: left;
      padding: .6em $vert-spacing-unit .5em $vert-spacing-unit;
      float: left;
    }

    .slot_day {
      width: 55%;
    }

    .slot_time {
      background: $c-brand-dark-orange;
      width: 45%;
    }
  }

  .schedule-list {
    border-left: 1px solid $pale-grey;
    border-right: 1px solid $pale-grey;

    &:last-child {
      .views-row-last {
        border-bottom: 1px solid $pale-grey;
      }
    }
  }

  .session-title,
  .views-field-title {
    margin-bottom: $vert-spacing-unit / 2;

    a {
      color: $darkest-grey;
      text-transform: uppercase;
      font-family: $regular-font-family;
      @include font-size(20px);

      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .schedule-item {
    background: $white;
    border-bottom: 1px solid $pale-grey;

    &.views-row-last {
      border-bottom: 0;
    }

    .session-title {
      margin-bottom: $vert-spacing-unit / 2;
    }
  }

  .experience-level {
    height: image-height("../images/difficulty/advanced.png");
    width: image-width("../images/difficulty/advanced.png");

    &.Beginner {
      @include difficulty-sprite(beginner);
    }
    &.Intermediate {
      @include difficulty-sprite(intermediate);
    }
    &.Advanced {
      @include difficulty-sprite(advanced);
    }
  }

  .schedule-room-title,
  .views-field-field-session-room {
    background: transparent image-url('schedule/location.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;
    color: $dark-grey;

    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .session-speaker {
    background: transparent image-url('schedule/speaker.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;

    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .flag-action {
    @include schedule-sprite(calendar);
  }
  .unflag-action {
    @include schedule-sprite(calendar-remove);
  }

  .flag-session-schedule {
    @include font-size(10px);
    margin-top: -.5em;

    a {
      height: image-height("../images/schedule/calendar.png");
      width: image-width("../images/schedule/calendar.png");
      display: block;
      padding: 0;
    }
  }

  .flag-message {
    @include font-size(11px);
    top: .3em;
    left: 10%;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
  }

  .track-icon {
    @include hide-text;
    height: image-height("../images/track-icon/building.png");
    width: image-width("../images/track-icon/building.png");
    margin-left: -20px;
  }
  .track-icon.trackdrupal {
    @include track-icon-sprite(business);
  }
  .track-icon.trackcoding_development {
    @include track-icon-sprite(development);
  }
  .track-icon.trackdevops {
    @include track-icon-sprite(devops);
  }
  .track-icon.trackfrontend {
    @include track-icon-sprite(frontend);
  }
  .track-icon.tracksite_building {
    @include track-icon-sprite(building);
  }
  .track-icon.trackcore {
    @include track-icon-sprite(core);
  }
  .track-icon.trackEvent {
    @include track-icon-sprite(event);
  }
  .track-icon.trackbusiness {
    @include track-icon-sprite(showcase);
  }
  .track-icon.trackcase_studies {
    @include track-icon-sprite(casestudies);
  }
  .track-icon.trackux {
    @include track-icon-sprite(ux);
  }

  @include breakpoint(580px) {
    .schedule-item .flag-session-schedule {
      margin-top: 0;
      border-left: 1px solid $pale-grey;

      .flag {
        margin-top: -(image-height('schedule/calendar.png') / 2);
        margin-left: (80px - image-height('schedule/calendar.png')) / 2;
      }
    }
  }

  @include breakpoint($tab) {
    .schedule-item {
      .track-icon {
        margin-right: 80px - image-width("../images/track-icon/building.png");
      }
      .experience-level {
        margin-right: 60px - image-width("../images/difficulty/advanced.png");
      }
    }
  }
}
