.view-drupalcon-bofs {
  ul {
    padding-left: 0;
  }

  .tabs {
    margin-bottom: 0;
  }

  .time-label {
    padding: 0.6em $vert-spacing-unit;
    margin-bottom: 0;
    background: $maroon;
    color: #fff;
    text-transform: uppercase;
    font-family: $regular-font-family;
    letter-spacing: .2em;
    @include font-size(26px);
  }

  .schedule-item {
    background: $off-white;
    padding: $vert-spacing-unit;
    border-bottom: 1px solid $pale-grey;
    border-left: 1px solid $pale-grey;
    border-right: 1px solid $pale-grey;

    div {
      a {
        color: $white;
        margin-left: 30px;
        background-color: $c-brand-main;
        padding: 6px;
        &:hover, &:focus {
          background-color: $c-brand-dark-orange;
          color: $white
        }
      }
    }
  }

  .session-title {
    margin-bottom: $vert-spacing-unit / 2;

    a {
      color: $darkest-grey;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-family: $regular-font-family;
      @include font-size(20px);

      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }

  .schedule-room-title {
    background: transparent image-url('schedule/location.png') no-repeat;
    @include font-size(14px);
    line-height: 1.5em;
    color: $dark-grey;
    width: 11em;
    margin-bottom: 0.5em;
    padding-left: 30px;

    a {
      color: $dark-grey;
      &:hover,
      &:focus {
        color: $maroon;
      }
    }
  }
}
