/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 90, prague/*.png */
.prague-sprite, .prague-arrow-right, .prague-icon-fb2, .prague-icon-newsletter2, .prague-icon-pin, .prague-icon-twitter2, .prague-sprite-schedule2, .prague-sprite-track-icons {
  background: url('../images/prague-s5f875da637.png') no-repeat;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-arrow-right {
  background-position: 0 -642px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-icon-fb2 {
  background-position: 0 -406px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-icon-newsletter2 {
  background-position: 0 -466px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-icon-pin {
  background-position: 0 -673px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-icon-twitter2 {
  background-position: 0 -346px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-sprite-schedule2 {
  background-position: 0 -526px;
}

/* line 60, ../../../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.prague-sprite-track-icons {
  background-position: 0 0;
}

/*
 * Body
 */
/* line 18, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #e4d4c0 url(../images/tile-aged-paper.png);
  overflow-x: hidden;
}

/* line 28, ../sass/pages.scss */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 38, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 42, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 56, ../sass/pages.scss */
#header {
  background: url(../images/tile-header-bg.jpg) 50% 0;
  position: relative;
  z-index: 3;
}

/* line 63, ../sass/pages.scss */
#site-name {
  display: block;
  width: 128px;
  height: 89px;
  margin: 0 auto 20px;
  position: relative;
}

/* line 71, ../sass/pages.scss */
.logo {
  /* Wrapping link for logo */
  display: block;
  width: 128px;
  height: 89px;
  background: url(../images/logo-prague.png) no-repeat 50% 0;
  background-size: 100% 100%;
  overflow: hidden;
  text-indent: -500em;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -64px;
}

@media all and (min-width: 960px) {
  /* line 86, ../sass/pages.scss */
  #site-name {
    display: block;
    width: 354px;
    height: 77px;
    background: url(../images/logo-bg.png) no-repeat 50% 0;
    position: absolute;
    top: auto;
    bottom: -77px;
    left: 50%;
    margin: 0 0 0 -177px;
  }

  /* line 98, ../sass/pages.scss */
  .logo {
    /* Wrapping link for logo */
    display: block;
    width: 256px;
    height: 175px;
    background: url(../images/logo-prague.png) no-repeat 50% 0;
    overflow: hidden;
    text-indent: -500em;
    position: absolute;
    left: 50%;
    top: -121px;
    margin-left: -128px;
  }
}
/* line 112, ../sass/pages.scss */
#name-and-slogan {
  clear: both;
}

/* line 116, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 121, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 129, ../sass/pages.scss */
#main {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
@media all and (min-width: 960px) {
  /* line 129, ../sass/pages.scss */
  #main {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
 * Content
 */
@media all and (min-width: 620px) {
  /* line 144, ../sass/pages.scss */
  .sidebar-second #content {
    padding-right: 50px;
  }
}
/* line 149, ../sass/pages.scss */
.floated-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
  top: 0;
  text-align: center;
}
/* line 71, ../sass/_custom.scss */
.floated-list > li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
  margin-right: -4px;
  /* Remove the gap caused by inline-block */
  vertical-align: top;
}
@media screen and (min-width: 440px) {
  /* line 71, ../sass/_custom.scss */
  .floated-list > li {
    width: 50%;
  }
}
@media screen and (min-width: 860px) {
  /* line 71, ../sass/_custom.scss */
  .floated-list > li {
    width: 33%;
  }
}
/* line 90, ../sass/_custom.scss */
.floated-list img {
  display: block;
  width: 100%;
}

/* line 155, ../sass/pages.scss */
.view-sponsors-admin .item-list > ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
  top: 0;
  text-align: center;
}
/* line 71, ../sass/_custom.scss */
.view-sponsors-admin .item-list > ul > li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  width: 100%;
  margin-bottom: 40px;
  padding: 0 20px;
  margin-right: -4px;
  /* Remove the gap caused by inline-block */
  vertical-align: top;
}
@media screen and (min-width: 440px) {
  /* line 71, ../sass/_custom.scss */
  .view-sponsors-admin .item-list > ul > li {
    width: 50%;
  }
}
@media screen and (min-width: 860px) {
  /* line 71, ../sass/_custom.scss */
  .view-sponsors-admin .item-list > ul > li {
    width: 33%;
  }
}
/* line 90, ../sass/_custom.scss */
.view-sponsors-admin .item-list > ul img {
  display: block;
  width: 100%;
}
/* line 158, ../sass/pages.scss */
.view-sponsors-admin .item-list > ul > li {
  vertical-align: middle;
}
@media screen and (min-width: 400px) {
  /* line 163, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Diamond {
    width: 50%;
  }
  /* line 167, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Platinum {
    width: 40%;
  }
  /* line 174, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Gold, .view-sponsors-admin .item-list > ul > li.Silver, .view-sponsors-admin .item-list > ul > li.Bronze, .view-sponsors-admin .item-list > ul > li.Media {
    width: 33%;
  }
}
@media screen and (min-width: 780px) {
  /* line 180, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Diamond {
    width: 40%;
  }
  /* line 184, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Platinum {
    width: 33%;
  }
  /* line 191, ../sass/pages.scss */
  .view-sponsors-admin .item-list > ul > li.Gold, .view-sponsors-admin .item-list > ul > li.Silver, .view-sponsors-admin .item-list > ul > li.Bronze, .view-sponsors-admin .item-list > ul > li.Media {
    width: 25%;
  }
}

@media screen and (min-width: 600px) {
  /* line 198, ../sass/pages.scss */
  .region-footer .view-sponsors-admin .item-list > ul > li {
    width: 33%;
  }
}
@media screen and (min-width: 980px) {
  /* line 204, ../sass/pages.scss */
  .region-footer .view-sponsors-admin .item-list > ul > li {
    width: 15%;
  }
}
/* line 210, ../sass/pages.scss */
.region-highlighted {
  position: relative;
}

/* line 214, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 215, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 219, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 232, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 236, ../sass/pages.scss */
table {
  width: 100%;
}

/* line 240, ../sass/pages.scss */
tr {
  background-color: #dac7af;
  border-bottom: #e4d4c0 2px solid !important;
}

/* line 245, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: #cab598;
}

/* line 249, ../sass/pages.scss */
tr.odd {
  background-color: #dac7af;
}

/* line 253, ../sass/pages.scss */
thead tr {
  background-color: #5c463b;
  color: #e4d4c0;
}

/* line 259, ../sass/pages.scss */
td,
th {
  padding: 20px;
}

/* line 263, ../sass/pages.scss */
td.active {
  background-color: #ece2d6;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 268, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 271, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 277, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 281, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 286, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 289, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 293, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 297, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 300, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 303, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 306, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 309, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 313, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 319, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 323, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 326, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 5px;
}
/* line 329, ../sass/pages.scss */
.item-list .pager li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #e88c2d;
  color: #fff;
  text-decoration: none;
}
/* line 339, ../sass/pages.scss */
.item-list .pager li a:hover {
  background: #dd7200;
}
/* line 347, ../sass/pages.scss */
.item-list .pager li.pager-first a, .item-list .pager li.pager-last a, .item-list .pager li.pager-previous a, .item-list .pager li.pager-next a {
  width: auto;
  padding: 5px 10px;
}

/* line 354, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
  position: absolute;
  bottom: 18px;
  right: 20px;
}

/* line 360, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* User pictures */
/* line 364, ../sass/pages.scss */
.user-picture {
  display: inline-block;
  max-width: 220px;
  max-height: 220px;
  overflow: hidden;
  -webkit-border-radius: 220px;
  -moz-border-radius: 220px;
  -ms-border-radius: 220px;
  -o-border-radius: 220px;
  border-radius: 220px;
}
/* line 371, ../sass/pages.scss */
.user-picture img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 220px;
  -webkit-border-radius: 220px;
  -moz-border-radius: 220px;
  -ms-border-radius: 220px;
  -o-border-radius: 220px;
  border-radius: 220px;
}

/* line 380, ../sass/pages.scss */
.user-profile .user-picture {
  float: right;
  margin: 0 0 20px 20px;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 402, ../sass/pages.scss */
.not-front .region-sidebar-second {
  padding-top: 120px;
}

/*
 * Footer
 */
/* line 410, ../sass/pages.scss */
#footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  overflow: hidden;
  border-top: #000 2px solid;
  box-shadow: #e5d5c1 0 -2px 0, #000 0 -3px 0;
}
/* line 420, ../sass/pages.scss */
#footer h3 {
  margin-top: 0;
  text-align: center;
}

/*
 * Page bottom
 */
/* line 429, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  padding-bottom: 360px;
  background: #010101 url(../images/footer-bg.jpg) no-repeat 50% 0;
  background-size: 100% auto;
  font-size: 12px;
  text-align: center;
  color: #e4d4c0;
  position: relative;
}
/* line 438, ../sass/pages.scss */
.region-bottom a {
  color: #e4d4c0;
}
@media screen and (min-width: 670px) {
  /* line 429, ../sass/pages.scss */
  .region-bottom {
    padding-bottom: 440px;
  }
}
@media screen and (min-width: 940px) {
  /* line 429, ../sass/pages.scss */
  .region-bottom {
    padding-bottom: 580px;
  }
}
@media screen and (min-width: 1280px) {
  /* line 429, ../sass/pages.scss */
  .region-bottom {
    padding-bottom: 680px;
  }
}

/* line 457, ../sass/pages.scss */
.region-bottom .block {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 20px;
  margin-left: -45%;
}
@media screen and (min-width: 940px) {
  /* line 457, ../sass/pages.scss */
  .region-bottom .block {
    width: 50%;
    left: 50%;
    bottom: 40px;
    margin-left: -25%;
  }
}
