.field-name-field-eval-field-1,
.field-name-field-eval-field-2,
.field-name-field-eval-field-3,
.field-name-field-eval-field-4,
.field-name-field-eval-field-5 {
  .form-radios .form-item {
    @include inline-block;
    margin: 0 0.4em;
  }
}
