/**
 * $FIELD
 */
.field {
  margin-bottom: $vert-spacing-unit * 0.3;
}

.field--name-field-tag,
.field--name-field-speakers {
  .field__label,
  .field__items,
  .field__item, {
    display: inline-block;
  }
  .field__label {
    margin-right: 0.4em;
  }
  .field__item {
    margin-right: 0.8em;
  }
}
