// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.

@import "variables/**/*";
@import "abstractions/**/*";

.l-header-wrapper,
.l-highlighted-wrapper,
.l-footer,
.l-region {
  display: none;
}

.action-links,
.links,
.pager {
  display: none;
}

/* Headings */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: $black;
}

/* Links */
a {
  color: inherit;
}

/* Tables */
table {
  border: 1px solid $pale-grey;
  page-break-inside: avoid;
}
tbody tr {
  border: none;
}
td, th {
  border: 1px solid $pale-grey;
  padding: 0.75em;
}
th {
  &,
  & a,
  & a.active {
    color: $grey;
  }
}
th.active img {
  display: none;
}

/* Invoice */
.page-user-orders {
  @include font-size(12px);
  line-height: 1.5em;

  .field__item {
    div {
      margin-bottom: 0;
    }
  }
}

.block--invoice {
  line-height: 1.5em;

  .print-link {
    display: none;
  }
}

.invoice-header__first,
.invoice-header__last {
  width: 100%;
  float: none;
}

.entity-commerce-order .field--name-commerce-customer-billing,
.entity-commerce-order .registration-list {
  margin-bottom:  $vert-spacing-unit * 2;
}
