/**
 * $FOOTER-MENU
 */
.menu-name-menu-footer-menu {
   & > .menu {
    @extend .clearfix;
    & > li {
      float: left;
      width: 50%;
      max-width: 11em;
      margin-top: $vert-spacing-unit;
      @include font-size(17px);
      text-transform: uppercase;

      .menu {
        margin-top: 0.6em;
      }
      li {
        @include font-size(15px);
        text-transform: none;
      }
    }
  }

  @include breakpoint(500px) {
    & > .menu {
      & > li {
        width: 33%;
      }
    }
  }
}
