/**
 * $MAIN-MENU
 */

@include breakpoint($desk, true) {
  .spaced-link {
    margin-right: 300px;
  }
  .nested-menu-item-toggle {
    display: none;
  }
  .menu-name-main-menu {
    .menu {
      z-index: $top-z;
      text-align: center;

      li {
        @include inline-block(top);
        position: relative;

        .menu {
          display: none;
          position: absolute;
          width: 200%;
          margin-left: -50%;

          .leaf,
          .leaf > a {
            display: block;
            width: auto;
          }
        }

        &:hover,
        &:focus {
          .menu {
            display: block;
          }
        }
      }
    }
  }
}
