/**
 * $Navigation
 */

.menu {
  @extend .unstyled-list;

  .leaf {
    list-style: none;
  }
}

.menu-name-main-menu,
.block--system-user-menu {
  @include breakpoint(0 $desk) {
    .menu {
      text-align: center;

      li {
        position: relative;
      }

      a {
        display: block;
        text-decoration: none
      }

      .nested-menu-item-toggle {
        position: absolute;
        top: 1.3em;
        right: 0;
        padding-left: 15%;
        display: block;
      }
      .expanded {
        .menu {
          display: block;
        }
      }
    }
  }
}
.js {
  .menu-name-main-menu,
  .block--system-user-menu {
    @include breakpoint(0 $desk) {
      li .menu {
        display: none;
      }
    }
  }
}
