/**
 * $TABS
 */
.tabs {
  @extend .clearfix;
  margin-bottom: $vert-spacing-unit * 2;
}

.tabs--secondary {
  position: relative;
  top: -($vert-spacing-unit * 2);
  margin-bottom: $vert-spacing-unit * 2;
}
