/**
 * $USER-MENU
 */

@include breakpoint($desk, true) {
  .block--system-user-menu {
    .menu {
      li {
        @include inline-block(top);

        &.last {
          padding-right: 0;
        }
      }
    }
  }
}
