/**
 * $COMMERCE
 */

.view-commerce-cart-form {
  .form-text {
    background: $white;

    &:hover,
    &:focus {
      background: $white;
    }
  }

  input.delete-line-item {
    padding: 0 1em;
    line-height: 2em;
  }
}

.checkout-buttons {
  .button,
  .button-operator {
    margin-right: 1em;
  }

  .button-operator {
    @include font-size(16px);
  }

  .checkout-processing {
    margin-left: -8px;
  }

  .checkout-back,
  .checkout-cancel {
    padding: 0;
    color: $red;

    &:hover,
    &:focus {
      color: $maroon;
    }
  }
}

.commerce-order-handler-area-order-total {
  @include pie-clearfix;

  .commerce-price-formatted-components {
    width: 100%;
  }
}

.view-commerce-coupon-review-pane {
  margin-top: $vert-spacing-unit;
}
