/**
 * $REGISTRATION
 */

.checkout-help {
  margin-bottom: $vert-spacing-unit;
}

.checkout-review {
  border: 1px solid $pale-grey;
  border-bottom: 0;

  .pane-title,
  .pane-data {
    border: none;
  }

  .pane-title {
    & > td {
      background: $red;
      letter-spacing: .2em;
      text-transform: uppercase;
      font-family: $regular-font-family;
      color: $white;
    }
  }

  .pane-data {
    & > td {
      background: $white;
    }
  }

  .pane-data-full {
    line-height: 2em;

    .field,
    .form-item label {
      margin-bottom: 0;
    }
  }
}

table.checkout-review .pane-title td {
  font-weight: normal;
}
