$off-white  : #f7f4ee;
$beige      : #e5e3d2;
$earth      : #d5ceaa;
$pale-red   : #c89485;
$mid-red    : #965c56;
$red        : #7c383b;
$dark-red   : #632629;
$brown      : #583a24;
$grey       : #373537;
