/**
 * $VARIABLES-LAYOUT
 */

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$tab  : 700px;
$desk : 1000px;

// Set Singularity grid variables.
$grids: 2;
$grids: add-grid(12 at $tab);
$grids: add-grid(12 at $desk);

// Set Singularity gutters to 3:1 ratio.
$gutters: 1/3;

// Max container width
$max-width: 70em;

// Branding Logo positioning
$branding-logo-top: 0;
$branding-logo-width: 141px;

// Z-index helpers
$heavenly-z: 1001;
$top-z: 999;
$high-z: 20;
$mid-z: 11;
$low-z: 10;
$zero-z: 0;
$sub-zero-z: -1;
