/**
 * $VARIABLES-TYPOGRAPHY
 */ 

@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 22px;

$base-font-family: Arial, sans-serif;

$indent-amount: 40px;

$primary-font-family: 'Raleway', sans-serif;
$cursive-font-family: 'Lobster', cursive;
