/**
 * $Flexslider
 */
.flexslider {
  background: $earth;
}
/* Direction Nav */
.flex-direction-nav {
  .flex-prev,
  .flex-next {
    display: block;
    @include hide-text;
    margin-top: -15px;
  }
  .flex-prev {
    @include icon-sprite(arrow-left);
  }
  .flex-next {
    @include icon-sprite(arrow-right);
  }

  @include breakpoint($tab, true) {
    .flex-prev,
    .flex-next {
      margin-top: -36px;
    }
  }
}

/* Pager Nav */
.flex-control-paging {
  a {
    display: block;
    @include hide-text;
    height: 12px;
    width: 12px;
    margin: 5px;
    background-color: $off-white;
    cursor: pointer;

    &.flex-active {
      background-color: $red;
    }
  }
}
