/**
 * $SPEAKERS
 */

.speaker {
  background-color: $red;
}
.speaker__info {
  background-color: rgba($red, 0.9);
  color: $off-white;

  h4 {
    color: $off-white;
    font-weight: 700;
  }

  a {
    color: $pale-red;
    font-weight: 700;
    &:focus,
    &:hover {
      color: $grey;
    }
  }
}

@include breakpoint($desk, true) {
  .speaker {
    background: none;
  }
}
