.name-block {
  float: none;
  margin-right: 0;
}

div.addressfield-container-inline { // Overspecified
  @extend .clearfix;

  & > div.form-item { // Overspecified
    float: none;
    margin-right: 0;

    @include breakpoint($tab) {
      float: left;
      width: 48%;

      &:nth-of-type(odd) {
        margin-right: 4%;
      }
    }
  }
}

.form-item .postal-code {
  width: auto;
  max-width: 100%;
}
