/**
 * $BLOCK-DATE
 */

.block--date {
  padding-top: $vert-spacing-unit;

  @include breakpoint($tab, true) {
    padding-top: $vert-spacing-unit * 2.5;
  }

  h2 {
    text-transform: uppercase;
    font-family: $bold-font-family;
    color: $white;
    opacity: .85;
    @include font-size(36px);
    letter-spacing: .15em;
    margin: 0;
  }

  .numbers {
    @include font-size(38px);
  }

  @include breakpoint ($tab, true) {
    h2 {
      @include font-size(90px);
      letter-spacing: .2em;
    }

    .numbers {
      @include font-size(96px);
    }
  }
}

.front {
  .block--date {
    @include breakpoint($desk, true) {
      padding: ($vert-spacing-unit * 3) 0 $vert-spacing-unit 0;

      h2 {
        @include font-size(128px);
        letter-spacing: .25em;
      }

      .numbers {
        @include font-size(136px);
      }
    }
  }
}
