/**
 * $BLOCK-SPONSORS-DIAMOND
 */

.block--views-sponsors-block-diamond {
  .block__title {
    text-transform: uppercase;
    @include font-size(16px);
    font-family: $regular-font-family;
    letter-spacing: .2em;
    color: $black;
    margin: 0;
    width: 100%;
    display: block;
    padding: 5px 0;
    background: rgba($white, 0.8);
  }

  @include breakpoint($desk, true) {
    .block__title {
      height: 71px;
      position: absolute;
      padding: 14px 0 0 2px;
      margin: 0 0 0 -45px;
      width: 78px;
      display: inline-block;

      &:before {
        display: block;
        left: -(image-width('sponsors-heading-left.png'));
        top: 0;
        content: image-url('sponsors-heading-left.png');
        position: absolute;
      }

      &:after {
        display: block;
        right: -(image-width('sponsors-heading-right.png'));
        top: 0;
        content: image-url('sponsors-heading-right.png');
        position: absolute;
      }
    }
  }
}

.not-front {
  .block--views-sponsors-block-diamond {
    margin-top: $vert-spacing-unit * 1;
  }
}

@include breakpoint($tab, true) {
  .not-front {
    .block--views-sponsors-block-diamond {
      margin-top: $vert-spacing-unit * 2;
    }
  }
}

@include breakpoint($desk, true) {
  .front {
    .block--views-sponsors-block-diamond {
      margin-top: $vert-spacing-unit * 4;
    }
  }
}
