/**
 * $BLOCK-SPONSORS-PLATINUM
 */

.block--views-sponsors-block-platinum {
  .block__title {
    text-transform: uppercase;
    @include font-size(45px);
    letter-spacing: .2em;
    color: $black;
    font-family: $regular-font-family;
  }
}

