/**
 * $BLOCK-TICKETS
 */

.block--tickets {
  a {
    background: $red;
    color: $white;
    display: block;
    text-transform: uppercase;
    @include font-size(22px);
    letter-spacing: .2em;
    font-family: $regular-font-family;
    text-align: center;
    padding: $vert-spacing-unit ($vert-spacing-unit * 3);

    &:hover,
    &:focus {
      background: $maroon;
    }
  }
}

.block--tickets-header {
  margin: $vert-spacing-unit 0 ($vert-spacing-unit * 1.5) 0;

  a {
    display: inline-block;
    @include font-size(20px);
    letter-spacing: .25em;
    padding: ($vert-spacing-unit / 2) $vert-spacing-unit;
  }
}

@include breakpoint($tab, true) {
  .block--tickets-header {
    margin: $vert-spacing-unit 0 ($vert-spacing-unit * 2.25) 0;

    a {
      padding: ($vert-spacing-unit * .75) ($vert-spacing-unit * 2);
    }
  }
}

@include breakpoint($desk, true) {
  .block--tickets-header {
    a {
      padding: $vert-spacing-unit ($vert-spacing-unit * 3);
    }
  }
}
