/**
 * $BLOCK-WHY
 */

.block--why {
  padding: ($vert-spacing-unit * 2) 0 ($vert-spacing-unit / 2);
}

@include breakpoint($desk, true) {
  .block--why {
    padding: ($vert-spacing-unit * 3) 0 ($vert-spacing-unit * 2);
  }
}
