/**
 * $ACTION-LINKS
 */

.action-links {
  text-transform: uppercase;
  font-family: $regular-font-family;
  letter-spacing: .2em;
  margin-left: 0;

  .icon {
    vertical-align: -0.15em;
    margin-right: 0.5em;
  }
}
