/**
 * $MAIN-MENU
 */

@include breakpoint($desk, true) {
  .menu-name-main-menu {
    li {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    a {
      text-transform: uppercase;
      color: $white;
      padding: ($vert-spacing-unit / 2) ($vert-spacing-unit * 1.5);
      font-family: $regular-font-family;
      letter-spacing: .2em;

      &:hover,
      &:focus {
        color: $red;
      }

      &.active,
      &.active-trail {
        color: $maroon;

        &:hover,
        &:focus {
          color: $maroon;
        }

        &:after {
          content: "";
          position: absolute;
          @include arrow(top, $maroon, 6px, 6px);
          bottom: -9px;
          left: 50%;
          margin-left: -7px;
          z-index: 1000;
        }
      }
    }

    li {
      &:hover,
      &:focus {
        a {
          color: $red;
        }
        &:after {
          content: "";
          position: absolute;
          @include arrow(top, $red, 6px, 6px);
          bottom: -9px;
          left: 50%;
          margin-left: -7px;
          z-index: 1000;
        }
      }
      &.active,
      &.active-trail {
        color: $maroon;

        &:hover,
        &:focus {
          color: $maroon;
        }
      }
    }

    .leaf {
      &:hover,
      &:focus {
        &:after {
          border: none;
          position: static;
        }
      }
    }

    .menu .menu {
      margin-top: 9px;
      z-index: $heavenly-z;
      a {
        padding: ($vert-spacing-unit * .65) 1em ($vert-spacing-unit / 2) 1em;
        background: $red;
        border-bottom: 1px solid $dark-maroon;
        color: $off-white;
        @include font-size(16px);

        &.active,
        &.active-trail,
        &:hover,
        &:focus {
          background-color: $maroon;
          color: $white;
          border-bottom-color: $dark-maroon;
        }
        &.active,
        &.active-trail {
          &:after {
            content: none;
          }
        }
      }

      .last a {
        border-bottom: 0;
      }
    }
  }
}
.spaced-link {
  margin: 0;
}
