/**
 * $PAGER
 */

.pager__item {
  display: inline-block;
  margin: .2em .3em;
  padding: 0;
  font-family: $bold-font-family;
  text-transform: uppercase;
  color: $red;
  letter-spacing: .2em;

  a {
    display: block;
    padding: .2em .6em .2em .8em;
    background: $off-white;
    color: $dark-maroon;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $maroon;
      color: $white;
    }
  }
}

.pager__item--current,
.pager__item--ellipsis {
  font-family: $bold-font-family;
  font-weight: normal;
  color: $red;
}

.pager__item--current {
  padding: 0 .6em 0 .8em;
}
