@import "variables/**/*";

.front .l-content > .node {
  background: transparent url(../images/line.png) bottom left no-repeat;
  margin-bottom: $vert-spacing-unit * 1.5;
  padding-bottom: $vert-spacing-unit / 2;
}
