// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";

.icon {
  @include inline-block;
}
$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

$track-icon-spacing: 17px;
@import "track-icon/*.png";

$difficulty-icon-layout: vertical;
@import "difficulty/*.png";

$off-canvas-sprite-dimensions: true;
@import "off-canvas/*.png";

@import "schedule/*.png";
@include all-schedule-sprites;

$social-spacing: 15px;
$social-sprite-dimensions: true;
@import "social/*.png";
@include all-social-sprites;

@import "base/**/*";
@import "layout/**/*";
@import "components/**/*";

//.l-branding,
//#block-drupalorg-drupalcon-drupalcon-sponsors-block-2,
//.node__links,
//.element-invisible {
//  display: none;
//}
