/* $menu sction-links */
.block--menu-menu-action-links {
	> .menu {
		margin: 0;
		list-style: none;

		li {
			display: block;
			margin-bottom: 1em;
			clear: both;

			a, a:link {
				background: transparent no-repeat 94% center;
				display: block;
				padding: 0.8em 2em 0.8em 0.8em;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				font-size: 128%;
			}

			.menu-item-social-tw-follow, .menu-item-social-tw-follow:link { background-color: $c-tw;         background-image: image-url('icon-tw2.png'); }
			.menu-item-social-fb-like, .menu-item-social-fb-like:link     { background-color: $c-fb;         background-image: image-url('icon-fb2.png'); }
			.menu-item-drupal-news, .menu-item-drupal-news:link           { background-color: $c-brand-blue; background-image: image-url('icon-drupal.png'); }
		}
	}
}
