/**
 * $FOOTER-MENU
 */

.menu-name-menu-footer-menu {
  min-height: 300px;
  margin-bottom: 220px;

  > .menu > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $vert-spacing-unit;
  }

  .menu {
    a {
      font-family: $regular-font-family;
      color: $maroon;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $red;
      }

      &.active {
        color: $maroon;

        &:hover,
        &:focus {
          color: $maroon;
        }
      }
    }

    .menu {
      margin-top: $vert-spacing-unit * 2;
      a {
        color: $grey;
        @include font-size(16px);
        text-transform: none;
        font-family: $base-font-family;
        letter-spacing: 0;

        &:focus,
        &:hover {
          color: $pale-grey;
        }

        &.active {
          color: $off-white;

          &:focus,
          &:hover {
            color: $off-white;
          }
        }
      }
    }
  }
}
