/**
 * $MAIN-MENU
 */

.l-navigation li {
  display: block;
}

@include breakpoint($tab, true) {
  .l-navigation {
    .l-region--navigation {
      .block--menu-block {
        .block__title {
          display: none;
        }
      }
    }
  }

  .menu-name-main-menu {
    li {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }

    a {
      text-transform: uppercase;
      color: $white;
      padding: 14px ($vert-spacing-unit * 1.5);
      font-family: $regular-font-family;
      border-bottom: 6px solid transparent;

      &:hover,
      &:focus {
        color: $red;
      }

      &.active,
      &.active-trail {
        border-bottom-color: #fff;

        &:hover,
        &:focus {
          color: $maroon;
        }
      }
    }

    .login {
      background: image-url('icon-login.png') 10px center no-repeat;
      color: #facc2f;
    }

    li {
      &:hover,
      &:focus {
        a {
          color: $red;
        }

        &:after {
          content: "";
          position: absolute;
          @include arrow(top, $red, 6px, 6px);
          bottom: -9px;
          left: 50%;
          margin-left: -7px;
          z-index: 1000;
        }
      }
      &.active,
      &.active-trail {
        color: $maroon;

        &:hover,
        &:focus {
          color: $maroon;
        }
      }
    }

    .leaf {
      &:hover,
      &:focus {
        &:after {
          border: none;
          position: static;
        }
      }
    }

    .menu .menu {
      margin-top: 9px;
      z-index: $heavenly-z;
      a {
        padding: ($vert-spacing-unit * .65) 1em ($vert-spacing-unit / 2) 1em;
        background: $c-brand-main;
        border-bottom: 1px solid $c-brand-dark-orange;
        color: $off-white;
        @include font-size(16px);

        &.active,
        &.active-trail,
        &:hover,
        &:focus {
          background-color: $maroon;
          color: $white;
          border-bottom-color: $c-brand-dark-orange;
        }
        &.active,
        &.active-trail {
          &:after {
            content: none;
          }
        }
      }

      .last a {
        border-bottom: 0;
      }
    }
  }
}
.spaced-link {
  margin: 0;
}
