$topbar-social-icon-width: 30px;
$topbar-social-icon-height: 30px;

.block--menu-menu-topbar {
	min-height: 56px;
	overflow: hidden;
	position: relative;

	.menu-item-social-fb,
	.menu-item-social-tw {
		background: transparent no-repeat center;
		padding: 2em 1em;
		display: block;
		text-indent: -5000em;
		width: $topbar-social-icon-width;
		height: image-height('img-tickets.png');
		position: absolute;
    right: 0;
		width: 11%;
	}

	.menu-item-social-fb {
		background-color: $c-fb;
		background-image: image-url('icon-fb.png');
		top: 0;
		right: 11%;
	}

	.menu-item-social-tw {
		background-color: $c-tw;
		background-image: image-url('icon-tw.png');
		bottom: 0;
	}

	.menu-item-tickets-registration {
		text-indent: -5000em;
		background: $c-brand-main image-url('img-tickets.png') no-repeat center;
		color: #ccc;
		display: block;
		width: 100%;
		height: 56px;
	}

	.menu-item-user-login,
	.menu-item-user-logout,
	.menu-item-user-account {
		background: $maroon;
		color: white;
		display: block;
		height: $topbar-social-icon-height;
		left: 0;
		line-height: $topbar-social-icon-height;
		padding: 0 .45em;
		position: absolute;
		width: 100%;
	}

	.menu-item-user-login {
		height: $topbar-social-icon-height * 2;
		line-height: $topbar-social-icon-height * 2;
	}

	.menu-item-user-account {
		bottom: 0;
	}

	.menu {
		li {
			display: inline-block;
			float: left;
		}

		.first,
		.logged-in & li:nth-child(2) {
			top: 0;
			width: 78%;
		}

		.not-logged-in & li:nth-child(2),
		.last {
			width: 11%;

			a, a:link {
				height: 16px;
			}
		}
	}
}

@include breakpoint(900px, true) {
	.block--menu-menu-topbar {
		float: right;
		width: 200px;

		.menu-item-social-fb,
		.menu-item-social-tw {
			padding: 1em;
			width: 16px;
			height: 16px;
			float: right;
			clear: right;
		}

		.menu-item-social-fb {
			right: 0;
		}

		.menu-item-tickets-registration {
			width: 200px;
		}

		.menu {
			.first,
			.logged-in & li:nth-child(2) {
				&, a {
					float: left;
				}
			}

			.not-logged-in & li:nth-child(2),
			.last {
				float: right;
				clear: right;
				max-width: 20px;

				a, a:link {
				}
			}
		}
	}
}
