/**
 * $NAVIGATION
 */

// @to do REPLACE CLASSES WHEN CONFIRMED
.menu-name-main-menu,
.block--system-user-menu {
  @include breakpoint(0 $desk) {
    a {
      padding: $vert-spacing-unit 0;
      background: $maroon;
      color: $off-white;
      border-bottom: 1px solid $c-brand-dark-orange;
      @include font-size(16px);
      text-transform: uppercase;
      font-weight: normal;
      font-family: $regular-font-family;

      &.active,
      &.active-trail,
      &:focus,
      &:hover {
        background: $c-brand-dark-orange;
        color: $white;
        border-color: $maroon;
      }

      &.active {
        background: $red;
      }
    }
    .menu {
      .menu {
        a {
          padding: ($vert-spacing-unit / 2) 0;
          background: $c-brand-dark-orange;
          font-weight: normal;
          border-bottom: 1px solid $maroon;

          &:focus,
          &:hover,
          &.active,
          &.active-trail {
            background: $red;
            color: $white;
            border-color: $c-brand-dark-orange;
          }

        }
      }
    }
  }
}
.menu-name-main-menu,
.block--system-user-menu {
  .nested-menu-item-toggle {
    @include off-canvas-sprite(plus);
    padding: 0;
    border: 0;
    &:hover,
    &:focus {
      background-color: transparent;
      @include off-canvas-sprite(plus);
    }
  }
  .expanded {
    .nested-menu-item-toggle {
      @include off-canvas-sprite(minus);
    }
  }
}
