/**
 * $PAGER
 */

.pager {
  background: $c-brand-main;
  margin: 0;
}

.pager__item {
  display: inline-block;
  margin: .2em .3em;
  padding: 0;
  font-family: $bold-font-family;
  text-transform: uppercase;
  color: $red;

  a {
    display: block;
    padding: .1em .6em .1em .8em;
    background: #fff;
    color: #000;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $c-brand-main;
      color: $white;
    }
  }
}

.pager__item--current,
.pager__item--ellipsis {
  font-family: $bold-font-family;
  font-weight: normal;
  color: #fff;
}

.pager__item--current {
  padding: 0 .6em 0 .8em;
  background: $c-brand-gray;
}
