/**
 * $TABS
 */

.tabs {
  li {
    margin: 0 0 $vert-spacing-unit;
    display: block;
    float: left;
  }

  a {
    text-transform: uppercase;
    font-family: $regular-font-family;
    background: $off-white;
    color: $maroon;
    padding: .4em .6em .4em .8em;
    @include font-size(20px);
    position: relative;

    &:hover,
    &:focus {
      background: $maroon;
      color: $white;
    }
  }

  a.active {
    background: $c-brand-dark-orange;
    color: $white;

    &:hover,
    &:focus {
      background: $c-brand-dark-orange;
      color: $white;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      @include arrow(bottom, $c-brand-dark-orange, 14px, 14px);
      left: 50%;
      bottom: -12px;
      margin-left: -18px;
    }
  }
}

.tabs--primary {
  border: 0;
}

.page-program-schedule-monday .monday,
.page-program-schedule-tuesday .tuesday,
.page-program-schedule-wednesday .wednesday,
.page-program-schedule-thursday .thursday,
.page-program-schedule-friday .friday {
  a {
    background: $c-brand-dark-orange;
    color: $white;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -12px;
      margin-left: -18px;
      @include arrow(bottom, $c-brand-dark-orange, 14px, 14px);
    }
  }
}
