/**
 * $USER-MENU
 */

@include breakpoint($desk, true) {
  .block--system-user-menu {
    a {
      @include font-size(14px);
      color: $grey;
      font-weight: 700;
      padding-left: $vert-spacing-unit;

      &:hover,
      &:focus {
        color: $pale-grey;
      }
    }

    .first a {
      padding-left: 0;
    }
  }
}
