.node--forum {
  .submitted,
  .node-footer {
    @include font-size(14px);
  }
  .node__content,
  .node-footer {
    padding-top: $vert-spacing-unit;
    background: transparent url(../images/line.png) left top no-repeat;
  }
  .node-footer {
    margin-bottom: $vert-spacing-unit * 2;
  }
  .separator {
    display: none;
  }
  .user-picture {
    float: left;
    width: 30px;
    margin-top: -6px;
    margin-right: 10px;
  }
}
