.node--session {
  .field--name-field-speaker-experience,
  .field--name-field-opt-in-speaker-feedback,
  .field--name-field-opt-in-speaker-agreement {
    margin-bottom: 1em;
    .field__label {
      margin-bottom: 0.5em;
    }
  }
}
