/**
 * $NODE
 */
.node__date-stamp {
  @include inline-block;
  margin-bottom: $vert-spacing-unit;
  padding: 0.3em 0.9em;
  border: 3px solid $pale-red;
  color: $pale-red;
  @include font-size(15px);
  font-weight: 700;
  text-transform: uppercase;
}

.node .comments {
  margin-top: 0;
  padding-top: $vert-spacing-unit * 2;
  background: transparent url(../images/line.png) left top no-repeat;

  .comments__form-title {
    color: $pale-red;
    @include font-size(22px);
    margin: 0 0 $vert-spacing-unit * 2 0;
  }
}

.node__links {
  margin-bottom: $vert-spacing-unit * 1.5;
}
