/**
 * $NODE-NEWS
 */
.node--news {
  .icon-arrow-right {
    display: inline-block;
    margin: 0 0.3em;
  }
  .links,
  .comment_forbidden {
    color: $red;
    @include font-size(14px);
    line-height: 22px;
  }
  .comment_forbidden {
    .button,
    .button-small {
      background: transparent;
      color: $pale-red;
      height: auto;
      padding: 0;
      text-transform: none;
      line-height: 22px;
      vertical-align: top;
    }
  }
}
