/**
 * $BUTTONS
 */

/*
 * Base Button Styles
 */
.button {
  @include inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  @include font-size(14px);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 3em;
  height: 3em;
  padding-right: 1.8em;
  padding-left: 1.8em;
  border-radius: 0;
  overflow: visible;

  // Base Button States
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Button Size Modifiers
.button--small {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2;
  height: 2em;
}

.button--large {
  padding-right: 2em;
  padding-left: 2em;
  line-height: 4;
  height: 4em;
}

.button--huge {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 6;
  height: 6em;
}

/* These buttons will fill the entirety of their container. */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

// Font Size Modifiers
.button--alpha {
  @include font-size(18px);
}

.button--beta {
  @include font-size(16px);
}

.button--gamma {
  @include font-size(12px);
  text-transform: capitalize;
}

// Inherited button
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.button--inactive,
.button--inactive:hover,
.button--inactive:active,
.button--inactive:focus {
  color: #777;
  cursor: default;
}

/*
 * Stylistic buttons
 */
.button--pill {
  border-radius: 5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.button-link,
.flag-action {
  @extend .button;
}

/* Adjacent buttons should have some margin. */
.button + .button,
.button + a {
  margin-left: 1em;
}
