/**
 * $ROOT
 */
html {
  font-size: $base-font-size * 0.9;
  line-height: $base-line-height * 0.9;

  @include breakpoint($tab, true) {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}

.clearfix {
  @include pie-clearfix;
}

.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
