/**
 * $TYPOGRAPHY
 */

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

blockquote {
  margin: 1em 1em 1em 2em;
  padding: 1em 1em 1em 1.5em;

  border-style: solid;
  border-width: 1px;
  border-left-width: 15px;
}

small {
  margin-bottom: 1em;
  font-size: 0.9em;
  color: lighten(black, 30%);
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0;
  margin-bottom: 0.6em;

  line-height: 1.2em;

  a {
    color: inherit;
  }
}

h1, .alpha { @include font-size(45px); }
h2, .beta { @include font-size(34px); }
h3, .gamma { @include font-size(26px); }
h4, .delta { @include font-size(20px); }
h5, .epsilon { @include font-size(18px); }
h6, .zeta { @include font-size(16px); }

