.comment-form {
  #edit-author--2 label {
    margin-bottom: 0;
  }
  .username {
    font-weight: bold;
    color: $pale-red;
    &:hover {
      color: $red;
    }
  }
  .form-item-notify,
  .form-item-notify-type {
    label {
      text-transform: none;
      letter-spacing: 0;
      @include font-size(14px);
    }
  }
  .form-item-notify {
    label {
      font-weight: bold;
    }
  }
  #edit-notify-type .form-item-notify-type {
    margin-left: 0;
    margin-right: 1.5em;
  }
}
