/**
* $USER-REGISTER-FORM
*/

.form-item {
  .password-strength {
    margin-top: 0;
    margin-bottom: 1.2em;
    @include font-size(14px);
    color: $brown;
  }

  .password-strength,
  .password-confirm {
    @include font-size(14px);
  }
}
