/**
 * $FOOTER-MENU
 */
/**
 * $FOOTER-MENU
 */
.menu-name-menu-footer-menu {
  .menu {
    a {
      font-weight: 700;
      letter-spacing: 0.1em;

      &.active {
        color: $red;
      }
    }
    .menu {
      a {
        color: $grey;
        font-weight: normal;
        letter-spacing: 0;
        @include font-size(13px);
        line-height: 1.25em;

        &:focus,
        &:hover {
          color: $red;
        }
      }
    }
  }
}
