/**
 * $MAIN-MENU
 */

@include breakpoint($desk, true) {
  $vertical-padding: 20px;

  .menu-name-main-menu {
    a {
      padding: $vertical-padding 1em;
      color: $off-white;
      font-weight: 700;
      @include font-size(15px);
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $pale-red;
      }
      &.active,
      &.active-trail {
        color: $earth;
        &:hover,
        &:focus {
          color: $earth;
        }
        &:after {
          content: "";
          position: absolute;
          @include arrow(top, $earth, $vertical-padding / 2, $vertical-padding / 2);
          bottom: -(($vertical-padding - ($vertical-padding / 4)));
          left: 50%;
          margin-left: -($vertical-padding / 2);
          z-index: 1000;
        }
      }
    }
    li {
      &:hover,
      &:focus {
        a {
          color: $pale-red;
        }
        &:after {
          content: "";
          position: absolute;
          @include arrow(top, $red, $vertical-padding / 2, $vertical-padding / 2);
          bottom: -(($vertical-padding - ($vertical-padding / 4)));
          left: 50%;
          margin-left: -($vertical-padding / 2);
        }
      }
      &.active,
      &.active-trail {
        a {
          color: $earth;
          &:hover,
          &:focus {
            color: $earth;
          }
        }
      }
    }
    .leaf {
      &:hover,
      &:focus {
        &:after {
          border: none;
          position: static;
        }
      }
    }

    .menu .menu {
      margin-top: 14px;
      a {
        padding: $vertical-padding / 2 1em;
        background: $red;
        border-bottom: 1px solid $mid-red;
        color: $pale-red;
        @include font-size(14px);

        &.active,
        &.active-trail,
        &:hover,
        &:focus {
          background-color: $earth;
          color: $red;
          border-bottom-color: $mid-red;
        }
        &.active,
        &.active-trail {
          &:after {
            content: none;
          }
        }
      }
    .last a {
      border: 0;
    }
    }
  }
}
