/**
 * $Navigation
 */

.menu-name-main-menu,
.block--system-user-menu {
  @include breakpoint(0 $desk) {
    a {
      padding: $vert-spacing-unit 0;
      background-color: $red;
      font-weight: 700;
      color: $earth;
      border-bottom: 1px solid #965c56;

      &.active,
      &:focus,
      &:hover {
        background-color: lighten($earth, 8%);
        color: $red;
      }
    }
    .menu {
      .menu {
        a {
          padding: $vert-spacing-unit / 2 0;
          background-color: lighten($red, 6%);
          font-weight: normal;

          &.active,
          &.active-trail,
          &:focus,
          &:hover {
            color: $red;
            background-color: lighten($earth, 8%);
          }
        }
      }
    }
  }
}
.menu-name-main-menu,
.block--system-user-menu {
  .nested-menu-item-toggle {
    @include off-canvas-sprite(plus);
    padding: 0;
    border: 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  .expanded {
    .nested-menu-item-toggle {
      @include off-canvas-sprite(minus);
    }
  }
}
