/**
 * $PAGER
 */
.pager {
  text-align: left;
}
.pager__item {
  display: inline-block;
  margin: 0.3em 0.4em;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $red;
  @include font-size(15px);
  letter-spacing: 0.1em;

  a {
    display: block;
    padding: 0.4em 0.9em;
    background: $off-white;
    color: $pale-red;

    &:hover {
      background-color: $red;
      color: $off-white;
    }
  }
}
