/**
 * $TABS
 */
.tabs {
  li {
    display: block;
    float: left;
    margin-right: 0;
    margin-bottom: $vert-spacing-unit;
  }

  a {
    position: relative;
    padding: 0.6em 0.8em;
    background-color: $off-white;
    color: $red;
    font-weight: 700;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $beige;
    }
    &.active {
      background-color: $earth;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: -14px;
        margin-left: -18px;
        @include arrow(bottom, $earth, 18px, 14px);
      }
    }
  }

  @include breakpoint($desk, true) {
    a {
      padding: 1em 1.5em;
    }
  }
}

.tabs--primary {
  border-bottom: none;
}

.tabs--secondary {
  @include font-size(12px);

  a.active {
    &:after {
      content: none;
    }
  }
}

.page-program-schedule-monday .monday,
.page-program-schedule-tuesday .tuesday,
.page-program-schedule-wednesday .wednesday,
.page-program-schedule-thursday .thursday,
.page-program-schedule-friday .friday {
  a {
    background: $red;
    color: $off-white;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -14px;
      margin-left: -18px;
      @include arrow(bottom, $red, 18px, 14px);
    }
  }
}
