/**
 * $USER-MENU
 */

@include breakpoint($desk, true) {
  .block--system-user-menu {
    a {
      padding: 0.5em;
      color: $earth;
      font-weight: 700;
      @include font-size(14px);

      &.active,
      &:hover,
      &:focus {
        color: $off-white;
      }
    }
  }
}

