.commerce-line-item-views-form input.delete-line-item {
  padding: 0 1em;
  line-height: 2em;
}

.checkout-buttons {
  .button,
  .button-operator {
    margin-right: 1em;
  }
  .checkout-processing {
    margin-left: -8px;
  }
  .checkout-back,
  .checkout-cancel {
    padding: 0;
  }
}

.commerce-order-handler-area-order-total {
  @include pie-clearfix;

  .commerce-price-formatted-components {
    width: 100%;
  }
}

.view-commerce-coupon-review-pane {
  margin-top: $vert-spacing-unit;
}
