.checkout-help {
  margin-bottom: $vert-spacing-unit;
}

.checkout-review {
  .pane-title,
  .pane-data {
    border: none;
  }
  .pane-title {
    & > td {
      background: $red;
      @extend .beta;
      color: #FFF;
    }
  }
  .pane-data {
    & > td {
      background: lighten($earth, 6%);
    }
  }
}
