body {
  background: $off-white image-url('tile.png') center left repeat;
}

/* Header Area */
.l-header-wrapper {
  background: #020202 image-url('header-small.jpg') center top no-repeat;
  @include box-shadow(0 15px 60px 5px  rgba(black, 0.4));
}
.l-header {
  height: image-height('../images/header-small.jpg');
}

/* Highlighted Area */
.l-highlighted-wrapper {
  position: relative;
  background: transparent image-url('highlighted-bg-small.jpg') center top repeat-x;
  min-height: image-height('../images/highlighted-bg-small.jpg');

  &:before {
    content: "";
    position: absolute;
    z-index: $high-z;
    width: 100%;
    height: 0;
    top: 0;
    @include box-shadow(0 0 50px 5px rgba(black, 0.9));
  }
  &:after {
    content: "";
    position: absolute;
    z-index: $high-z;
    background: transparent image-url('midrip.png') center top repeat-x;
    height: image-height('../images/midrip.png');
    width: 100%;
    bottom: 0;
  }
}
.front {
  .l-highlighted-wrapper {
    background: none;
  }
}

/* Off Canvas */
.l-off-canvas-hide,
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  @include hide-text;
}

.l-off-canvas-hide {
  @include off-canvas-sprite(close);
}
.l-off-canvas-show--left {
  @include off-canvas-sprite(menu);
}
.l-off-canvas-show--right {
  @include off-canvas-sprite(user);
}
.l-off-canvas-hide--left {
  margin-left: -(image-width("../images/off-canvas/close.png") + 20px);
}
.l-off-canvas-hide--right {
  margin-right: -(image-width("../images/off-canvas/close.png") + 20px);
}

.l-off-canvas--left,
.l-off-canvas--right {
  @include breakpoint(0 $desk) {
    overflow: hidden;
    padding-top: $vert-spacing-unit * 3;
    background: $red;
  }
}

.off-canvas-right-is-visible {
  .l-off-canvas--right {
    @include box-shadow(0 0 50px 5px rgba(black, 0.9));
  }
}
.off-canvas-left-is-visible {
  .l-off-canvas--left {
    @include box-shadow(0 0 50px 5px rgba(black, 0.9));
  }
}

/* Main Content */
.l-main {
  padding-top: $vert-spacing-unit * 3;
}

.l-content,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit * 2;
}

/* Footer Area */
.l-region--footer {
  position: relative;
  background: $beige image-url('footer-tile.jpg') center top repeat;

  &:after {
    background: transparent image-url('footer-rip.png') center top repeat-x;
    content: "";
    position: absolute;
    height: image-height('../images/footer-rip.png');
    width: 100%;
    top: -(image-height('../images/footer-rip.png'));
    left: 0;
  }
}
.l-region--bottom {
  background-color: lighten($beige, 2%);
}

@include breakpoint($tab, true) {
  /* Header Area */
  .l-header-wrapper {
    background-image: image-url('header-full.jpg');
  }
  .l-header {
    height: image-height('../images/header-full.jpg');
  }

  /* Highlighted Area */
  .l-highlighted-wrapper {
    background-image: url('../images/highlighted-bg.jpg');
    min-height: image-height('../images/highlighted-bg.jpg');
  }
}

@include breakpoint($desk, true) {
  .l-branding {
    margin-bottom: -1.71em;
  }

  /* Main Content */
  .l-main {
    @include box-shadow(0 0 30px 4px rgba(black, 0.1));
    background: $off-white image-url('tile.png') center left repeat;
  }
}
