body {
  background: $white;
}

.l-constrained {
  padding: 0 1em;
}

@include breakpoint ($tab, true) {
  .l-constrained {
    padding: 0 2em;
  }
}

/* HEADER AREA */
.l-page {
  background: $black image-url('header-bg-small.jpg') center top no-repeat;
}

@include breakpoint (60em, true) {
  .l-page {
    background: $black image-url('header-bg.jpg') center top no-repeat;
  }
}

.l-header-wrapper {
  background: rgba($black, .75);
}

.l-page-wrapper {
  background: $black;
}

.l-branding {
  width: 100%;
  position: static;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  padding-top: $vert-spacing-unit;

  &:hover {
    opacity: .7;
  }
}

@include breakpoint($tab, true) {
  .l-branding {
    padding-top: 0;
  }
}

@include breakpoint($desk, true) {
  .l-page-wrapper {
    background: none;
  }

  .l-branding {
    margin-left: -(image-width('logo.png') / 2);
    position: relative;
    width: image-width('logo.png');
  }
}

/* NAVIGATION */

/* OFF CANVAS */
@include breakpoint($desk, true) {
  .l-off-canvas {
    background: none;
  }
}

.l-off-canvas-hide,
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  @include hide-text;
}

.l-off-canvas-hide {
  @include off-canvas-sprite(close);
}
.l-off-canvas-show--left {
  @include off-canvas-sprite(menu);
  left: 10px;
}
.l-off-canvas-show--right {
  @include off-canvas-sprite(user);
  right: 10px;
  top: 8px;
}
.l-off-canvas-hide--left {
  margin-left: -(image-width("../images/off-canvas/close.png") + 20px);
}
.l-off-canvas-hide--right {
  margin-right: -(image-width("../images/off-canvas/close.png") + 20px);
}

.l-off-canvas--left,
.l-off-canvas--right {
  @include breakpoint(0 $desk) {
    overflow: hidden;
    padding-top: $vert-spacing-unit * 2;
    background: $maroon;
  }
}

.off-canvas-right-is-visible {
  .l-off-canvas--right {
    @include box-shadow(0 0 50px 5px rgba(black, .9));
  }
}
.off-canvas-left-is-visible {
  .l-off-canvas--left {
    @include box-shadow(0 0 50px 5px rgba(black, .9));
  }
}

@include breakpoint($desk, true) {
  .l-navigation {
    background: rgba($black, .1);
    height: 47px;
    padding-top: 12px;
  }

  .l-header--sticky-nav {
    .l-navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background: rgba($black, .75);
    }
  }
}

/* HIGHLIGHTED AREA */
.l-region--highlighted {
  background: $maroon;
}

.l-region--ribbon {
  position: relative;
  width: auto;
  left: auto;
  text-align: center;
}

/* CONTENT AREA */
.l-main,
.l-region--sidebar-second {
  background: $white;
}

.l-region--sidebar-second,
.l-content {
  padding: ($vert-spacing-unit * 2.5) $vert-spacing-unit 0 $vert-spacing-unit;
}

.l-main {
  background: $off-white;
}

.l-main-wide {
  background: $white;
}

.l-main {
  .l-content {
    background: $white;
  }
}

@include breakpoint($desk) {
  .l-main {
    background: $off-white image-url('background.jpg') center top repeat-y;
  }

  .l-content {
    padding-bottom: $vert-spacing-unit * 7;
  }

  .l-region--sidebar-second {
    background: $off-white;
  }
}

.l-region--sidebar-first .block,
.l-region--sidebar-second .block {
  margin-bottom: 0;
  padding-bottom: $vert-spacing-unit * 2;
}

/* FOOTER */
.l-region--bottom,
.l-region--footer {
  margin: 0;
}

.l-region--footer {
  padding-top: $vert-spacing-unit * 2;
}

.l-region--footer .block {
  margin-bottom: $vert-spacing-unit * 2;
}

.l-sponsors {
  background: $pale-grey;
}

.l-footer-bottom {
  background: $black image-url('footer-bg-small.jpg') center 400px no-repeat;
  padding: ($vert-spacing-unit * 2) 0;
}

@include breakpoint(60em, true) {
  .l-footer-bottom {
    background: $black image-url('footer-bg.jpg') center 200px no-repeat;
    padding: ($vert-spacing-unit * 2) 0;
  }
}
