/**
 * $REVIEW
 */

.registration_information > .fieldset-wrapper {
  padding: 0 0 $vert-spacing-unit 0;
  border: none;

  .fieldset-wrapper {
    legend {
      margin-top: 0;
    }
  }

  .fieldset-wrapper {
    fieldset {
      margin-top: $vert-spacing-unit * 2;
    }
  }
}

.commerce-checkout-form-registration {
  .field-name-field-badge-member,
  .field-name-field-gender,
  .field-name-field-include-my-profile,
  .field-name-field-friday-sprints,
  .field-name-field-registration-volunteer,
  .field-name-field-current-experience-level,
  .field-name-field-company-size,
  .field-name-field-opt-in-newsletter,
  .field-name-field-opt-inda-news,
  .field-name-field-opt-in-sponsor-mail,
  .field-name-field-opt-in-lead-retrieval {
    &,
    .form-radios,
    .form-checkboxes {
      @include pie-clearfix;
    }
    .form-item {
      float: left;
      margin-right: 1.5em;
    }
  }

  .field-name-field-meal-preference,
  .field-name-field-shirt-size {
    .form-radios,
    .form-checkboxes {
      @include column-width(12em);

      .form-item {
        @include column-break-inside(avoid);
      }
    }
  }

  .field-name-field-learn-about-drupalcon,
  .field-name-field-drupalcon-reason,
  .field-name-field-how-do-you-use-drupal,
  .field-name-field-drupal-work {
    .form-radios,
    .form-checkboxes {
      @include column-width(16em);

      .form-item {
        @include column-break-inside(avoid);
      }
    }
  }

  @include breakpoint($tab, true) {
    .field-name-field-badge-first,
    .field-name-field-badge-last,
    .field-name-field-badge-job-title,
    .field-name-field-badge-org {
      float: left;
      width: 48%;
    }
    .field-name-field-badge-last,
    .field-name-field-badge-org {
      float: right;
    }
  }
}

.commerce-checkout-form-checkout,
.registration_information > .fieldset-wrapper {
  .form-item {
    margin-bottom: .9em;
  }
}
