/**
 * $FIELDSETS
 */
.form-wrapper {
  @extend .clearfix;
  margin-bottom: $vert-spacing-unit;
}

.fieldset-description {
  margin-bottom: $vert-spacing-unit / 2;
  font-style: italic;
}

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;

  legend {
    width: 100%;
    padding: 0;
  }
  .fieldset-legend {
    .summary {
      float: right;
    }
  }
  .fieldset-title {
    display: block;
    padding: 1em;

    background-color: lightgrey;

    text-decoration: none;
    @include font-size(15px);
    font-weight: bold;
  }
  .fieldset-wrapper {
    padding: $vert-spacing-unit $horz-spacing-unit;
    border: 1px solid lightgrey;
  }
}

html.js fieldset.collapsible {
  .fieldset-legend {
    padding: 0;
    background: none;
  }
  .fieldset-title {
    &:hover {
      background-color: darkgrey;
    }
  }
}
html.js fieldset.collapsed { // Overspecified
  height: 3.2em; // padding-top + padding-bottom + line-height
}
