/**
* $FORM-ITEM
*/
.form-item {
  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    width: 100%;
    padding: 0.769em;
    vertical-align: middle;
  }

  .form-text,
  .form-textarea {
    @include border-radius(2px);
  }

  .description {
    margin-top: 0.2em;
  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}

input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba(lightgrey, 0.3));
    outline: 1px solid lightgrey;
  }
}

.selector {
  position: relative;
  display: block;
  padding: 1em;
  vertical-align: middle;
  width: auto !important;

  .form-select {
    position: absolute;
    padding: 1em;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    top: 0;
    left: 0px;
  }
  &.hover {
    cursor: pointer;
  }
  option {
    padding: 0.2em;
  }
}

.resizable-textarea {
  .form-textarea {
    border-bottom: none;
  }
  .grippie {
    height: 12px;

    background-position: center center;

    border-top: none;
  }
}

.form-managed-file .button {
  @extend .button--small;
}
