/**
 * $ROOT
 */

/*==========  $webfonts  ==========*/
  @font-face {
      font-family: 'museo_sans';
      src: url('../fonts/museosans_100-webfont.eot');
      src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/museosans_100-webfont.woff') format('woff'),
           url('../fonts/museosans_100-webfont.ttf') format('truetype'),
           url('../fonts/museosans_100-webfont.svg#museo_sans') format('svg');
      font-weight: 100;
      font-style: normal;
  }

  @font-face {
      font-family: 'museo_sans';
      src: url('../fonts/museosans_100italic-webfont.eot');
      src: url('../fonts/museosans_100italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/museosans_100italic-webfont.woff') format('woff'),
           url('../fonts/museosans_100italic-webfont.ttf') format('truetype'),
           url('../fonts/museosans_100italic-webfont.svg#museo_sans') format('svg');
      font-weight: 100;
      font-style: italic;
  }

  @font-face {
      font-family: 'museo_sans';
      src: url('../fonts/museosans_500-webfont.eot');
      src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/museosans_500-webfont.woff') format('woff'),
           url('../fonts/museosans_500-webfont.ttf') format('truetype'),
           url('../fonts/museosans_500-webfont.svg#museo_sans') format('svg');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'museo_sans';
      src: url('../fonts/museosans_500_italic-webfont.eot');
      src: url('../fonts/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/museosans_500_italic-webfont.woff') format('woff'),
           url('../fonts/museosans_500_italic-webfont.ttf') format('truetype'),
           url('../fonts/museosans_500_italic-webfont.svg#museo_sans') format('svg');
      font-weight: 500;
      font-style: italic;
  }

html {
  background: $c-brand-beige-light image-url('bg-pattern.jpg') repeat center;
  color: $c-brand-gray;
  font-family: $fstack-museo;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  background: transparent image-url('bg.png') repeat-y center 305px;
}

.clearfix {
  @include pie-clearfix;
}
