/**
 * $TABLES
 */

table {
  border-left: 1px solid darken($off-white, 15);
  border-top: 1px solid darken($off-white, 15);
}

th {
  background: $maroon;
  color: $white;
  vertical-align: top;

  &.active {
    background: $c-brand-dark-orange;
    color: $white;
  }

  img {
    margin-left: .4em;
    vertical-align: 0;
  }

  a.active {
    color: $white;

    &:hover,
    &:focus {
      color: $pale-grey;
    }
  }
}

td {
  vertical-align: middle;
  border-right: 1px solid darken($off-white, 15);
}

td.active {
  background-color: $white;
}

tr {
  border-bottom: 1px solid darken($off-white, 15);
}

tr:nth-child(odd),
tr.odd {}

tr:nth-child(even),
tr.even {
  background: $off-white;
}

thead tr,
tr:nth-last-child {
  border: 0;
}

.sticky-header {
  thead {
    background: $maroon;

    tr {
      border: 0;
    }
  }
}

.form-item {
  tr,
  tr.odd,
  tr.even {
    background: $white;
  }
}

.tabledrag-toggle-weight-wrapper {
  @include font-size(15px);
  margin-bottom: $vert-spacing-unit;
}
