/**
 * $TYPOGRAPHY
 */

a {
  color: $c-brand-main;

  &:hover,
  &:focus {
    color: darken($c-brand-main, 10);
  }
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: $c-brand-gray;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;

  a {
    color: $c-brand-gray;
    outline: 0;
    &:hover,
    &:focus {
      color: $red;
    }
  }
}

h1 { @include font-size(32px); }

h2 { @include font-size(24px); }

h3 { @include font-size(21px); }

h4 { @include font-size(18px); }

h5 { @include font-size(16px); }

h6 { @include font-size(14px); }

p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

blockquote {
  @include font-size(16px);
  p {
    line-height: 1.75em;
  }
}

small {
  @include font-size(14px);
}

