$black            : #000;
$red              : #ef262b;
$red-alt          : #eb252f;
$maroon           : #9b2023;
$dark-maroon      : #851b1d;
$white            : #fff;
$off-white        : #f8f8f8;
$pale-grey        : #ececec;
$grey             : #959595;
$dark-grey        : #646464;
$darkest-grey     : #333;
$pale-brown       : #c5beba;
$pale-brown-alt   : #b0a9a5;
$brown            : #583a24;
