/**
 * $VARIABLES-LAYOUT
 */

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$mob    : max-width 619px;
$tab    : 700px;
$desk   : 1000px;

// Max container width
$max-width: 70em;

// Z-index helpers
$heavenly-z: 1001;
$top-z: 999;
$high-z: 20;
$mid-z: 11;
$low-z: 10;
$zero-z: 0;
$sub-zero-z: -1;
