/**
 * $VARIABLES-TYPOGRAPHY
 */

@import "compass/typography/vertical_rhythm";

$base-font-size: 18px;
$base-line-height: 24px;

$base-font-family: 'Lato', sans-serif;
$regular-font-family: 'akzidenz-grotesk_condensed_Rg', sans-serif;
$bold-font-family: 'berthold_akzidenz_grotesk_bBd', sans-serif;
