/**
 * $DIAMOND-SPONSOR
 */
.block--views-sponsors-block-diamond {
  .block__title {
    display: none;
  }
  .block__content {
    padding: $vert-spacing-unit $horz-spacing-unit * 2;
  }

  @include breakpoint($tab, true) {
    padding-bottom: $vert-spacing-unit;
    background: transparent image-url('ribbon-bottom.png') center bottom repeat-x;

    .block__title {
      display: block;
      margin-bottom: 0;
      padding-top: $vert-spacing-unit * 1.2;
      background-color: #FFF;
      @include font-size(13px);
      color: $earth;
      text-align: center;
    }
    .block__content {
      position: relative;
      padding: $vert-spacing-unit * 1.5 $horz-spacing-unit * 2.5 $vert-spacing-unit / 1.5 $horz-spacing-unit * 2.5;
      background-color: #FFF;
    }
  }
}
