/**
 * $HIRING
 */
.hiring {
  display: block;
  padding: $vert-spacing-unit * 2 $horz-spacing-unit;
  background-color: $off-white;
  text-align: center;

  &:focus,
  &:hover {
    .hiring__title {
      color: $pale-red;
    }
    .hiring_subline {
      color: $brown;
    }
  }
}
.hiring__title {
  font-family: $cursive-font-family;
  color: $red;
  text-transform: none;
  font-weight: normal;
  @include font-size(50px);
  margin-bottom: 0.3em;
}
.hiring_subline {
  margin-bottom: 0;
  color: $grey;
  text-transform: uppercase;
  @include font-size(22px);
  font-weight: 700;
}
