/**
 * $PLATINUM-SPONSORS
 */
$title-width: 500px;

.block--views-sponsors-block-platinum {
  position: relative;
  padding-top: 40px;

  .block__title {
    position: absolute;
    top: 0;
    left: 50%;
    width: $title-width;
    margin-left: -($title-width / 2);
    text-align: center;
    @include font-size(16px);
    color: $grey;
    font-weight: 700;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      margin: 0 1em;
      border-top: 1px solid $off-white;
      width: 5em;
      height: 1px;
      vertical-align: 0.3em;
      @include box-shadow(0 0 20px 3px rgba(darken($earth, 40%), 0.3));
    }
  }
  .block__content {
    z-index: $low-z;
    padding: $vert-spacing-unit * 2 $horz-spacing-unit;
    border: 3px solid $off-white;
    @include border-radius(6px);
    @include box-shadow(0 0 10px 1px rgba(black, 0.1), 0 0 40px 13px rgba(darken($earth, 40%), 0.2) inset);
  }
}
