.block--refund {
  width: 100%;
  padding-top: $vert-spacing-unit;
  background: transparent url(../images/line.png) top left repeat-x;

  @include breakpoint($tab) {
    .block__content {
      width: 66%;
    }
  }
}
