/**
 * $SOCIAL-LINKS
 */
.social-links {

}

.social-links__link {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  background: $off-white;
  color: $pale-red;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  padding-top: 4px;
  letter-spacing: 0.05em;

  &:hover {
    color: $mid-red;
    background-color: lighten($pale-red, 40%);

    .social-links__icon {
      background-color: lighten($grey, 5%);
    }
  }
}
.social-links__service {
  text-transform: none;
  font-family: $cursive-font-family;
  font-size: 1.4em;
  font-weight: normal;
}
.social-links__icon {
  @include inline-block;
  margin: -4px 1.2em 0 0;
  padding: 14px;
  background-color: $grey;
  vertical-align: center;

  .social-sprite {
    display: block;
  }
}
