.block--tax {
  padding-bottom: $vert-spacing-unit;
  margin-bottom: $vert-spacing-unit;
  h3,
  p {
    text-align: left;
  }
  h3 {
    margin: ($vert-spacing-unit * 2) 0 ($vert-spacing-unit * 0.25) 0;
  }
  p:first-of-type {
    font-weight: bold;
  }
}
