/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
.l-header-wrapper,
.l-highlighted-wrapper,
.l-footer,
.l-region {
  display: none;
}

.action-links,
.links,
.pager {
  display: none;
}

/* Headings */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: black;
}

/* Links */
a {
  color: inherit;
}

/* Tables */
table {
  border: 1px solid #ececec;
  page-break-inside: avoid;
}

tbody tr {
  border: none;
}

td, th {
  border: 1px solid #ececec;
  padding: 0.75em;
}

th, th a, th a.active {
  color: #959595;
}

th.active img {
  display: none;
}

/* Invoice */
.page-user-orders {
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 1.5em;
}
.page-user-orders .field__item div {
  margin-bottom: 0;
}

.block--invoice {
  line-height: 1.5em;
}
.block--invoice .print-link {
  display: none;
}

.invoice-header__first,
.invoice-header__last {
  width: 100%;
  float: none;
}

.entity-commerce-order .field--name-commerce-customer-billing,
.entity-commerce-order .registration-list {
  margin-bottom: 40px;
}
