@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lato);
.icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.icons-sprite, .icons-plus, .icons-sponsors, .icons-submit, .icons-talk, .icons-who {
  background: url('../images_generated/icons-se80a45c676.png') no-repeat;
}

.icons-plus {
  background-position: 0 0;
  height: 16px;
  width: 16px;
}

.icons-sponsors {
  background-position: 0 -16px;
  height: 88px;
  width: 130px;
}

.icons-submit {
  background-position: 0 -192px;
  height: 88px;
  width: 80px;
}

.icons-talk {
  background-position: 0 -280px;
  height: 88px;
  width: 117px;
}

.icons-who {
  background-position: 0 -104px;
  height: 88px;
  width: 85px;
}

.social-sprite, .social-email, .social-facebook, .social-flickr, .social-google, .social-rss, .social-twitter {
  background: url('../images_generated/social-s3c2698c51c.png') no-repeat;
}

.social-email {
  background-position: 0 -87px;
  height: 29px;
  width: 28px;
}

.social-facebook {
  background-position: 0 -145px;
  height: 29px;
  width: 14px;
}

.social-flickr {
  background-position: 0 -116px;
  height: 29px;
  width: 32px;
}

.social-google {
  background-position: 0 0;
  height: 29px;
  width: 27px;
}

.social-rss {
  background-position: 0 -29px;
  height: 29px;
  width: 24px;
}

.social-twitter {
  background-position: 0 -58px;
  height: 29px;
  width: 30px;
}

.off-canvas-sprite, .l-off-canvas-hide, .l-off-canvas-show--left, .l-off-canvas-show--right, .menu-name-main-menu .nested-menu-item-toggle,
.block--system-user-menu .nested-menu-item-toggle, .menu-name-main-menu .nested-menu-item-toggle:hover, .menu-name-main-menu .nested-menu-item-toggle:focus,
.block--system-user-menu .nested-menu-item-toggle:hover,
.block--system-user-menu .nested-menu-item-toggle:focus, .menu-name-main-menu .expanded .nested-menu-item-toggle,
.block--system-user-menu .expanded .nested-menu-item-toggle {
  background: url('../images_generated/off-canvas-s993d91d84a.png') no-repeat;
}

.track-icon-sprite, .view-schedule .track-icon.trackCoding, .view-schedule .track-icon.trackDrupal, .view-schedule .track-icon.trackCase, .view-schedule .track-icon.trackCore, .view-schedule .track-icon.trackDevOps, .view-schedule .track-icon.trackFrontend, .view-schedule .track-icon.trackPHP, .view-schedule .track-icon.trackSite, .view-schedule .Drupalorg .track-icon, .view-schedule .track-icon.trackBusiness, .view-schedule .track-icon.trackFeatured, .view-schedule .track-icon.trackDrupalorg {
  background: url('../images_generated/track-icon-s8d9846b3e0.png') no-repeat;
}

.difficulty-sprite, .view-schedule .experience-level.Beginner, .view-schedule .experience-level.Intermediate, .view-schedule .experience-level.Advanced {
  background: url('../images_generated/difficulty-sc5cae55817.png') no-repeat;
}

.schedule-sprite, .schedule-calendar-remove, .schedule-calendar, .schedule-location, .schedule-speaker, .view-schedule .flag-action, .view-schedule .unflag-action {
  background: url('../images_generated/schedule-s3ee0995fb1.png') no-repeat;
}

.schedule-calendar-remove {
  background-position: 0 -72px;
}

.schedule-calendar {
  background-position: 0 -21px;
}

.schedule-location {
  background-position: 0 -52px;
}

.schedule-speaker {
  background-position: 0 0;
}

/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
/**
 * $BUTTONS
 */
.button, .button-link, .node--session--full .feedback a {
  background-color: #ef262b;
  color: white;
  letter-spacing: .2em;
  font-size: 16px;
  font-size: 0.88889rem;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-weight: normal;
}
.button:hover, .button-link:hover, .node--session--full .feedback a:hover, .button:focus, .button-link:focus, .node--session--full .feedback a:focus {
  background: #9b2023;
  color: #f8f8f8;
}

.button--small {
  background: none;
  color: #ef262b;
  letter-spacing: 0;
  font-family: "Lato", sans-serif;
  text-transform: none;
  padding: 0 0.25em;
  height: auto;
  line-height: 30px;
  vertical-align: top;
}
.button--small:hover, .button--small:focus {
  color: #9b2023;
  background: none;
}

/**
 * $LISTS
 */
.l-content ul li, .l-content ol li {
  line-height: 30px;
}

img, media {
  max-width: 100%;
}

/**
 * $MISC
 */
hr {
  border: 0;
  height: 1px;
  background: #ececec;
}

mark {
  background: #f8f8f8;
  padding: .2em .4em;
}

.marker {
  color: #ef262b;
}

/**
 * $ROOT
 */
@font-face {
  font-family: 'akzidenz-grotesk_condensed_Rg';
  src: url("../fonts/akzidenzgrotconbq-regular-webfont.eot");
  src: url("../fonts/akzidenzgrotconbq-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/akzidenzgrotconbq-regular-webfont.woff") format("woff"), url("../fonts/akzidenzgrotconbq-regular-webfont.ttf") format("truetype"), url("../fonts/akzidenzgrotconbq-regular-webfont.svg#akzidenz-grotesk_condensed_Rg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'berthold_akzidenz_grotesk_bBd';
  src: url("../fonts/akzidenzgroteskbe-boldcn-webfont.eot");
  src: url("../fonts/akzidenzgroteskbe-boldcn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/akzidenzgroteskbe-boldcn-webfont.woff") format("woff"), url("../fonts/akzidenzgroteskbe-boldcn-webfont.ttf") format("truetype"), url("../fonts/akzidenzgroteskbe-boldcn-webfont.svg#berthold_akzidenz_grotesk_bBd") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.clearfix, .view-drupalcon-schedule .views-widget-filter-field_track_value .form-checkboxes {
  *zoom: 1;
}
.clearfix:after, .view-drupalcon-schedule .views-widget-filter-field_track_value .form-checkboxes:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * $TABLES
 */
th {
  background: #9b2023;
  color: white;
  vertical-align: top;
}
th.active {
  background: #851b1d;
  color: white;
}
th img {
  margin-left: .4em;
  vertical-align: 0;
}
th a.active {
  color: white;
}
th a.active:hover, th a.active:focus {
  color: #ececec;
}

td {
  vertical-align: middle;
}

td.active {
  background-color: white;
}

tr,
tr.odd,
tr.even {
  background: #f8f8f8;
  border-bottom: 1px solid #c5beba;
}
tr.views-row-last, tr:last-child,
tr.odd.views-row-last,
tr.odd:last-child,
tr.even.views-row-last,
tr.even:last-child {
  border: 0;
}

thead tr,
tr:nth-last-child {
  border: 0;
}

.sticky-header thead {
  background: #9b2023;
}
.sticky-header thead tr {
  border: 0;
}

.form-item tr,
.form-item tr.odd,
.form-item tr.even {
  background: white;
}

.tabledrag-toggle-weight-wrapper {
  font-size: 15px;
  font-size: 0.83333rem;
  margin-bottom: 20px;
}

/**
 * $TYPOGRAPHY
 */
a {
  color: #ef262b;
}
a:hover, a:focus {
  color: #9b2023;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: #851b1d;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;
  letter-spacing: .05em;
}
h1 a, .alpha a,
h2 a, .beta a,
h3 a, .gamma a,
h4 a, .delta a,
h5 a, .epsilon a,
h6 a, .zeta a {
  color: #851b1d;
  outline: 0;
}
h1 a:hover, h1 a:focus, .alpha a:hover, .alpha a:focus,
h2 a:hover,
h2 a:focus, .beta a:hover, .beta a:focus,
h3 a:hover,
h3 a:focus, .gamma a:hover, .gamma a:focus,
h4 a:hover,
h4 a:focus, .delta a:hover, .delta a:focus,
h5 a:hover,
h5 a:focus, .epsilon a:hover, .epsilon a:focus,
h6 a:hover,
h6 a:focus, .zeta a:hover, .zeta a:focus {
  color: #ef262b;
}

h1,
h2 {
  font-size: 26px;
  font-size: 1.44444rem;
}

h3,
h4 {
  font-size: 23px;
  font-size: 1.27778rem;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

p + img {
  float: left;
  margin-right: 1em;
}

blockquote {
  font-size: 16px;
  font-size: 0.88889rem;
}
blockquote p {
  line-height: 1.75em;
}

small {
  font-size: 14px;
  font-size: 0.77778rem;
}

/**
 * $FIELDSETS
 */
fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
fieldset .fieldset-title {
  background: #ef262b;
  color: #f8f8f8;
  font-weight: normal;
  padding: 1em 1em .9em 1em;
}
fieldset .fieldset-wrapper {
  border: 1px solid #ececec;
  padding: 20px 25px 15px 25px;
}
fieldset legend {
  margin: 1em 0 .5em 0;
}
fieldset.collapsible legend {
  margin-bottom: 0;
}
fieldset .field {
  margin-bottom: 10px;
}
fieldset .form-wrapper:last-child {
  margin-bottom: 0;
}

html.js fieldset.collapsible .fieldset-title:hover, html.js fieldset.collapsible .fieldset-title:focus {
  background-color: #9b2023;
  color: white;
}

legend {
  text-transform: uppercase;
  color: #ef262b;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  margin-top: .5em;
  letter-spacing: .2em;
}

div.vertical-tabs {
  font-size: 15px;
  font-size: 0.83333rem;
  border-color: #ececec;
  margin-bottom: 40px;
}

.vertical-tabs ul.vertical-tabs-list {
  border-color: #ececec;
}
.vertical-tabs ul.vertical-tabs-list li {
  border-color: #ececec;
  background: #f8f8f8;
}
.vertical-tabs ul.vertical-tabs-list li a {
  padding: .5em 1em;
}

/**
* $FORM-ITEM
*/
.form-item {
  margin-bottom: 1.8em;
}
.form-item .form-required {
  color: #ef262b;
}
.form-item label {
  color: #583a24;
  font-weight: 700;
  font-size: 15px;
  font-size: 0.83333rem;
}
.form-item .form-select,
.form-item .form-text,
.form-item .form-textarea {
  background-color: #f8f8f8;
  border: none;
  font-size: 15px;
  font-size: 0.83333rem;
  color: #333333;
  line-height: 1em;
  border-radius: 0;
}
.form-item .description {
  font-size: 14px;
  font-size: 0.77778rem;
  margin-top: .4em;
  line-height: 1.5em;
}
.form-item th label {
  color: white;
  font-size: 18px;
}

.form-checkboxes .form-item,
.form-radios .form-item,
.form-type-checkbox .form-item {
  margin-bottom: .6em;
}
.form-checkboxes label,
.form-radios label,
.form-type-checkbox label {
  text-transform: none;
  letter-spacing: 0;
  margin-left: .5em;
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 15px;
  font-size: 0.83333rem;
  color: #333333;
  font-weight: normal;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  outline: 0;
}

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=file]:focus {
  box-shadow: none;
}

input[type=file] {
  font-size: 14px;
  font-size: 0.77778rem;
}

.sticky-table tr .form-item {
  white-space: normal;
}

.resizable-textarea .grippie {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  margin-top: -10px;
}

#autocomplete {
  font-size: 15px;
  font-size: 0.83333rem;
}

.filter-wrapper {
  font-size: 16px;
  font-size: 0.88889rem;
}
.filter-wrapper .form-wrapper {
  margin-bottom: 0;
}
.filter-wrapper .tips {
  margin-bottom: 0;
}
.filter-wrapper .selector {
  margin-top: .5em;
}

.selector {
  background: #f8f8f8 url('../images/../images/select-control.png?1407278170') center right no-repeat;
  padding: 0.65em 66px 0.65em 1em;
  border: 0;
  color: #333333;
  font-size: 16px;
  font-size: 0.88889rem;
}
.selector.hover {
  border-color: #ececec;
  background-color: #ececec;
  background-image: url('../images/../images/select-control-hover.png?1407278170');
}
.selector.focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  box-shadow: 0 0 4px 1px rgba(155, 32, 35, 0.3);
  outline: 0;
}
.selector .form-select {
  padding: 0.5em 46px 0.5em 1em;
}
.selector option {
  background: #ececec;
  color: #333333;
}

html.js .form-autocomplete,
html.js input.form-autocomplete {
  background: #f8f8f8 url("../images/throbber.gif") no-repeat;
  background-position: 98% -62px;
}

html.js input.throbbing {
  background-position: 98% 9px;
}

.ajax-progress .throbber {
  background: white url("../images/throbber-small.gif") no-repeat 0px -18px;
  margin-left: 10px;
}

/**
 * $WEBFORM
 */
.webform-client-form {
  margin-top: 40px;
}
.webform-client-form .webform-datepicker {
  padding-top: .4em;
}
.webform-client-form .webform-container-inline .form-text,
.webform-client-form .webform-container-inline .form-textarea {
  margin-top: .3em;
}

body {
  background: white;
}

.l-constrained {
  padding: 0 1em;
}

@media (min-width: 700px) {
  .l-constrained {
    padding: 0 2em;
  }
}
/* HEADER AREA */
.l-page {
  background: black url('../images/header-bg-small.jpg?1407278170') center top no-repeat;
}

@media (min-width: 60em) {
  .l-page {
    background: black url('../images/header-bg.jpg?1407278170') center top no-repeat;
  }
}
.l-header-wrapper {
  background: rgba(0, 0, 0, 0.75);
}

.l-page-wrapper {
  background: black;
}

.l-branding {
  width: 100%;
  position: static;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  padding-top: 20px;
}
.l-branding:hover {
  opacity: .7;
}

@media (min-width: 700px) {
  .l-branding {
    padding-top: 0;
  }
}
@media (min-width: 1000px) {
  .l-page-wrapper {
    background: none;
  }

  .l-branding {
    margin-left: -222.5px;
    position: relative;
    width: 445px;
  }
}
/* NAVIGATION */
/* OFF CANVAS */
@media (min-width: 1000px) {
  .l-off-canvas {
    background: none;
  }
}
.l-off-canvas-hide,
.l-off-canvas-show--left,
.l-off-canvas-show--right {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.l-off-canvas-hide {
  background-position: 0 0;
  height: 20px;
  width: 20px;
}

.l-off-canvas-show--left {
  background-position: 0 -65px;
  height: 20px;
  width: 20px;
  left: 10px;
}

.l-off-canvas-show--right {
  background-position: 0 -20px;
  height: 25px;
  width: 20px;
  right: 10px;
  top: 8px;
}

.l-off-canvas-hide--left {
  margin-left: -40px;
}

.l-off-canvas-hide--right {
  margin-right: -40px;
}

@media (min-width: 0) and (max-width: 1000px) {
  .l-off-canvas--left,
  .l-off-canvas--right {
    overflow: hidden;
    padding-top: 40px;
    background: #9b2023;
  }
}

.off-canvas-right-is-visible .l-off-canvas--right {
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
}

.off-canvas-left-is-visible .l-off-canvas--left {
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
}

@media (min-width: 1000px) {
  .l-navigation {
    background: rgba(0, 0, 0, 0.1);
    height: 47px;
    padding-top: 12px;
  }

  .l-header--sticky-nav .l-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.75);
  }
}
/* HIGHLIGHTED AREA */
.l-region--highlighted {
  background: #9b2023;
}

.l-region--ribbon {
  position: relative;
  width: auto;
  left: auto;
  text-align: center;
}

/* CONTENT AREA */
.l-main,
.l-region--sidebar-second {
  background: white;
}

.l-region--sidebar-second,
.l-content {
  padding: 50px 20px 0 20px;
}

.l-main {
  background: #f8f8f8;
}

.l-main-wide {
  background: white;
}

.l-main .l-content {
  background: white;
}

@media (min-width: 1000px) {
  .l-main {
    background: #f8f8f8 url('../images/background.jpg?1407278170') center top repeat-y;
  }

  .l-content {
    padding-bottom: 140px;
  }

  .l-region--sidebar-second {
    background: #f8f8f8;
  }
}
.l-region--sidebar-first .block,
.l-region--sidebar-second .block {
  margin-bottom: 0;
  padding-bottom: 40px;
}

/* FOOTER */
.l-region--bottom,
.l-region--footer {
  margin: 0;
}

.l-region--footer {
  padding-top: 40px;
}

.l-region--footer .block {
  margin-bottom: 40px;
}

.l-sponsors {
  background: #ececec;
}

.l-footer-bottom {
  background: black url('../images/footer-bg-small.jpg?1407278170') center 400px no-repeat;
  padding: 40px 0;
}

@media (min-width: 60em) {
  .l-footer-bottom {
    background: black url('../images/footer-bg.jpg?1407278170') center 200px no-repeat;
    padding: 40px 0;
  }
}
/**
 * $ATTEND-LINKS
 */
.attend-links {
  text-align: center;
}
.attend-links li {
  display: inline-block;
  padding: 0;
  margin-bottom: 30px;
  width: 140px;
}
.attend-links .attend-links__link {
  display: inline-block;
}
.attend-links .attend-links__link:hover .icons-sprite, .attend-links .attend-links__link:hover .icons-plus, .attend-links .attend-links__link:hover .icons-sponsors, .attend-links .attend-links__link:hover .icons-submit, .attend-links .attend-links__link:hover .icons-talk, .attend-links .attend-links__link:hover .icons-who, .attend-links .attend-links__link:focus .icons-sprite, .attend-links .attend-links__link:focus .icons-plus, .attend-links .attend-links__link:focus .icons-sponsors, .attend-links .attend-links__link:focus .icons-submit, .attend-links .attend-links__link:focus .icons-talk, .attend-links .attend-links__link:focus .icons-who {
  opacity: .6;
}
.attend-links .attend-links__link:hover span, .attend-links .attend-links__link:focus span {
  background: #851b1d;
  color: #f8f8f8;
}
.attend-links .attend-links__icon {
  vertical-align: middle;
  margin-bottom: 20px;
}
.attend-links .icons-sprite, .attend-links .icons-plus, .attend-links .icons-sponsors, .attend-links .icons-submit, .attend-links .icons-talk, .attend-links .icons-who {
  display: inline-block;
}
.attend-links .attend-links__text {
  background: #ef262b;
  color: white;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-size: 14px;
  font-size: 0.77778rem;
  display: block;
  text-transform: uppercase;
  padding: .25em .5em;
  letter-spacing: .2em;
}

@media (min-width: 700px) {
  .attend-links li {
    padding: 0 30px;
    width: 230px;
  }
  .attend-links .attend-links__text {
    font-size: 16px;
    font-size: 0.88889rem;
    padding: .5em 1em;
  }
}
@media (min-width: 1000px) {
  .attend-links .attend-links__icon {
    margin-bottom: 50px;
  }
}
/**
 * $BLOCK-DATE
 */
.block--date {
  padding-top: 20px;
}
@media (min-width: 700px) {
  .block--date {
    padding-top: 50px;
  }
}
.block--date h2 {
  text-transform: uppercase;
  font-family: "berthold_akzidenz_grotesk_bBd", sans-serif;
  color: white;
  opacity: .85;
  font-size: 36px;
  font-size: 2rem;
  letter-spacing: .15em;
  margin: 0;
}
.block--date .numbers {
  font-size: 38px;
  font-size: 2.11111rem;
}
@media (min-width: 700px) {
  .block--date h2 {
    font-size: 90px;
    font-size: 5rem;
    letter-spacing: .2em;
  }
  .block--date .numbers {
    font-size: 96px;
    font-size: 5.33333rem;
  }
}

@media (min-width: 1000px) {
  .front .block--date {
    padding: 60px 0 20px 0;
  }
  .front .block--date h2 {
    font-size: 128px;
    font-size: 7.11111rem;
    letter-spacing: .25em;
  }
  .front .block--date .numbers {
    font-size: 136px;
    font-size: 7.55556rem;
  }
}

/**
 * $BLOCK-SPONSORS-DIAMOND
 */
.block--views-sponsors-block-diamond .block__title {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 0.88889rem;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  color: black;
  margin: 0;
  width: 100%;
  display: block;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.8);
}
@media (min-width: 1000px) {
  .block--views-sponsors-block-diamond .block__title {
    height: 71px;
    position: absolute;
    padding: 14px 0 0 2px;
    margin: 0 0 0 -45px;
    width: 78px;
    display: inline-block;
  }
  .block--views-sponsors-block-diamond .block__title:before {
    display: block;
    left: -49px;
    top: 0;
    content: url('../images/sponsors-heading-left.png?1407278170');
    position: absolute;
  }
  .block--views-sponsors-block-diamond .block__title:after {
    display: block;
    right: -49px;
    top: 0;
    content: url('../images/sponsors-heading-right.png?1407278170');
    position: absolute;
  }
}

.not-front .block--views-sponsors-block-diamond {
  margin-top: 20px;
}

@media (min-width: 700px) {
  .not-front .block--views-sponsors-block-diamond {
    margin-top: 40px;
  }
}
@media (min-width: 1000px) {
  .front .block--views-sponsors-block-diamond {
    margin-top: 80px;
  }
}
/**
 * $BLOCK-FOOTER
 */
.block--site-information {
  color: #646464;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
}
.block--site-information a {
  color: #646464;
}
.block--site-information a:hover, .block--site-information a:focus {
  color: #959595;
}

/**
 * $BLOCK-INVOICE
 */
.block--invoice {
  margin-bottom: 30px;
}
.block--invoice h3 {
  margin-bottom: .5em;
}
.block--invoice div {
  margin-bottom: 20px;
}

/**
 * $BLOCK-SPONSORS-PLATINUM
 */
.block--views-sponsors-block-platinum .block__title {
  text-transform: uppercase;
  font-size: 45px;
  font-size: 2.5rem;
  letter-spacing: .2em;
  color: black;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
}

/**
 * $SOCIAL-LINKS
 */
.social-links li {
  display: inline-block;
  padding: 0 30px 10px 0;
}
.social-links li:last-child {
  padding-right: 0;
}
.social-links .social-links__link {
  display: block;
}
.social-links .social-links__icon {
  vertical-align: middle;
}
.social-links .social-sprite, .social-links .social-email, .social-links .social-facebook, .social-links .social-flickr, .social-links .social-google, .social-links .social-rss, .social-links .social-twitter {
  display: block;
}
.social-links .social-sprite:hover, .social-links .social-email:hover, .social-links .social-facebook:hover, .social-links .social-flickr:hover, .social-links .social-google:hover, .social-links .social-rss:hover, .social-links .social-twitter:hover {
  opacity: .6;
}

/**
 * $BLOCK-TICKETS
 */
.block--tickets a {
  background: #ef262b;
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  font-size: 1.22222rem;
  letter-spacing: .2em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  text-align: center;
  padding: 20px 60px;
}
.block--tickets a:hover, .block--tickets a:focus {
  background: #9b2023;
}

.block--tickets-header {
  margin: 20px 0 30px 0;
}
.block--tickets-header a {
  display: inline-block;
  font-size: 20px;
  font-size: 1.11111rem;
  letter-spacing: .25em;
  padding: 10px 20px;
}

@media (min-width: 700px) {
  .block--tickets-header {
    margin: 20px 0 45px 0;
  }
  .block--tickets-header a {
    padding: 15px 40px;
  }
}
@media (min-width: 1000px) {
  .block--tickets-header a {
    padding: 20px 60px;
  }
}
/**
 * $BLOCK-WHY
 */
.block--why {
  padding: 40px 0 10px;
}

@media (min-width: 1000px) {
  .block--why {
    padding: 60px 0 40px;
  }
}
/**
 * $COMMENTS
 */
.comments {
  border-top: 1px solid #ececec;
  margin-top: 25px;
  padding-top: 25px;
}
.comments .comment {
  padding-bottom: 20px 20px 0 20px;
}
.comments .comment__title {
  margin-bottom: .5em;
}
.comments .comments__title,
.comments .comments__form-title {
  width: 100%;
  background: #9b2023;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.33333rem;
  color: white;
  padding: 20px 30px;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
}
.comments .comments__form-title {
  background: black;
  margin-bottom: 0;
}
.comments .comment__info {
  margin-bottom: 20px;
  color: #583a24;
}
.comments .comment__info,
.comments .comment__links {
  font-size: 14px;
  font-size: 0.77778rem;
  font-weight: normal;
}
.comments .comment-form {
  font-size: 15px;
  font-size: 0.83333rem;
  padding: 20px 20px 10px 20px;
  background: #fdfdfd;
}
.comments .comment-form a {
  color: #9b2023;
}
.comments .comment-form a:hover, .comments .comment-form a:focus {
  color: #ef262b;
}
.comments .fieldset-wrapper {
  border: 0;
}
.comments .filter-wrapper {
  margin: 0;
}
.comments .filter-wrapper .fieldset-wrapper {
  padding: 20px 0;
}

/**
 * $COMMERCE
 */
.view-commerce-cart-form .form-text {
  background: white;
}
.view-commerce-cart-form .form-text:hover, .view-commerce-cart-form .form-text:focus {
  background: white;
}
.view-commerce-cart-form input.delete-line-item {
  padding: 0 1em;
  line-height: 2em;
}

.checkout-buttons .button, .checkout-buttons .button-link, .checkout-buttons .node--session--full .feedback a, .node--session--full .feedback .checkout-buttons a,
.checkout-buttons .button-operator {
  margin-right: 1em;
}
.checkout-buttons .button-operator {
  font-size: 16px;
  font-size: 0.88889rem;
}
.checkout-buttons .checkout-processing {
  margin-left: -8px;
}
.checkout-buttons .checkout-back,
.checkout-buttons .checkout-cancel {
  padding: 0;
  color: #ef262b;
}
.checkout-buttons .checkout-back:hover, .checkout-buttons .checkout-back:focus,
.checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-cancel:focus {
  color: #9b2023;
}

.commerce-order-handler-area-order-total {
  *zoom: 1;
}
.commerce-order-handler-area-order-total:after {
  content: "";
  display: table;
  clear: both;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 100%;
}

.view-commerce-coupon-review-pane {
  margin-top: 20px;
}

/**
 * $REGISTRATION
 */
.checkout-help {
  margin-bottom: 20px;
}

.checkout-review {
  border: 1px solid #ececec;
  border-bottom: 0;
}
.checkout-review .pane-title,
.checkout-review .pane-data {
  border: none;
}
.checkout-review .pane-title > td {
  background: #ef262b;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  color: white;
}
.checkout-review .pane-data > td {
  background: white;
}
.checkout-review .pane-data-full {
  line-height: 2em;
}
.checkout-review .pane-data-full .field,
.checkout-review .pane-data-full .form-item label {
  margin-bottom: 0;
}

table.checkout-review .pane-title td {
  font-weight: normal;
}

/**
 * $REVIEW
 */
.registration_information > .fieldset-wrapper {
  padding: 0 0 20px 0;
  border: none;
}
.registration_information > .fieldset-wrapper .fieldset-wrapper legend {
  margin-top: 0;
}
.registration_information > .fieldset-wrapper .fieldset-wrapper fieldset {
  margin-top: 40px;
}

.commerce-checkout-form-registration .field-name-field-badge-member,
.commerce-checkout-form-registration .field-name-field-badge-member .form-radios,
.commerce-checkout-form-registration .field-name-field-badge-member .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-gender,
.commerce-checkout-form-registration .field-name-field-gender .form-radios,
.commerce-checkout-form-registration .field-name-field-gender .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-include-my-profile,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-radios,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-friday-sprints,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-radios,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-registration-volunteer,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-radios,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-current-experience-level,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-radios,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-company-size,
.commerce-checkout-form-registration .field-name-field-company-size .form-radios,
.commerce-checkout-form-registration .field-name-field-company-size .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-radios,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-opt-inda-news,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-radios,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-radios,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-radios,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-checkboxes {
  *zoom: 1;
}
.commerce-checkout-form-registration .field-name-field-badge-member:after,
.commerce-checkout-form-registration .field-name-field-badge-member .form-radios:after,
.commerce-checkout-form-registration .field-name-field-badge-member .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-gender:after,
.commerce-checkout-form-registration .field-name-field-gender .form-radios:after,
.commerce-checkout-form-registration .field-name-field-gender .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-radios:after,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-radios:after,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-radios:after,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-radios:after,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-company-size:after,
.commerce-checkout-form-registration .field-name-field-company-size .form-radios:after,
.commerce-checkout-form-registration .field-name-field-company-size .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-checkboxes:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-radios:after,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-checkboxes:after {
  content: "";
  display: table;
  clear: both;
}
.commerce-checkout-form-registration .field-name-field-badge-member .form-item,
.commerce-checkout-form-registration .field-name-field-gender .form-item,
.commerce-checkout-form-registration .field-name-field-include-my-profile .form-item,
.commerce-checkout-form-registration .field-name-field-friday-sprints .form-item,
.commerce-checkout-form-registration .field-name-field-registration-volunteer .form-item,
.commerce-checkout-form-registration .field-name-field-current-experience-level .form-item,
.commerce-checkout-form-registration .field-name-field-company-size .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-newsletter .form-item,
.commerce-checkout-form-registration .field-name-field-opt-inda-news .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-sponsor-mail .form-item,
.commerce-checkout-form-registration .field-name-field-opt-in-lead-retrieval .form-item {
  float: left;
  margin-right: 1.5em;
}
.commerce-checkout-form-registration .field-name-field-meal-preference .form-radios,
.commerce-checkout-form-registration .field-name-field-meal-preference .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-radios,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-checkboxes {
  -webkit-column-width: 12em;
  -moz-column-width: 12em;
  -ms-column-width: 12em;
  -o-column-width: 12em;
  column-width: 12em;
}
.commerce-checkout-form-registration .field-name-field-meal-preference .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-meal-preference .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-shirt-size .form-checkboxes .form-item {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-radios,
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-radios,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-radios,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-checkboxes,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-radios,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-checkboxes {
  -webkit-column-width: 16em;
  -moz-column-width: 16em;
  -ms-column-width: 16em;
  -o-column-width: 16em;
  column-width: 16em;
}
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-learn-about-drupalcon .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-drupalcon-reason .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-how-do-you-use-drupal .form-checkboxes .form-item,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-radios .form-item,
.commerce-checkout-form-registration .field-name-field-drupal-work .form-checkboxes .form-item {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}
@media (min-width: 700px) {
  .commerce-checkout-form-registration .field-name-field-badge-first,
  .commerce-checkout-form-registration .field-name-field-badge-last,
  .commerce-checkout-form-registration .field-name-field-badge-job-title,
  .commerce-checkout-form-registration .field-name-field-badge-org {
    float: left;
    width: 48%;
  }
  .commerce-checkout-form-registration .field-name-field-badge-last,
  .commerce-checkout-form-registration .field-name-field-badge-org {
    float: right;
  }
}

.commerce-checkout-form-checkout .form-item,
.registration_information > .fieldset-wrapper .form-item {
  margin-bottom: .9em;
}

/**
 * $FIELD-DRUPAL-VERSION
 */
.field-name-field-drupal-version {
  margin-bottom: 0;
}
.field-name-field-drupal-version .form-type-radios {
  margin-bottom: 0;
}

/**
 * $FIELD-TAG
 */
.field--name-field-tag {
  font-size: 16px;
  font-size: 0.88889rem;
  margin-top: 40px;
}

/**
 * $FIELD
 */
.field--label-above .field__label {
  margin-bottom: .5em;
}

.field__label {
  font-weight: normal;
  color: #583a24;
}

/**
* $USER-REGISTER-FORM
*/
.form-item .password-strength {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-size: 14px;
  font-size: 0.77778rem;
  color: #583a24;
}
.form-item .password-strength,
.form-item .password-confirm {
  font-size: 14px;
  font-size: 0.77778rem;
}

/**
 * $404 Page
 */
.l-page-not-found .l-page {
  background-image: url(../images/header-404-small.jpg);
}

.block--page-not-found {
  margin: 30px 0 90px;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  color: #ef262b;
}
.block--page-not-found .lowercase {
  text-transform: lowercase;
}
.block--page-not-found h1 {
  font-size: 160px;
  font-size: 8.88889rem;
  margin: 0;
  color: #ef262b;
  letter-spacing: -.025em;
}
.block--page-not-found h1 .white {
  color: white;
}
.block--page-not-found h2 {
  font-size: 26px;
  font-size: 1.44444rem;
  margin: 0 0 .25em 0;
  color: #ef262b;
}
.block--page-not-found h3 {
  color: white;
  font-size: 20px;
  font-size: 1.11111rem;
  margin: 0;
}

@media (min-width: 700px) {
  .l-page-not-found .l-page {
    background-image: url(../images/header-404.jpg);
  }

  .block--page-not-found h1 {
    font-size: 260px;
    font-size: 14.44444rem;
  }
  .block--page-not-found h2 {
    font-size: 30px;
    font-size: 1.66667rem;
  }
}
/**
 * $BREADCRUMB
 */
.breadcrumb {
  padding: 0;
  color: #9b2023;
}
.breadcrumb li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  font-size: 0.88889rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  padding-right: 0.5em;
}
.breadcrumb li a:after {
  content: " » ";
  color: #9b2023;
}
.breadcrumb li:last-of-type a:after {
  content: "";
}

/**
 * $FLAG
 */
.flag-message {
  font-size: .6em;
  top: 3.4em;
}

/**
 * $FORUM
 */
.forum .forum-icon {
  margin-right: 1em;
}
.forum .topic-details__name {
  font-weight: bold;
}
.forum .topic-details__description {
  padding-left: 40px;
  font-size: 14px;
  font-size: 0.77778rem;
}
.forum .forum-topic__topic-count,
.forum .forum-topic__post-count,
.forum .forum-topic__last-reply,
.forum .forum-topic-list__replies,
.forum .forum-topic-list__last-reply {
  vertical-align: top;
}
.forum .forum-topic__last-reply,
.forum .forum-topic-list__last-reply {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
  padding-top: 18px;
}
.forum .forum-topic-list__title {
  font-weight: bold;
}
.forum .forum-topic-list__title .submitted {
  font-weight: normal;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
}

/**
 * $SPONSORS PAGE
 */
.section-sponsors h1 {
  text-transform: uppercase;
  letter-spacing: .25em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-size: 44px;
  font-size: 2.44444rem;
  color: black;
}

/**
 * $USER-PROFILE
 */
.user-profile-category .field,
.user-profile-category .user-profile-item {
  margin-bottom: 10px;
}
.user-profile-category .field__label,
.user-profile-category .user-profile-item__label {
  color: #9b2023;
}

.user-profile-category-history {
  margin-top: 50px;
}

/**
 * $ACTION-LINKS
 */
.action-links {
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  margin-left: 0;
}
.action-links .icon {
  vertical-align: -0.15em;
  margin-right: 0.5em;
}

/**
 * $FOOTER-MENU
 */
.menu-name-menu-footer-menu {
  min-height: 300px;
  margin-bottom: 220px;
}
.menu-name-menu-footer-menu > .menu > li {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.menu-name-menu-footer-menu .menu a {
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  color: #9b2023;
  text-transform: uppercase;
}
.menu-name-menu-footer-menu .menu a:hover, .menu-name-menu-footer-menu .menu a:focus {
  color: #ef262b;
}
.menu-name-menu-footer-menu .menu a.active {
  color: #9b2023;
}
.menu-name-menu-footer-menu .menu a.active:hover, .menu-name-menu-footer-menu .menu a.active:focus {
  color: #9b2023;
}
.menu-name-menu-footer-menu .menu .menu {
  margin-top: 40px;
}
.menu-name-menu-footer-menu .menu .menu a {
  color: #959595;
  font-size: 16px;
  font-size: 0.88889rem;
  text-transform: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 0;
}
.menu-name-menu-footer-menu .menu .menu a:focus, .menu-name-menu-footer-menu .menu .menu a:hover {
  color: #ececec;
}
.menu-name-menu-footer-menu .menu .menu a.active {
  color: #f8f8f8;
}
.menu-name-menu-footer-menu .menu .menu a.active:focus, .menu-name-menu-footer-menu .menu .menu a.active:hover {
  color: #f8f8f8;
}

/**
 * $MAIN-MENU
 */
@media (min-width: 1000px) {
  .menu-name-main-menu li {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
  .menu-name-main-menu a {
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
    font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
    letter-spacing: .2em;
  }
  .menu-name-main-menu a:hover, .menu-name-main-menu a:focus {
    color: #ef262b;
  }
  .menu-name-main-menu a.active, .menu-name-main-menu a.active-trail {
    color: #9b2023;
  }
  .menu-name-main-menu a.active:hover, .menu-name-main-menu a.active:focus, .menu-name-main-menu a.active-trail:hover, .menu-name-main-menu a.active-trail:focus {
    color: #9b2023;
  }
  .menu-name-main-menu a.active:after, .menu-name-main-menu a.active-trail:after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #9b2023;
    bottom: -9px;
    left: 50%;
    margin-left: -7px;
    z-index: 1000;
  }
  .menu-name-main-menu li:hover a, .menu-name-main-menu li:focus a {
    color: #ef262b;
  }
  .menu-name-main-menu li:hover:after, .menu-name-main-menu li:focus:after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ef262b;
    bottom: -9px;
    left: 50%;
    margin-left: -7px;
    z-index: 1000;
  }
  .menu-name-main-menu li.active, .menu-name-main-menu li.active-trail {
    color: #9b2023;
  }
  .menu-name-main-menu li.active:hover, .menu-name-main-menu li.active:focus, .menu-name-main-menu li.active-trail:hover, .menu-name-main-menu li.active-trail:focus {
    color: #9b2023;
  }
  .menu-name-main-menu .leaf:hover:after, .menu-name-main-menu .leaf:focus:after {
    border: none;
    position: static;
  }
  .menu-name-main-menu .menu .menu {
    margin-top: 9px;
    z-index: 1001;
  }
  .menu-name-main-menu .menu .menu a {
    padding: 13px 1em 10px 1em;
    background: #ef262b;
    border-bottom: 1px solid #851b1d;
    color: #f8f8f8;
    font-size: 16px;
    font-size: 0.88889rem;
  }
  .menu-name-main-menu .menu .menu a.active, .menu-name-main-menu .menu .menu a.active-trail, .menu-name-main-menu .menu .menu a:hover, .menu-name-main-menu .menu .menu a:focus {
    background-color: #9b2023;
    color: white;
    border-bottom-color: #851b1d;
  }
  .menu-name-main-menu .menu .menu a.active:after, .menu-name-main-menu .menu .menu a.active-trail:after {
    content: none;
  }
  .menu-name-main-menu .menu .menu .last a {
    border-bottom: 0;
  }
}
.spaced-link {
  margin: 0;
}

/**
 * $NAVIGATION
 */
@media (min-width: 0) and (max-width: 1000px) {
  .menu-name-main-menu a,
  .block--system-user-menu a {
    padding: 20px 0;
    background: #9b2023;
    color: #f8f8f8;
    border-bottom: 1px solid #851b1d;
    font-size: 16px;
    font-size: 0.88889rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  }
  .menu-name-main-menu a.active, .menu-name-main-menu a.active-trail, .menu-name-main-menu a:focus, .menu-name-main-menu a:hover,
  .block--system-user-menu a.active,
  .block--system-user-menu a.active-trail,
  .block--system-user-menu a:focus,
  .block--system-user-menu a:hover {
    background: #851b1d;
    color: white;
    border-color: #9b2023;
  }
  .menu-name-main-menu a.active,
  .block--system-user-menu a.active {
    background: #ef262b;
  }
  .menu-name-main-menu .menu .menu a,
  .block--system-user-menu .menu .menu a {
    padding: 10px 0;
    background: #851b1d;
    font-weight: normal;
    border-bottom: 1px solid #9b2023;
  }
  .menu-name-main-menu .menu .menu a:focus, .menu-name-main-menu .menu .menu a:hover, .menu-name-main-menu .menu .menu a.active, .menu-name-main-menu .menu .menu a.active-trail,
  .block--system-user-menu .menu .menu a:focus,
  .block--system-user-menu .menu .menu a:hover,
  .block--system-user-menu .menu .menu a.active,
  .block--system-user-menu .menu .menu a.active-trail {
    background: #ef262b;
    color: white;
    border-color: #851b1d;
  }
}

.menu-name-main-menu .nested-menu-item-toggle,
.block--system-user-menu .nested-menu-item-toggle {
  background-position: 0 -45px;
  height: 20px;
  width: 20px;
  padding: 0;
  border: 0;
}
.menu-name-main-menu .nested-menu-item-toggle:hover, .menu-name-main-menu .nested-menu-item-toggle:focus,
.block--system-user-menu .nested-menu-item-toggle:hover,
.block--system-user-menu .nested-menu-item-toggle:focus {
  background-color: transparent;
  background-position: 0 -45px;
  height: 20px;
  width: 20px;
}
.menu-name-main-menu .expanded .nested-menu-item-toggle,
.block--system-user-menu .expanded .nested-menu-item-toggle {
  background-position: 0 -85px;
  height: 20px;
  width: 20px;
}

/**
 * $PAGER
 */
.pager__item {
  display: inline-block;
  margin: .2em .3em;
  padding: 0;
  font-family: "berthold_akzidenz_grotesk_bBd", sans-serif;
  text-transform: uppercase;
  color: #ef262b;
  letter-spacing: .2em;
}
.pager__item a {
  display: block;
  padding: .2em .6em .2em .8em;
  background: #f8f8f8;
  color: #851b1d;
  text-align: center;
}
.pager__item a:hover, .pager__item a:focus {
  background-color: #9b2023;
  color: white;
}

.pager__item--current,
.pager__item--ellipsis {
  font-family: "berthold_akzidenz_grotesk_bBd", sans-serif;
  font-weight: normal;
  color: #ef262b;
}

.pager__item--current {
  padding: 0 .6em 0 .8em;
}

/**
 * $TABS
 */
.tabs li {
  margin: 0 0 20px;
  display: block;
  float: left;
}
.tabs a {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  background: #f8f8f8;
  color: #9b2023;
  padding: .4em .6em .4em .8em;
  font-size: 20px;
  font-size: 1.11111rem;
  position: relative;
}
.tabs a:hover, .tabs a:focus {
  background: #9b2023;
  color: white;
}
.tabs a.active {
  background: #851b1d;
  color: white;
}
.tabs a.active:hover, .tabs a.active:focus {
  background: #851b1d;
  color: white;
}
.tabs a.active:after {
  content: "";
  display: block;
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  border-top: 14px solid #851b1d;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  left: 50%;
  bottom: -12px;
  margin-left: -18px;
}

.tabs--primary {
  border: 0;
}

.page-program-schedule-monday .monday a,
.page-program-schedule-tuesday .tuesday a,
.page-program-schedule-wednesday .wednesday a,
.page-program-schedule-thursday .thursday a,
.page-program-schedule-friday .friday a {
  background: #eb252f;
  color: white;
}
.page-program-schedule-monday .monday a:after,
.page-program-schedule-tuesday .tuesday a:after,
.page-program-schedule-wednesday .wednesday a:after,
.page-program-schedule-thursday .thursday a:after,
.page-program-schedule-friday .friday a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -18px;
  display: block;
  height: 0;
  width: 0;
  border-top: 14px solid #eb252f;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
}

/**
 * $USER-MENU
 */
@media (min-width: 1000px) {
  .block--system-user-menu a {
    font-size: 14px;
    font-size: 0.77778rem;
    color: #959595;
    font-weight: 700;
    padding-left: 20px;
  }
  .block--system-user-menu a:hover, .block--system-user-menu a:focus {
    color: #ececec;
  }
  .block--system-user-menu .first a {
    padding-left: 0;
  }
}
/**
 * $NODE-FORUM
 */
.node--forum .submitted,
.node--forum .node-footer {
  font-size: 14px;
  font-size: 0.77778rem;
}
.node--forum .node__content {
  margin: 20px 0 10px 0;
}
.node--forum .node-footer {
  margin-bottom: 60px;
}
.node--forum .separator {
  display: none;
}
.node--forum .user-picture {
  float: left;
  width: 30px;
  margin-top: -6px;
  margin-right: 10px;
}
.node--forum .node__links {
  margin-bottom: 20px;
}

/**
 * $NODE-NEWS
 */
.node--news .node__date-stamp {
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  margin-bottom: 35px;
}
.node--news .links {
  font-size: 16px;
  font-size: 0.88889rem;
}
.node--news .node-readmore .button--small {
  padding-left: 0;
}
.node--news .comment_forbidden a:first-of-type {
  padding-left: 0;
}

.node--news--teaser {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ececec;
}

.node--news--full .node__image {
  margin-bottom: 30px;
}
.node--news--full .node__title {
  margin-bottom: 20px;
}
.node--news--full .field--name-field-tag {
  font-size: 16px;
  font-size: 0.88889rem;
  margin-top: 40px;
}
.node--news--full .node-footer {
  margin-bottom: 20px;
}

/**
 * $NODE-SESSION
 */
.node--session--full .field__label {
  color: #583a24;
}
.node--session--full .field--label-above {
  margin-bottom: 1.5em;
}
.node--session--full fieldset {
  margin-bottom: 2em;
}
.node--session--full .node-footer {
  padding-top: .5em;
}
.node--session--full .feedback a {
  height: 3em;
  line-height: 3em;
  text-transform: uppercase;
  padding: 0 1.8em;
}
.node--session--full .node__links li {
  margin: 10px 1.5em 10px 0;
}

#edit-cod-session {
  line-height: 2em;
}
#edit-cod-session .form-submit {
  margin: 20px 0 15px 0;
}

/**
 * $VIEW-ATTENDEES
 */
.view-attendees {
  text-align: center;
}
.view-attendees .views-row {
  float: none;
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-bottom: 0 10px 30px 10px;
  width: 100%;
}
.view-attendees .views-row .views-field {
  margin-bottom: .3em;
}
.view-attendees .views-row .views-field-name {
  background: transparent url(../images/schedule/speaker.png) no-repeat;
  font-size: 12px;
  font-size: 0.66667rem;
  font-weight: normal;
  line-height: 21px;
  margin-bottom: .5em;
}
.view-attendees .views-row .views-field-field-badge-job-title,
.view-attendees .views-row .views-field-field-badge-org {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
}
.view-attendees .views-row .views-field-field-badge-org {
  color: #9b2023;
}
@media (min-width: 31em) {
  .view-attendees .views-row {
    width: 40%;
  }
}
@media (min-width: 700px) {
  .view-attendees .views-row {
    width: 33%;
  }
}
@media (min-width: 1000px) {
  .view-attendees .views-row {
    width: 18%;
  }
}

/**
 * $VIEW-SPONSORS-DIAMOND
 */
@media (min-width: 0) {
  .view--sponsors--block-diamond .view-content {
    background: rgba(255, 255, 255, 0.8);
  }
  .view--sponsors--block-diamond .views-row {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
    width: 49%;
  }
  .view--sponsors--block-diamond .views-row a:hover {
    opacity: .5;
  }
  .view--sponsors--block-diamond .views-row img {
    padding: 10px 20px;
  }
}
@media (min-width: 1000px) {
  .view--sponsors--block-diamond .view-content {
    background: rgba(255, 255, 255, 0.8);
    height: 71px;
    display: inline-block;
    width: auto;
  }
  .view--sponsors--block-diamond .view-content .views-row-first:before,
  .view--sponsors--block-diamond .view-content .views-row-last:after {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 71px;
    top: 0;
    border-bottom: 71px solid rgba(255, 255, 255, 0.8);
  }
  .view--sponsors--block-diamond .view-content .views-row-first:before {
    left: -20px;
    border-left: 20px solid transparent;
  }
  .view--sponsors--block-diamond .view-content .views-row-last:after {
    right: -20px;
    border-right: 20px solid transparent;
  }
  .view--sponsors--block-diamond .views-row {
    display: inline-block;
    width: auto;
    width: 200px;
  }
  .view--sponsors--block-diamond .views-row a {
    height: 71px;
    line-height: 66px;
    display: inline-block;
  }
  .view--sponsors--block-diamond .views-row img {
    width: 80%;
    vertical-align: middle;
    padding: 0;
  }
  .view--sponsors--block-diamond.view-row-count-2 .views-row-1 {
    padding-right: 60px;
  }
  .view--sponsors--block-diamond.view-row-count-2 .views-row-2 {
    padding-left: 60px;
  }
  .view--sponsors--block-diamond.view-row-count-4 .views-row-2 {
    padding-right: 60px;
  }
  .view--sponsors--block-diamond.view-row-count-4 .views-row-3 {
    padding-left: 60px;
  }
}

/**
 * $VIEW-EVENTS
 */
.view--social-events--page .view-content .item-list {
  border: 1px solid #ececec;
}
.view--social-events--page .view-content .item-list .section-title {
  background: #9b2023;
  color: white;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  font-size: 26px;
  font-size: 1.44444rem;
  margin: 0;
  padding: 0.6em 20px 0.5em 20px;
  overflow: hidden;
}
.view--social-events--page .view-content .item-list > ul, .view--social-events--page .view-content .item-list .views-row {
  margin: 0;
  padding: 0;
  list-style: none;
}
.view--social-events--page .view-content .item-list .views-row {
  color: #646464;
  padding: 20px;
  border-bottom: 1px solid #ececec;
  font-size: 17px;
  font-size: 0.94444rem;
}
.view--social-events--page .view-content .item-list .views-row .views-field-title a {
  display: block;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-size: 22px;
  font-size: 1.22222rem;
  letter-spacing: 0.2em;
  margin-bottom: 0.5em;
}
.view--social-events--page .view-content .item-list .views-row .views-field-field-event-time {
  font-size: 15px;
  font-size: 0.83333rem;
  color: black;
  font-weight: bold;
  margin: 0.5em 0;
}
.view--social-events--page .view-content .item-list .views-row .views-field-field-location {
  background: transparent url('../images/schedule/location.png?1407278170') 0px 6px no-repeat;
  padding-left: 26px;
  margin-bottom: 0.6em;
}
.view--social-events--page .view-content .item-list .views-row-last {
  border-bottom: none;
}

/**
 * $VIEWS-EXPOSED
 */
.views-exposed-form .views-exposed-widget {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.85em;
}
.views-exposed-form label {
  color: #583a24;
  font-weight: 700;
  font-size: 15px;
  font-size: 0.83333rem;
}
.views-exposed-form .views-widget {
  margin-top: .3em;
}
.views-exposed-form .form-text {
  padding: .85em;
}
.views-exposed-form .form-submit {
  height: 2.9em;
  line-height: 2.9em;
}

.view-drupalcon-schedule .schedule-item .schedule-room-title,
.view-drupalcon-schedule .schedule-item .session-speaker {
  width: 50%;
}
@media (max-width: 619px) {
  .view-drupalcon-schedule .schedule-item .schedule-room-title,
  .view-drupalcon-schedule .schedule-item .session-speaker {
    width: 100%;
    margin-bottom: 1em;
  }
}

.view-drupalcon-schedule .views-widget-filter-field_track_value {
  background: #f8f8f8;
  width: 100%;
  padding: 0;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value > label {
  display: block;
  padding: 0.8em 1em 0.7em 1em;
  margin-bottom: 0;
  background: #eb252f;
  color: white;
  text-align: left;
  font-size: 24px;
  font-size: 1.33333rem;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: normal;
  border-left: 10px solid black;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .views-widget {
  margin-top: 0;
  padding: 1em 0;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox {
  margin: 0;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-checkboxes .form-item {
  float: left;
  width: 100%;
}
@media (min-width: 550px) {
  .view-drupalcon-schedule .views-widget-filter-field_track_value .form-checkboxes .form-item {
    width: 50%;
  }
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox label.option {
  display: block;
  padding: 0.8em 1.3em;
  padding-left: 60px;
  margin: 0;
  min-height: 30px;
  background: transparent url('../images/track-icon/ams-drupal-org.png?1407278170') left center no-repeat;
  color: #333333;
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 1.25em;
  cursor: pointer;
  font-weight: normal;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  text-transform: uppercase;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox label.option:hover {
  background-color: #f8f8f8;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-type-bef-checkbox input {
  display: none;
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-coding-and-development label.option {
  background-image: url('../images/track-icon/ams-coding-and-development.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-drupal-business label.option {
  background-image: url('../images/track-icon/ams-drupal-business.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-case-studies label.option {
  background-image: url('../images/track-icon/ams-case-studies.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-core-conversations label.option {
  background-image: url('../images/track-icon/ams-core-conversations.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-devops label.option {
  background-image: url('../images/track-icon/ams-devops.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-frontend label.option {
  background-image: url('../images/track-icon/ams-frontend.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-php label.option {
  background-image: url('../images/track-icon/ams-php.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-site-building label.option {
  background-image: url('../images/track-icon/ams-site-building.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-drupalorg label.option {
  background-image: url('../images/track-icon/ams-drupal-org.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-business-showcase label.option {
  background-image: url('../images/track-icon/ams-business-showcase.png?1407278170');
}
.view-drupalcon-schedule .views-widget-filter-field_track_value .form-item-edit-field-track-value-featured-event label.option {
  background-image: url('../images/track-icon/ams-community-events.png?1407278170');
}

/**
* $JOB-BOARD
*/
.view--job-board--page {
  margin-top: 40px;
}
.view--job-board--page .views-field-body {
  margin-top: .75em;
  font-size: 16px;
  font-size: 0.88889rem;
}

/**
 * $VIEW-PERSONAL-SCHEDULE
 */
.view--personal-schedule--page .views-row {
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  padding: 20px;
}
.view--personal-schedule--page .views-field-field-session-room {
  margin-bottom: .5em;
  padding-left: 30px;
}
.view--personal-schedule--page .views-row:last-child {
  border-bottom: 1px solid #959595;
}

/**
 * $VIEW-SCHEDULE
 */
.page-program-schedule h1 {
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 2.2rem;
  letter-spacing: 0.26em;
}

@media (max-width: 619px) {
  .view-schedule .tabs {
    margin-bottom: 18px;
  }
}
.view-schedule .tabs li {
  width: 20%;
  margin-bottom: 26px;
}
@media (max-width: 619px) {
  .view-schedule .tabs li {
    width: 100%;
    margin-bottom: 2px;
    float: none;
  }
}
.view-schedule .tabs li a {
  background: #b0a9a5;
  color: white;
  display: block;
  width: 98%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0;
}
@media (max-width: 619px) {
  .view-schedule .tabs li a::after {
    display: none;
  }
}
.view-schedule .tabs li a:hover {
  background: #eb252f;
}
@media (max-width: 619px) {
  .view-schedule .tabs li a {
    width: 100%;
  }
}
.view-schedule .tabs li.friday a {
  width: 100%;
}
.page-program-schedule-monday .view-schedule .tabs li.monday a, .page-program-schedule-tuesday .view-schedule .tabs li.tuesday a, .page-program-schedule-wednesday .view-schedule .tabs li.wednesday a, .page-program-schedule-thursday .view-schedule .tabs li.thursday a, .page-program-schedule-friday .view-schedule .tabs li.friday a {
  background: #eb252f;
}
.view-schedule .section-title {
  background: #9b2023;
  color: white;
  border-left: 1px solid #9b2023;
  border-right: 1px solid #ececec;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  font-size: 26px;
  font-size: 1.44444rem;
  margin: 0;
  overflow: hidden;
}
.view-schedule .section-title .slot_day,
.view-schedule .section-title .slot_time {
  text-align: left;
  padding: 0.6em 20px 0.5em 20px;
  float: left;
}
.view-schedule .section-title .slot_day {
  width: 66%;
}
.view-schedule .section-title .slot_time {
  background: #851b1d;
  width: 34%;
}
@media (max-width: 619px) {
  .view-schedule .section-title .slot_day,
  .view-schedule .section-title .slot_time {
    float: none;
    width: 100%;
  }
}
.view-schedule .schedule-list {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.view-schedule .schedule-list:last-child .views-row-last {
  border-bottom: 1px solid #ececec;
}
.view-schedule .session-title,
.view-schedule .views-field-title {
  margin-bottom: 20px;
}
.view-schedule .session-title a,
.view-schedule .views-field-title a {
  color: #333333;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-size: 20px;
  font-size: 1.11111rem;
}
.view-schedule .session-title a:hover, .view-schedule .session-title a:focus,
.view-schedule .views-field-title a:hover,
.view-schedule .views-field-title a:focus {
  color: #9b2023;
}
.view-schedule .schedule-item {
  background: white;
  border-bottom: 1px solid #ececec;
  position: relative;
}
@media (max-width: 619px) {
  .view-schedule .schedule-item {
    padding-right: 18px;
    padding-bottom: 94px;
  }
}
.view-schedule .schedule-item.views-row-last {
  border-bottom: 0;
}
.view-schedule .schedule-item .session-title {
  margin-bottom: 20px;
}
.view-schedule .experience-level {
  position: absolute;
  top: 20px;
  right: 4px;
  height: 11px;
  width: 39px;
}
@media (max-width: 619px) {
  .view-schedule .experience-level {
    top: auto;
    bottom: 28px;
  }
}
.view-schedule .experience-level.Beginner {
  background-position: 0 -22px;
}
.view-schedule .experience-level.Intermediate {
  background-position: 0 -11px;
}
.view-schedule .experience-level.Advanced {
  background-position: 0 0;
}
.view-schedule .schedule-room-title,
.view-schedule .views-field-field-session-room {
  background: transparent url('../images/schedule/location.png?1407278170') no-repeat;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
  color: #646464;
}
.view-schedule .schedule-room-title a,
.view-schedule .views-field-field-session-room a {
  color: #646464;
}
.view-schedule .schedule-room-title a:hover, .view-schedule .schedule-room-title a:focus,
.view-schedule .views-field-field-session-room a:hover,
.view-schedule .views-field-field-session-room a:focus {
  color: #9b2023;
}
.view-schedule .session-speaker {
  background: transparent url('../images/schedule/speaker.png?1407278170') no-repeat;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
  width: 50%;
}
@media (max-width: 619px) {
  .view-schedule .session-speaker {
    width: 100%;
  }
}
.view-schedule .session-speaker a {
  color: #646464;
}
.view-schedule .session-speaker a:hover, .view-schedule .session-speaker a:focus {
  color: #9b2023;
}
.view-schedule .flag-action {
  background-position: 0 -21px;
}
.view-schedule .unflag-action {
  background-position: 0 -72px;
}
.view-schedule .flag-action,
.view-schedule .unflag-action {
  background-color: transparent;
}
.view-schedule .flag-session-schedule {
  font-size: 10px;
  font-size: 0.55556rem;
  margin-top: -.5em;
}
.view-schedule .flag-session-schedule a {
  height: 31px;
  width: 32px;
  display: block;
  padding: 0;
}
@media (max-width: 619px) {
  .view-schedule .flag-session-schedule {
    float: none;
    display: block;
    border-top: 1px solid #ececec;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    height: 66px;
    width: 100%;
  }
  .view-schedule .flag-session-schedule a {
    margin: 16px;
  }
}
.view-schedule .flag-message {
  font-size: 11px;
  font-size: 0.61111rem;
  top: .3em;
  left: 10%;
  width: 80%;
  text-align: center;
  text-transform: capitalize;
}
.view-schedule .track-icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 30px;
  width: 50px;
  margin-left: -24px;
}
.view-schedule .track-icon.trackCoding {
  background-position: 0 -188px;
}
.view-schedule .track-icon.trackDrupal {
  background-position: 0 -517px;
}
.view-schedule .track-icon.trackCase {
  background-position: 0 0;
}
.view-schedule .track-icon.trackCore {
  background-position: 0 -470px;
}
.view-schedule .track-icon.trackDevOps {
  background-position: 0 -94px;
}
.view-schedule .track-icon.trackFrontend {
  background-position: 0 -47px;
}
.view-schedule .track-icon.trackPHP {
  background-position: 0 -235px;
}
.view-schedule .track-icon.trackSite {
  background-position: 0 -423px;
}
.view-schedule .Drupalorg .track-icon {
  background-position: 0 -282px;
}
.view-schedule .track-icon.trackBusiness {
  background-position: 0 -141px;
}
.view-schedule .track-icon.trackFeatured {
  background-position: 0 -376px;
}
.view-schedule .track-icon.trackDrupalorg {
  background-position: 0 -282px;
}
@media (min-width: 580px) {
  .view-schedule .schedule-item .flag-session-schedule {
    margin-top: 0;
    border-left: 1px solid #ececec;
  }
  .view-schedule .schedule-item .flag-session-schedule .flag {
    margin-top: -15.5px;
    margin-left: 24.5px;
  }
}
@media (min-width: 700px) {
  .view-schedule .schedule-item {
    position: relative;
  }
  .view-schedule .schedule-item .track-icon {
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: -20px;
  }
  .view-schedule .schedule-item .experience-level {
    margin-right: 21px;
  }
}

/**
 * $VIEW-SPONSORS
 */
.view-sponsors-page h4 {
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  font-size: 1.33333rem;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .1em;
  margin: 30px 1%;
}
.view-sponsors-page .views-row {
  background: #f8f8f8;
}
.view-sponsors-page .views-row img:hover {
  opacity: .5;
}
.view-sponsors-page .views-field-field-sponsor-module-level {
  font-size: 16px;
  font-size: 0.88889rem;
  margin-top: 10px;
  color: #646464;
}

.view-drupalcon-bofs .tabs {
  margin: 0;
  padding: 0;
}
@media (max-width: 619px) {
  .view-drupalcon-bofs .tabs {
    margin-bottom: 18px;
  }
}
.view-drupalcon-bofs .tabs li {
  width: 20%;
  margin-bottom: 26px;
}
@media (max-width: 619px) {
  .view-drupalcon-bofs .tabs li {
    width: 100%;
    margin-bottom: 2px;
    float: none;
  }
}
.view-drupalcon-bofs .tabs li a {
  background: #b0a9a5;
  color: white;
  display: block;
  width: 98%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0;
}
@media (max-width: 619px) {
  .view-drupalcon-bofs .tabs li a::after {
    display: none;
  }
}
.view-drupalcon-bofs .tabs li a:hover {
  background: #eb252f;
}
@media (max-width: 619px) {
  .view-drupalcon-bofs .tabs li a {
    width: 100%;
  }
}
.view-drupalcon-bofs .tabs li.monday a, .view-drupalcon-bofs .tabs li.friday a {
  color: #c6c6c6;
  background: #ececec;
}
.view-drupalcon-bofs .tabs li.friday a {
  width: 100%;
}
.view-drupalcon-bofs .time-label {
  padding: 0.6em 20px;
  margin-bottom: 0;
  background: #9b2023;
  color: #fff;
  text-transform: uppercase;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  letter-spacing: .2em;
  font-size: 26px;
  font-size: 1.44444rem;
}
.view-drupalcon-bofs .schedule-item {
  background: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.view-drupalcon-bofs .session-title {
  margin-bottom: 10px;
}
.view-drupalcon-bofs .session-title a {
  color: #333333;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: "akzidenz-grotesk_condensed_Rg", sans-serif;
  font-size: 20px;
  font-size: 1.11111rem;
}
.view-drupalcon-bofs .session-title a:hover, .view-drupalcon-bofs .session-title a:focus {
  color: #9b2023;
}
.view-drupalcon-bofs .schedule-room-title {
  background: transparent url('../images/schedule/location.png?1407278170') no-repeat;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 1.5em;
  color: #646464;
  width: 11em;
  margin-bottom: 0.5em;
  padding-left: 30px;
}
.view-drupalcon-bofs .schedule-room-title a {
  color: #646464;
}
.view-drupalcon-bofs .schedule-room-title a:hover, .view-drupalcon-bofs .schedule-room-title a:focus {
  color: #9b2023;
}
