/**
 * $VARIABLES-LAYOUT
 */
/**
 * $VARIABLES-NAVIGATION
 */
/**
 * $VARIABLES-OFF-CANVAS
 */
/**
 * $VARIABLES-TYPOGRAPHY
 */
/**
 * $MIXINS
 */
.track-icon-sprite {
  background: url('../images/generated/track-icon-s28ce10ce47.png') no-repeat;
}

.difficulty-sprite, .view-drupalcon-schedule .schedule-item .experience-level.Beginner, .view-drupalcon-schedule .schedule-item .experience-level.Intermediate, .view-drupalcon-schedule .schedule-item .experience-level.Advanced {
  background: url('../images/generated/difficulty-s123e7d9fec.png') no-repeat;
}

/**
 * $BUTTONS
 */
/*
 * Base Button Styles
 */
.button, .button-link,
.flag-action {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 3em;
  height: 3em;
  padding-right: 1.8em;
  padding-left: 1.8em;
  border-radius: 0;
  overflow: visible;
}
.button:hover, .button-link:hover,
.flag-action:hover, .button:active, .button-link:active,
.flag-action:active, .button:focus, .button-link:focus,
.flag-action:focus, .button:visited, .button-link:visited,
.flag-action:visited {
  text-decoration: none;
}
.button:active, .button-link:active,
.flag-action:active, .button:focus, .button-link:focus,
.flag-action:focus {
  outline: none;
}
.button::-moz-focus-inner, .button-link::-moz-focus-inner,
.flag-action::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button--small, .form-managed-file .button, .form-managed-file .button-link,
.form-managed-file .flag-action {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2;
  height: 2em;
}

.button--large {
  padding-right: 2em;
  padding-left: 2em;
  line-height: 4;
  height: 4em;
}

.button--huge {
  padding-right: 3em;
  padding-left: 3em;
  line-height: 6;
  height: 6em;
}

/* These buttons will fill the entirety of their container. */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.button--alpha {
  font-size: 18px;
  font-size: 1.125rem;
}

.button--beta {
  font-size: 16px;
  font-size: 1rem;
}

.button--gamma {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.button--inactive,
.button--inactive:hover,
.button--inactive:active,
.button--inactive:focus {
  color: #777;
  cursor: default;
}

/*
 * Stylistic buttons
 */
.button--pill {
  border-radius: 5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

/* Adjacent buttons should have some margin. */
.button + .button, .button-link + .button,
.flag-action + .button, .button + .button-link, .button-link + .button-link,
.flag-action + .button-link,
.button + .flag-action,
.button-link + .flag-action,
.flag-action + .flag-action,
.button + a,
.button-link + a,
.flag-action + a {
  margin-left: 1em;
}

/**
 * $Lists
 */
ul,
ol {
  margin-bottom: 1em;
}

.links--inline li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: none;
  margin-right: 1.5em;
}

.unstyled-list, .flex-direction-nav, .flex-control-paging, .menu, .view-drupalcon-schedule .schedule-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * $MEDIA
 */
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: text-bottom;
}

/**
 * $ROOT
 */
html {
  font-size: 14.4px;
  line-height: 21.6px;
  font-size: 16px;
  line-height: 24px;
}

.clearfix:after, .form-wrapper:after, .l-header:after,
.l-main:after,
.l-footer:after, .node__content:after, .view--sponsors--block-diamond:after, .view--sponsors--block-platinum:after, .invoice-header:after, div.addressfield-container-inline:after, .flexslider:after, .flexslider .slides:after, .flex-direction-nav:after, .flex-control-paging:after, .speakers:after, .speaker:after, .user-profile-category:after, .menu-name-menu-footer-menu > .menu:after, .tabs:after, .view--attendees--page > ul:after, .view-events-activities-schedule .views-row:after, .view-drupalcon-schedule .schedule-item:after {
  content: "";
  display: table;
  clear: both;
}

.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * $TABLES
 */
table {
  width: 100%;
  margin-bottom: 20px;
}

td,
th {
  padding: 1em;
}

/**
 * $TYPOGRAPHY
 */
a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

p + img {
  float: left;
  margin-right: 1em;
}

blockquote {
  margin: 1em 1em 1em 2em;
  padding: 1em 1em 1em 1.5em;
  border-style: solid;
  border-width: 1px;
  border-left-width: 15px;
}

small {
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #4d4d4d;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0;
  margin-bottom: 0.6em;
  line-height: 1.2em;
}
h1 a, .alpha a,
h2 a, .beta a,
h3 a, .gamma a,
h4 a, .delta a,
h5 a, .epsilon a,
h6 a, .zeta a {
  color: inherit;
}

h1, .alpha {
  font-size: 45px;
  font-size: 2.8125rem;
}

h2, .beta {
  font-size: 34px;
  font-size: 2.125rem;
}

h3, .gamma {
  font-size: 26px;
  font-size: 1.625rem;
}

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem;
}

h5, .epsilon {
  font-size: 18px;
  font-size: 1.125rem;
}

h6, .zeta {
  font-size: 16px;
  font-size: 1rem;
}

/**
 * $FIELDSETS
 */
.form-wrapper {
  margin-bottom: 20px;
}

.fieldset-description {
  margin-bottom: 10px;
  font-style: italic;
}

fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
fieldset legend {
  width: 100%;
  padding: 0;
}
fieldset .fieldset-legend .summary {
  float: right;
}
fieldset .fieldset-title {
  display: block;
  padding: 1em;
  background-color: lightgrey;
  text-decoration: none;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
}
fieldset .fieldset-wrapper {
  padding: 20px 1em;
  border: 1px solid lightgrey;
}

html.js fieldset.collapsible .fieldset-legend {
  padding: 0;
  background: none;
}
html.js fieldset.collapsible .fieldset-title:hover {
  background-color: darkgrey;
}

html.js fieldset.collapsed {
  height: 3.2em;
}

/**
* $FORM-ITEM
*/
.form-item label {
  margin-bottom: 0.4em;
}
.form-item .form-select,
.form-item .form-text,
.form-item .form-textarea {
  width: 100%;
  padding: 0.769em;
  vertical-align: middle;
}
.form-item .form-text,
.form-item .form-textarea {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.form-item .description {
  margin-top: 0.2em;
}

.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(211, 211, 211, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(211, 211, 211, 0.3);
  box-shadow: 0 0 4px 1px rgba(211, 211, 211, 0.3);
  outline: 1px solid lightgrey;
}

.selector {
  position: relative;
  display: block;
  padding: 1em;
  vertical-align: middle;
  width: auto !important;
}
.selector .form-select {
  position: absolute;
  padding: 1em;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  top: 0;
  left: 0px;
}
.selector.hover {
  cursor: pointer;
}
.selector option {
  padding: 0.2em;
}

.resizable-textarea .form-textarea {
  border-bottom: none;
}
.resizable-textarea .grippie {
  height: 12px;
  background-position: center center;
  border-top: none;
}

/**
 * Default Layout Styles
 */
.l-constrained {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 2em;
  clear: both;
}

/* Header Area */
.l-branding {
  position: relative;
  left: 50%;
  width: 146px;
  margin-left: -73px;
  z-index: 20;
}

.l-region--header-first {
  width: 42.85714%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

/* Highlighted Area */
.l-region--ribbon {
  width: 100%;
  max-width: 70em;
  margin: 0 auto;
}

/* Content Area */
.l-region--sidebar-first .block,
.l-region--sidebar-second .block {
  margin-bottom: 40px;
}

/* Footer Area */
.l-footer {
  clear: both;
}

.l-region--bottom,
.l-region--footer {
  margin-left: -2em;
  margin-right: -2em;
  padding: 40px 1em;
  text-align: center;
}

.l-region--footer {
  padding: 40px 8% 1px 8%;
}
.l-region--footer .block {
  margin-bottom: 80px;
}

.l-region--bottom {
  text-align: center;
  padding: 40px 1em 20px 1em;
}

/* Header Area */
.l-branding {
  width: 200px;
  margin-left: -100px;
}

.l-region--header-first {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

/* Highlighted Area */
.l-highlighted-wrapper {
  position: relative;
  min-height: 200px;
}

.l-region--ribbon {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 64%;
  width: 250px;
}

/* Sidebars */
.has-sidebar-first .l-content,
.has-sidebar-second .l-content,
.has-two-sidebars .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.has-sidebar-first .l-region--sidebar-first,
.has-sidebar-first .l-region--sidebar-second,
.has-sidebar-second .l-region--sidebar-first,
.has-sidebar-second .l-region--sidebar-second,
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.has-sidebar-first .l-region--sidebar-second,
.has-sidebar-second .l-region--sidebar-second,
.has-two-sidebars .l-region--sidebar-second {
  clear: right;
}

.has-dropped-sidebars .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.has-dropped-sidebars .l-region--sidebar-first {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.has-dropped-sidebars .l-region--sidebar-second {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.l-constrained {
  width: 95%;
}

/* Header Area */
.l-region--header-first,
.l-region--header-second {
  margin-top: 20px;
}

.l-region--header-second {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.l-region--header-second .block {
  float: right;
}

/* Sidebars */
.has-sidebar-first .l-content {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.has-sidebar-first .l-region--sidebar-first {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

.has-sidebar-second .l-content {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.has-sidebar-second .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.has-two-sidebars .l-content {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 25.53191%;
  clear: none;
}
.has-two-sidebars .l-region--sidebar-first {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.has-two-sidebars .l-region--sidebar-second {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.has-dropped-sidebars .l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.has-dropped-sidebars.has-sidebar-first .l-region--sidebar-first,
.has-dropped-sidebars.has-sidebar-first .l-region--sidebar-second, .has-dropped-sidebars.has-sidebar-second .l-region--sidebar-first,
.has-dropped-sidebars.has-sidebar-second .l-region--sidebar-second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.has-dropped-sidebars.has-two-sidebars .l-region--sidebar-first {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.has-dropped-sidebars.has-two-sidebars .l-region--sidebar-second {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
}

/**
 * $NODE
 */
.node__content {
  margin-bottom: 20px;
}

.node__links {
  clear: both;
}

/**
 * $BLOCK-PRIMARY
 */
.block--primary .block__title {
  margin: 0;
  padding: 1em 0;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}
.block--primary .block__content {
  padding: 20px 1em;
}

/**
 * $DIAMOND-SPONSORS
 */
.view--sponsors--block-diamond .views-row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 49%;
  padding: 0 5%;
  vertical-align: middle;
}
.view--sponsors--block-diamond .views-row {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

/**
 * $PLATINUM-SPONSORS
 */
.view--sponsors--block-platinum .views-row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 49%;
  padding: 20px 4%;
  vertical-align: middle;
  margin: 0 auto;
}
.view--sponsors--block-platinum .views-row {
  width: 19%;
  padding: 20px 2%;
}

/**
 * $COMMENTS
 */
.comment {
  margin-bottom: 40px;
}

.comments__form-title {
  margin-top: 40px;
}

.comment__info {
  margin-bottom: 20px;
}
.comment__info .comment__submitted,
.comment__info .permalink {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin: 0 1em 0 0;
}
.comment__info .permalink {
  text-align: right;
}

.comment__links {
  font-weight: 700;
}

.comment-form .form-item-notify {
  margin-bottom: 0.4em;
}
.comment-form .form-actions {
  margin-top: 20px;
}

.invoice-header .print-link {
  float: right;
  margin-bottom: 20px;
}

.invoice-header__title {
  margin-bottom: 0.1em;
}

.invoice-from-address {
  text-align: right;
}

.entity-commerce-order .field--name-commerce-customer-billing,
.entity-commerce-order .registration-list {
  margin-bottom: 60px;
}

.name-block {
  float: left;
  margin: 0 0.5em 0.1em 0;
}

.street-block {
  clear: left;
}

.field-name-field-eval-field-1 .form-radios .form-item,
.field-name-field-eval-field-2 .form-radios .form-item,
.field-name-field-eval-field-3 .form-radios .form-item,
.field-name-field-eval-field-4 .form-radios .form-item,
.field-name-field-eval-field-5 .form-radios .form-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0.4em;
}

.field--name-commerce-order-total {
  float: right;
  width: 100%;
  max-width: 400px;
}
.field--name-commerce-order-total .component-type-commerce-price-formatted-amount {
  font-weight: bold;
}

/**
 * $FIELD
 */
.field {
  margin-bottom: 6px;
}

.field--name-field-tag .field__label,
.field--name-field-tag .field__items,
.field--name-field-tag .field__item,
.field--name-field-speakers .field__label,
.field--name-field-speakers .field__items,
.field--name-field-speakers .field__item {
  display: inline-block;
}
.field--name-field-tag .field__label,
.field--name-field-speakers .field__label {
  margin-right: 0.4em;
}
.field--name-field-tag .field__item,
.field--name-field-speakers .field__item {
  margin-right: 0.8em;
}

.name-block {
  float: none;
  margin-right: 0;
}

div.addressfield-container-inline > div.form-item {
  float: none;
  margin-right: 0;
}

.form-item .postal-code {
  width: auto;
  max-width: 100%;
}

/**
 * $USER-REGISTER-FORM
 */
.user-register-form .password-strength,
.user-register-form .password-confirm {
  margin: 0 0 1.2em 0;
}
.user-register-form .password-suggestions {
  padding: 1em 1em 0.5em 1em;
}

/**
 * $VERTICAL-TABS
 */
.vertical-tabs-pane > .fieldset-wrapper {
  border: none;
}

/**
 * $Flexslider
 */
.flexslider {
  position: relative;
}
.flexslider .slides {
  margin: 0;
  padding: 0;
}
.flexslider img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Direction Nav */
.flex-direction-nav {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}
.flex-direction-nav .flex-prev {
  float: left;
}
.flex-direction-nav .flex-next {
  float: right;
}

/* Pager Nav */
.flex-control-paging {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.flex-control-paging li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/**
 * $SOCIAL-SHARE
 */
.social-button {
  display: inline-block;
  height: 30px;
  width: 90px !important;
  margin: 0 !important;
  vertical-align: middle;
}

/**
 * $SPEAKERS
 */
.speakers {
  margin-bottom: 20px;
}

.speaker {
  padding: 20px 1em;
}

.speaker__image {
  float: left;
  width: 30%;
}

.speaker__info {
  float: right;
  width: 66%;
  font-size: 14px;
  font-size: 0.875rem;
}
.speaker__info h4 {
  font-size: 16px;
  font-size: 1rem;
}
.speaker__info p {
  margin-bottom: 0.4em;
}

.speaker {
  float: left;
  padding: 0;
  position: relative;
}
.speaker:focus .speaker__info, .speaker:hover .speaker__info {
  opacity: 1;
}

.speaker--keynote {
  width: 31%;
  margin: 0 1% 20px 1%;
}

.speaker--featured {
  width: 23%;
  margin: 0 1% 20px 1%;
}

.speaker__image,
.speaker__info {
  float: none;
  width: 100%;
}

.speaker__info {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 1em;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.speaker__info h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

.speaker--featured {
  font-size: 14px;
  font-size: 0.875rem;
}
.speaker--featured h4 {
  font-size: 20px;
  font-size: 1.25rem;
}

/**
 * $USER-PROFILE
 */
.user-profile-category-profile .field {
  clear: left;
}
.user-profile-category-profile .field--label-inline {
  float: left;
  width: 75%;
}
.user-profile-category-profile .user-picture {
  float: right;
  margin-bottom: 20px;
  width: 20%;
}

.user-profile-item {
  margin-bottom: 6px;
}

.user-profile-category-history {
  clear: both;
  margin: 20px 0;
}

.action-links {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0 0 20px 1em;
}
.action-links:after {
  content: "";
  display: table;
  clear: both;
}
.action-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.action-links li:first-child, .action-links li.first {
  padding-left: 0;
}
.action-links li:last-child {
  padding-right: 0;
}
.action-links li.last {
  padding-right: 0;
}
.action-links li {
  margin-right: 18px;
}

/**
 * $FOOTER-MENU
 */
.menu-name-menu-footer-menu > .menu > li {
  float: left;
  width: 50%;
  max-width: 11em;
  margin-top: 20px;
  font-size: 17px;
  font-size: 1.0625rem;
  text-transform: uppercase;
}
.menu-name-menu-footer-menu > .menu > li .menu {
  margin-top: 0.6em;
}
.menu-name-menu-footer-menu > .menu > li li {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: none;
}

/**
 * $MAIN-MENU
 */
.spaced-link {
  margin-right: 300px;
}

.nested-menu-item-toggle {
  display: none;
}

.menu-name-main-menu .menu {
  z-index: 999;
  text-align: center;
}
.menu-name-main-menu .menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}
.menu-name-main-menu .menu li .menu {
  display: none;
  position: absolute;
  width: 200%;
  margin-left: -50%;
}
.menu-name-main-menu .menu li .menu .leaf,
.menu-name-main-menu .menu li .menu .leaf > a {
  display: block;
  width: auto;
}
.menu-name-main-menu .menu li:hover .menu, .menu-name-main-menu .menu li:focus .menu {
  display: block;
}

/**
 * $Navigation
 */
.menu .leaf {
  list-style: none;
}

/**
 * $TABS
 */
.tabs {
  margin-bottom: 40px;
}

.tabs--secondary {
  position: relative;
  top: -40px;
  margin-bottom: 40px;
}

/**
 * $USER-MENU
 */
.block--system-user-menu .menu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.block--system-user-menu .menu li.last {
  padding-right: 0;
}

.view--job-board--page .views-row {
  margin-bottom: 40px;
}

/**
 * $VIEW-ATTENDEES
 */
.view--attendees--page > ul {
  margin: 0;
  padding: 0;
}
.view--attendees--page .views-row {
  float: left;
  width: 50%;
  padding: 0 20px 20px 20px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  height: 260px;
  list-style: none;
}
.view--attendees--page .views-row .user-picture {
  margin: 0 0 10px 0;
}
.view--attendees--page .views-row .views-field-nothing {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 10px;
}
.view--attendees--page .views-row .views-field-name {
  font-weight: bold;
  padding-left: 30px;
  margin-bottom: 5px;
  display: inline-block;
}
.view--attendees--page .views-row .views-field {
  margin-bottom: 0.2em;
}

/**
 * $VIEW-EVENTS
 */
.view-events-activities-schedule .views-row {
  margin: 0 0 20px 40px;
}
.view-events-activities-schedule .views-row-last {
  margin-bottom: 60px;
}
.view-events-activities-schedule .views-field-field-slot-datetime-1 {
  float: left;
  margin-bottom: 1em;
}
.view-events-activities-schedule .views-field-ops {
  float: right;
}

/**
 * $VIEW-SCHEDULE
 */
.view-drupalcon-schedule .tabs {
  padding-left: 0;
  margin: 40px 0 10px 0;
}
.view-drupalcon-schedule .section-title {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.view-drupalcon-schedule .section-title .slot_day,
.view-drupalcon-schedule .section-title .slot_time {
  padding: 0.6em 20px;
  float: left;
  width: 100%;
}
.view-drupalcon-schedule .schedule-item {
  position: relative;
  padding: 20px 1em;
}
.view-drupalcon-schedule .schedule-item .track-icon,
.view-drupalcon-schedule .schedule-item .experience-level {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 1em;
}
.view-drupalcon-schedule .schedule-item .experience-level {
  height: 5px;
  width: 25px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
.view-drupalcon-schedule .schedule-item .experience-level.Beginner {
  background-position: 0 -10px;
}
.view-drupalcon-schedule .schedule-item .experience-level.Intermediate {
  background-position: 0 0;
}
.view-drupalcon-schedule .schedule-item .experience-level.Advanced {
  background-position: 0 -5px;
}
.view-drupalcon-schedule .schedule-item .session-title {
  margin: 1em 0;
}
.view-drupalcon-schedule .schedule-item .session-speaker,
.view-drupalcon-schedule .schedule-item .schedule-room-title {
  width: 11em;
  float: left;
  margin-bottom: 0.5em;
  padding-left: 30px;
}
.view-drupalcon-schedule .schedule-item .flag-session-schedule {
  float: right;
}
.view-drupalcon-schedule .schedule-item .flag-action,
.view-drupalcon-schedule .schedule-item .unflag-action {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
.view-drupalcon-schedule .schedule-item .flag-action:hover,
.view-drupalcon-schedule .schedule-item .unflag-action:hover {
  opacity: 0.7;
  background-color: transparent;
}
.view-drupalcon-schedule .schedule-item .flag-throbber {
  display: none;
}
.view-drupalcon-schedule .schedule-item .flag-waiting .flag-throbber {
  display: block;
}

/**
 * $VIEW-SESSIONS
 */
.sessions-list > li {
  margin-bottom: 40px;
}

/**
 * $VIEW-SPONSORS
 */
.view--sponsors--page .views-row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 98%;
  height: 100%;
  padding: 20px 0;
  margin: 1%;
  text-align: center;
}
.view--sponsors--page .item-list {
  margin-bottom: 40px;
}
.view--sponsors--page .views-row {
  padding: 20px 4%;
  width: 22%;
}
.view--sponsors--page .views-row--Diamond {
  width: 47%;
}
.view--sponsors--page .views-row--Platinum {
  width: 30%;
}

/**
 * $VIEWS-EXPOSED
 */
.views-exposed-form-sessions-page-proposed .views-widget,
.views-exposed-form-sessions-page-proposed .views-submit-button {
  margin-top: 0.5em;
}

/**
 * $VIEWS
 */
.view-filters {
  margin-bottom: 40px;
}
