/**
 * $404 Page
 */

.l-page-not-found {
  .l-page {
    background-image: url(../images/header-404-small.jpg);
  }
}

.block--page-not-found {
  margin: ($vert-spacing-unit * 1.5) 0 ($vert-spacing-unit * 4.5);
  text-transform: uppercase;
  font-family: $regular-font-family;
  color: $red;

  .lowercase {
    text-transform: lowercase;
  }

  h1 {
    @include font-size(160px);
    margin: 0;
    color: $red;
    letter-spacing: -.025em;

    .white {
      color: $white;
    }
  }

  h2 {
    @include font-size(26px);
    margin: 0 0 .25em 0;
    color: $red;
  }

  h3 {
    color: $white;
    @include font-size(20px);
    margin: 0;
  }
}

@include breakpoint($tab, true) {
  .l-page-not-found {
    .l-page {
      background-image: url(../images/header-404.jpg);
    }
  }

  .block--page-not-found {
    h1 {
      @include font-size(260px);
    }

    h2 {
      @include font-size(30px);
    }
  }
}
