/**
 * $FORUM
 */

.forum {
  .forum-icon {
    margin-right: 1em;
  }

  .topic-details__name {
    font-weight: bold;
  }

  .topic-details__description {
    padding-left: $vert-spacing-unit * 2;
    @include font-size(14px);
  }

  .forum-topic__topic-count,
  .forum-topic__post-count,
  .forum-topic__last-reply,
  .forum-topic-list__replies,
  .forum-topic-list__last-reply {
    vertical-align: top;
  }

  .forum-topic__last-reply,
  .forum-topic-list__last-reply {
    @include font-size(14px);
    line-height: 1.5em;
    padding-top: 18px;
  }

  .forum-topic-list__title {
    font-weight: bold;

    .submitted {
      font-weight: normal;
      @include font-size(14px);
      line-height: 1.5em;
    }
  }
}
