/**
 * $COMMENTS
 */

.comment {
  margin-bottom: $vert-spacing-unit * 2;
}

.comments__form-title {
  margin-top: $vert-spacing-unit * 2;
}


.comment__info {
  margin-bottom: $vert-spacing-unit;

  .comment__submitted,
  .permalink {
    @include inline-block;
    vertical-align: middle;
    margin: 0 1em 0 0;
  }
  .permalink {
    text-align: right;
  }
}

.comment__links {
  font-weight: 700;
}

.comment-form {
  .form-item-notify {
    margin-bottom: 0.4em;
  }
  .form-actions {
    margin-top: $vert-spacing-unit;
  }
}

