/**
 * $BLOCK-PRIMARY
 */
.block--primary {
  .block__title {
    margin: 0;
    padding: 1em 0;
    @include font-size(20px);
    text-align: center;
  }
  .block__content {
    padding: $vert-spacing-unit $horz-spacing-unit;
  }
}
