/**
 * $DIAMOND-SPONSORS
 */
.view--sponsors--block-diamond {
  @extend .clearfix;

  .views-row {
    @include inline-block;
    width: 49%;
    padding: 0 5%;
    vertical-align: middle;
  }

  @include breakpoint($tab, true) {
    .views-row {
      display: block;
      width: 100%;
      margin-bottom: $vert-spacing-unit;
    }
  }
}
