/**
 * $PLATINUM-SPONSORS
 */
.view--sponsors--block-platinum {
  @extend .clearfix;

  .views-row {
    @include inline-block;
    width: 49%;
    padding: $vert-spacing-unit 4%;
    vertical-align: middle;
    margin: 0 auto;
  }

  @include breakpoint($tab, true) {
    .views-row {
      width: 19%;
      padding: $vert-spacing-unit 2%;
    }
  }
}
