/**
 * @file
 * Form Styling
 */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #cc0000;
}
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

.form-submit {
  /* The submit button */
  padding: 9px 20px 8px;
}

.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

.tips {
  /* Tips for Drupal's input formats */
}

a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php) 
 */
.region-utility #block-search-form {
  /* Wrapper for the search form */
}
.region-utility #block-search-form #search-block-form {
  margin-bottom: 0;
}
.region-utility #block-search-form #search-block-form .form-item {
  float: left;
  margin: 1em 0;
  width: 100%;
}
.region-utility #block-search-form #search-block-form .form-item input.form-text {
  background: #5f5f5f url("../images/looking_glass.png") no-repeat top right;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 3px 9px 0px rgba(66, 66, 66, 0.5);
  box-shadow: inset 0px 3px 9px 0px rgba(66, 66, 66, 0.5);
  display: block;
  font-size: 1em;
  height: 20px;
  padding: 0px 2px;
  margin: 0;
  color: #FFF;
}
.region-utility #block-search-form #search-block-form .form-actions {
  display: none;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #cccccc;
}
form tbody {
  border-top: 1px solid #cccccc;
}
form tr.even {
  background-color: #fff;
}
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}

/* 
	Registration for DrupalCon Registration
*/
.registration-conference-registration .field {
  display: block;
  padding: 0.5em 0;
}
.registration-conference-registration .field .field-label {
  display: inline-block;
  margin-right: 0.5em;
  position: relative;
  vertical-align: top;
}
.registration-conference-registration .field .field-label a {
  display: inline-block;
  vertical-align: top;
}
.registration-conference-registration .field .field-items {
  display: inline-block;
}
