/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

a {
  color: #3399cc;
}
a a:hover, a a:focus {
  text-decoration: underline;
}

#page ul, #page ol {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

table thead tr th, table tfoot tr td {
  font-weight: normal;
}

table {
  width: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  margin-bottom: 1em;
}
#header .full {
  width: 100%;
}
#header .full .nine {
  padding: 1em 1em 0 0;
}
#header .full .nine a#logo.one {
  width: 24.0%;
  padding: 3% 0 0 0;
}
#header .full .nine h1#site-name {
  float: left;
  width: 75%;
  padding: 3% 0 0 0;
}
#header .full .diamond-sponsor {
  background: url("../images/dmnd-spnsr-bgrd.png") bottom center no-repeat;
  padding: 2em 2em 4em 2em;
}
#header .full .diamond-sponsor .region-header {
  /* Wrapper for any blocks placed in the header region */
  float: left;
  right: 0;
  top: 0;
  width: 100%;
}
#header .full .diamond-sponsor .region-header .block-drupalorg-drupalcon {
  text-align: center;
}
#header .full .diamond-sponsor .region-header .block-drupalorg-drupalcon h3 {
  color: white;
  text-shadow: 0 6px 9px #00375c;
  font-size: 1.85em;
  margin: 0.5em 0;
}
#header .full .diamond-sponsor .region-header .block-drupalorg-drupalcon .item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/*
 * Main (container for everything else)
 */
#main {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/*
 * Content
 */
#content.columns {
  padding: 1.571em 2em 1.571em 1.571em;
}

aside.sidebars {
  padding: 1.571em 1.571em 1.571em 1em;
  background: url("../images/sdbr_brdr.jpg") top left repeat-y;
}

aside p {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
}

#content .views-field-title {
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  font-size: 1.85em;
  margin-top: .5em;
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
  margin-bottom: 1em;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 0.857em;
  color: #939393;
}
.breadcrumb li a {
  color: #939393;
}
.breadcrumb li a:active {
  color: #606060;
}
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #606060;
  text-decoration: none;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  text-transform: uppercase !important;
}

h1.title {
  /* The title of the page */
  font-size: 2.563em;
}

h2.block-title {
  /* Block title */
  color: #669933;
  font-size: 1.85em;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

ul.primary li a {
  text-align: center;
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

.button {
  font-family: 'LeagueGothicRegular';
  font-size: 21px;
  font-weight: normal;
  margin: 0 0.2em 0 0;
  text-shadow: #003366 1px 1px 10px;
  padding: 9px 20px 8px;
  text-rendering: optimizelegibility;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-transform: uppercase;
}
.button a {
  color: white;
}
.button :hover {
  text-shadow: black 1px 1px 10px;
}

.print-button {
  float: right;
}

.social-button {
  float: left;
  margin-top: 2em;
}
.social-button .fb-like {
  margin-right: 1em;
}
.social-button .twitter-share-button {
  width: 80px;
}
.social-button #___plusone_0 {
  margin-left: -4px;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
aside.sidebars #twtr-widget-1 {
  background: url("../images/bird.png") top right no-repeat;
  padding-top: 37px;
  top: -25px;
}
aside.sidebars #twtr-widget-1 p {
  font-size: 1em !important;
}
aside.sidebars #twtr-widget-1 p a {
  text-decoration: underline !important;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer Region
 */
#footer-container {
  background-image: url("../images/navy_blue_light.jpg"), url("../images/main_menu_shadow.png");
  background-position: top left, center top;
  background-repeat: repeat, no-repeat;
  width: 100%;
}
#footer-container #footer .first {
  margin: 0 auto;
  max-width: 100%;
  padding: 0.5em 0;
}
#footer-container #footer .first h3 {
  color: white;
  font-size: 27px;
  margin: 14px 0;
}
#footer-container #footer .first ul {
  list-style-type: none;
  text-align: center;
  display: block;
  background-color: #FFF;
  padding: 0;
  width: 100%;
  min-height: 330px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/*
 * Page bottom
 */
#page-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
  background: url("../images/navy_blue.png");
  width: 100%;
}
#page-bottom p {
  margin: 0 auto;
  padding: 1em;
  padding: 0.5em 0;
  color: white;
  font-size: 0.786em;
}
#page-bottom p a {
  color: white;
  text-decoration: underline;
}

/* 
*  Image backgrounds finetudens 01/04/2013 Per Stephanie.
*/
#page {
  background: url("../images/clouds.png") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-node #page, .node-type-news #page, .node-type-time-slot #page {
  background: url("../images/bgrd4_pioneer-square.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-news #page, .front #page {
  background: url("../images/bgrd1_bridge.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-sponsors #page, .node-type-article #page {
  background: url("../images/bgrd2_bridge-skyline.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-bof-session #page, .section-cart #page {
  background: url("../images/bgrd3_flowers.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-room #page, .node-type-slide #page, .page-news #page {
  background: url("../images/bgrd6_night-skylinejpg.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-schedule-item #page, .section-community #page {
  background: url("../images/bgrd7_night-skylinejpg.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-session #page, .section-portland #page {
  background: url("../images/bgrd8_night-skylinejpg.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-webform #page, .section-speakers #page {
  background: url("../images/bgrd9_mrrsn-bridge.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.node-type-ticket-sale-page #page, .section-program #page {
  background: url("../images/bgrd10_broadway-bridge.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -----------------------  Profile   ----------------------- */
.profile .field {
  line-height: 1.5em;
}
.profile .field .field-label {
  display: none;
}
.profile .field-name-field-profile-first, .profile .field-name-field-profile-last {
  font-weight: normal;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  color: black;
}
.profile .field-name-field-profile-first .field-items .field-item, .profile .field-name-field-profile-last .field-items .field-item {
  font-size: 1.75em !important;
  line-height: 1.2em;
}
.profile .field-name-field-profile-first {
  display: block;
  float: left;
  margin-right: 0.5em;
}
.profile .field-type-text-long {
  margin: 1em 0;
}
.profile .field-name-field-profile-org, .profile .field-name-field-profile-job-title, .profile .field-name-field-designation {
  font-weight: normal;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
}
.profile .field-name-field-profile-org .field-items .field-item, .profile .field-name-field-profile-job-title .field-items .field-item, .profile .field-name-field-designation .field-items .field-item {
  font-size: 1.5em;
}
.profile .field-name-field-profile-org, .profile .field-name-field-designation {
  color: #3399CC;
}
.profile .field-name-field-profile-job-title {
  color: #669933;
}
.profile .field-name-field-profile-full-name {
  display: none;
}
.profile .field-name-field-designation {
  margin: 1em 0;
}

code, .section-spread-the-word code {
  background-color: #FFFFFF;
  color: #333333;
}
