/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.section-program table th { font-weight: bold; }
.section-program table td, table th { padding: 9px 10px; text-align: left; max-width: 150px; }

.section-program table td h4 { font-size: 24px; }

.session-tags .experience { display: block; border-radius: 5px; padding: 2px; }

.session-tags .beginner { background-color: #3399CC; color: white; text-align: center;  }
.session-tags .intermediate { background-color: #669933; color: white; text-align: center; }
.session-tags .advanced { background-color: #00598E; color: white; text-align: center; }

.session-tags .track { font-style: italic; }

.session-tags .featured { text-transform: uppercase; font-weight: bold; }

.session-title { text-transform: uppercase; font-weight: bold; }

.free-time { color: #669933; }

.section-program h3.schedule-day-heading:after {
  content: 'Scroll/swipe right-to-left inside table area to view entire schedule.';
  float: right;
  margin: 0.25em 0;
  font-size: 18px;
  text-transform: none;
  color: #669933;
  font-weight: normal;
}
.table-wrapper { clear: both; }
/* Mobile */



@media only screen and (max-width: 5000px) {
	
	table.responsive { margin-bottom: 0; }
	
	
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 20%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #999; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: normal; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 20%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: normal; overflow: hidden; min-width: 150px; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }

  table.responsive { border-right: 3px solid #ccc; border-left: 3px solid #ccc; }

}

@media only screen and (max-width: 360px) {
	
	table.responsive { margin-bottom: 0; }


	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: normal; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }


	.free-time { font-size: 65%;  }
	
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


