/**
 * @file
 * Form Styling
 */
.sprites-sprite, .view-slideshow #views-slideshow-controls-bottom button#prev, .view-slideshow #views-slideshow-controls-bottom button#next {
  background: url('../images/../images/sprites-sfe4bc0f544.png') no-repeat;
}

.shadow {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(99, 99, 99, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(99, 99, 99, 0.1);
}

.border-radius {
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#twtr-widget-1 .twtr-bd a, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p a {
  text-decoration: underline;
}

/*****************************************************************************************
 *****                              SINGLE SLIDE                                     *****
 *****************************************************************************************/
.region-slideshow {
  background: url("../images/slideshow-bgrd.png") repeat scroll 0 0 transparent;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .region-slideshow {
    position: relative !important;
  }
}
@media only screen and (max-width: 767px) {
  .region-slideshow {
    padding: 14px 0;
  }
}

.view-slideshow {
  z-index: 0;
}
.view-slideshow .views-row {
  display: none;
}
.view-slideshow .views-row-1 {
  display: block;
}
.view-slideshow h1, .view-slideshow h2, .view-slideshow h3, .view-slideshow h4, .view-slideshow h5, .view-slideshow h6 {
  color: #FFFFFF;
}
.view-slideshow h1.slideshow-reverse {
  padding: 0.5em 0 0.25em 0;
  margin: 0;
  font-size: 3em;
}
@media only screen and (max-width: 767px) {
  .view-slideshow h1.slideshow-reverse {
    font-size: 2em;
    padding: 0.5em 21px 0.25em 21px;
  }
}
.view-slideshow h1.slideshow-reverse a {
  line-height: 1em;
  color: #FFF;
  text-shadow: 0 6px 9px #00375c;
  font-family: 'LeagueGothicRegular';
  text-decoration: none;
  text-transform: uppercase;
}
.view-slideshow .slideshow-body {
  padding: 0 3.75em 0.636em 0;
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: normal;
  overflow: hidden;
  margin-bottom: 1em;
  color: white;
}
@media only screen and (max-width: 767px) {
  .view-slideshow .slideshow-body {
    padding: 0 21px 0.636em 21px;
  }
}
.view-slideshow .slideshow-body p {
  margin-bottom: 0;
}
.view-slideshow .readmore-reverse {
  margin: auto;
  width: auto;
  float: right;
  font-size: 1.500em;
  padding: 0px 20px 0 30px;
  height: 60px;
  font-family: 'ballparkweiner';
  color: #ffffff;
  padding: 0 2.5em 0.636em 0;
}
@media only screen and (max-width: 767px) {
  .view-slideshow .views-field {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.view-slideshow .slideshow-image {
  display: block;
  float: left;
  margin-right: 21px;
  z-index: -1;
}
@media only screen and (max-width: 767px) {
  .view-slideshow .slideshow-image {
    display: none;
  }
}
.view-slideshow #views-slideshow-controls-bottom {
  position: absolute;
  bottom: 50%;
  left: 0px;
  z-index: 1000;
  padding: 10px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .view-slideshow #views-slideshow-controls-bottom {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .view-slideshow #views-slideshow-controls-bottom {
    display: none;
  }
}
.view-slideshow #views-slideshow-controls-bottom button {
  display: block;
  overflow: hidden;
  margin: 0 5px;
  border: none;
  opacity: .75;
}
.view-slideshow #views-slideshow-controls-bottom button#prev {
  background-position: 0 -29px;
  height: 29px;
  width: 29px;
  float: right;
  right: 0px;
}
.view-slideshow #views-slideshow-controls-bottom button#next {
  background-position: 0 0;
  height: 29px;
  width: 29px;
  float: left;
}
.view-slideshow #views-slideshow-controls-bottom button#pause {
  display: none;
}
.view-slideshow #views-slideshow-controls-bottom button:hover {
  opacity: 1;
}

/* Views Slideshow */
.slideshow {
  overflow: hidden;
}
.slideshow .columns {
  padding: 0;
}

.readmore-reverse a {
  color: white;
  opacity: 0.8;
}
.readmore-reverse a:hover {
  color: white;
  opacity: 1;
}

.button {
  font-family: 'LeagueGothicRegular';
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  margin: 0 0.2em 0 0;
  text-shadow: #003366 1px 1px 10px;
  padding: 9px 20px 8px;
  text-rendering: optimizelegibility;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-transform: none;
}
.button a {
  color: white;
}

.button:hover {
  text-shadow: black 1px 1px 10px;
}
