/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/*
 * Basic positioning styles shared by primary, secondary tabs, and quicktabs.
 */
ul.primary,
ul.secondary,
ul.quicktabs-tabs {
  overflow: hidden;
  border-bottom: 1px solid #bbbbbb;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0 2px;
  white-space: nowrap;
  text-align: center;
}
ul.primary li,
ul.secondary li,
ul.quicktabs-tabs li {
  float: left;
  /* LTR */
  margin: 0.5em 3px 0;
}
ul.primary a,
ul.secondary a,
ul.quicktabs-tabs a {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}
ul.primary a a:hover, ul.primary a a:focus,
ul.secondary a a:hover,
ul.secondary a a:focus,
ul.quicktabs-tabs a a:hover,
ul.quicktabs-tabs a a:focus {
  text-decoration: underline;
}

/*
 * Primary tabs
 */
ul.primary li {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: 1px 1px 0 white;
  border: 1px solid #bbbbbb;
  border-bottom: 0;
  margin: 0.5em 0 0 3px;
  /* LTR */
  border-radius: 0px;
}
ul.primary li.active, ul.primary li:hover {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  /* Overlap the ul's border. */
  margin-top: 0;
}
ul.primary a:link,
ul.primary a:visited {
  color: #333;
  background-color: white;
}
ul.primary a:hover,
ul.primary a:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
  font-weight: bold;
  border-top: 3px solid #1c8da6;
}
ul.primary a.active {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -o-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/*
 * Secondary tabs
 */
ul.secondary {
  font-size: .9em;
  margin-top: -1.5em;
  /* Collapse bottom margin of ul.primary. */
  padding-bottom: .5em;
}
ul.secondary a:link,
ul.secondary a:visited {
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 0 white;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 0.5em;
}
ul.secondary a:hover,
ul.secondary a:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
ul.secondary a.active,
ul.secondary a:active {
  text-shadow: 1px 1px 0 #333333;
  background-color: #666;
  border-color: #000;
  color: #fff;
}

/*
 * Quicktabs tabs
 */
ul.quicktabs-tabs {
  text-indent: 0 !important;
}
ul.quicktabs-tabs li {
  text-shadow: 1px 1px 0 white;
  border: 1px solid #bbbbbb;
  border-bottom: 0;
  margin: 0.5em 0 0 3px;
  /* LTR */
  padding: 0.5em 1em;
  border-radius: 0px;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
}
ul.quicktabs-tabs li.active, ul.quicktabs-tabs li:hover {
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  /* Overlap the ul's border. */
  margin-top: 0;
  border-top: 3px solid #1c8da6;
  background-color: #e9e9e9;
}
ul.quicktabs-tabs a:link,
ul.quicktabs-tabs a:visited {
  color: #333;
  background-color: white;
}
ul.quicktabs-tabs a:hover,
ul.quicktabs-tabs a:focus {
  border-color: #f2f2f2;
  font-weight: bold;
}
ul.quicktabs-tabs a.active {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -o-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
}
