/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* -------------------  Sponsors  ------------------- */
/*  Sponsor Pages */
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul {
  float: left;
  list-style-type: none;
  margin: 0;
  width: 100%;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Diamond {
  width: 50%;
  float: left;
  height: 110px !important;
  margin: 1em 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Diamond a {
  display: block;
  line-height: 100px;
  text-align: center;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Diamond a img {
  display: inline-block;
  margin: 0 auto;
  max-height: 100px;
  max-width: 100%;
  transition-duration: 0.15s;
  transition-property: all;
  vertical-align: middle;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Diamond a img:hover {
  opacity: 0.75;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Platinum {
  width: 50%;
  float: left;
  height: 215px;
  margin: 1em 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Platinum a {
  display: block;
  line-height: 215px;
  text-align: center;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Platinum a img {
  display: inline-block;
  margin: 0 auto;
  max-height: 215px;
  max-width: 80%;
  transition-duration: 0.15s;
  transition-property: all;
  vertical-align: middle;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Gold, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Games, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Day, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Stage {
  width: 33%;
  float: left;
  height: 150px;
  margin: 1em 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Gold a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Games a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Day a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Stage a {
  display: block;
  line-height: 150px;
  text-align: center;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Gold a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Games a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Day a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Stage a img {
  display: inline-block;
  margin: 0 auto;
  max-height: 150px;
  max-width: 65%;
  transition-duration: 0.15s;
  transition-property: all;
  vertical-align: middle;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Silver, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Bronze, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Add-on, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Media {
  width: 33%;
  float: left;
  height: 140px;
  margin: 1em 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Silver a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Bronze a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Add-on a, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Media a {
  display: block;
  line-height: 140px;
  text-align: center;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Silver a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Bronze a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Add-on a img, #block-drupalorg-drupalcon-drupalcon-sponsors-block-3 ul li.Media a img {
  display: inline-block;
  margin: 0 auto;
  max-height: 140px;
  max-width: 65%;
  transition-duration: 0.15s;
  transition-property: all;
  vertical-align: middle;
}

/*  Gold Footer  see also pages.scsss */
#block-drupalorg-drupalcon-drupalcon-sponsors-block-2 li.Platinum {
  width: 25%;
  float: left;
  height: 150px;
  margin: 1em 0 0 0;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: all;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-2 li.Platinum a {
  display: block;
  line-height: 145px;
  text-align: center;
}
#block-drupalorg-drupalcon-drupalcon-sponsors-block-2 li.Platinum a img {
  display: inline-block;
  margin: 0 auto;
  max-height: 145px;
  max-width: 65%;
  transition-duration: 0.15s;
  transition-property: all;
  vertical-align: middle;
}

/* -------------------  Sessions ------------------- */
.page-program-sessions .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.3em;
}

.page-program-sessions #content.columns {
  background: none;
  padding: 1.571em 2em 1.571em 1.571em;
}

.sessions-custom-overrides table.views-table {
  width: 100% !important;
  border-collapse: collapse;
}
.sessions-custom-overrides table.views-table thead th {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  text-transform: uppercase !important;
  color: #464646;
  font-size: 1.1em !important;
  padding: 14px 12px !important;
}
.sessions-custom-overrides table.views-table tbody td {
  padding: 14px 12px !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}
.sessions-custom-overrides table.views-table tbody td h1, .sessions-custom-overrides table.views-table tbody td h2, .sessions-custom-overrides table.views-table tbody td h3, .sessions-custom-overrides table.views-table tbody td h4, .sessions-custom-overrides table.views-table tbody td h5, .sessions-custom-overrides table.views-table tbody td h6 {
  margin: 0;
}

td.experience-level {
  color: #669933;
  text-transform: uppercase;
  font-family: "LeagueGothicRegular",sans-serif;
  font-size: 1.5em;
  width: 11%;
}

td.track {
  color: #464646;
  text-transform: uppercase;
  font-family: "LeagueGothicRegular",sans-serif;
  font-size: 1.5em;
  width: 9%;
}

/* -------------------  Speakers  ------------------- */
.page-conference-admin-contact-speakers #content.columns {
  background: none;
  padding: 1.571em 2em 1.571em 1.571em;
}
.page-conference-admin-contact-speakers #content.columns .container-inline {
  border: none;
}
.page-conference-admin-contact-speakers #content.columns table.views-table {
  width: 100% !important;
  border-collapse: collapse;
}
.page-conference-admin-contact-speakers #content.columns table.views-table thead th {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  text-transform: uppercase !important;
  color: #464646;
  font-size: 1.1em !important;
  padding: 14px 12px !important;
}
.page-conference-admin-contact-speakers #content.columns table.views-table tbody td.views-field-title {
  line-height: 1.1em;
}

/* -----------------------  Session Node Pages   ----------------------- */
fieldset.collapsible {
  padding: 1em;
}

legend .fieldset-legend {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.fieldset-wrapper .field {
  margin: 1em 0;
}

.fieldset-wrapper .field-label,
.field-name-field-speakers .field-label,
.field-name-field-speaker-experience .field-label,
.field-name-field-session-objectives .field-label {
  color: #669933;
  text-transform: uppercase;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.field-name-field-speakers.field-label-inline .field-items,
.field-name-field-speakers.field-label-inline .field-label {
  float: none;
}

.field-name-field-speakers {
  margin: 1em 1em 2em 0em;
}

.field-name-field-speakers .field-items .field-item {
  margin: 0.5em 0 0 0;
}

.field-name-field-speaker-agreement {
  display: none;
}

.field-name-field-speaker-experience .field-label,
.field-name-field-session-objectives .field-label {
  margin-top: 1em;
}

.field-name-field-speaker-experience .field-item,
.field-name-field-session-objectives .field-item {
  line-height: 1.5em;
}

#block-views-slideshow-block {
  margin-bottom: 0 !important;
}

/* -----------------------  Attendee Pages   ----------------------- */
.attendees-custom-overrides .views-exposed-form .views-exposed-widget {
  width: 20%;
  padding-bottom: 0.85em;
}
.attendees-custom-overrides .views-exposed-form .views-widget-filter-uid {
  width: 31%;
  padding-bottom: 0em;
}
.attendees-custom-overrides .views-exposed-form .views-widget-filter-uid .form-autocomplete {
  margin-bottom: 0.5em;
  background-position: 100% 0.7em;
}
.attendees-custom-overrides .views-exposed-form .views-submit-button {
  width: 8%;
}
.attendees-custom-overrides .views-exposed-form .views-submit-button #edit-submit-attendees {
  margin-top: 10px;
}
.attendees-custom-overrides table.cols-5 {
  max-width: 100%;
}
.attendees-custom-overrides table.cols-5 tr {
  border-bottom: 1px solid #d1e5f7;
}
.attendees-custom-overrides table.cols-5 tr td {
  text-align: center;
  padding: 1em 0.5em 0.5em;
  width: 20%;
}
.attendees-custom-overrides table.cols-5 tr td .views-field-name a {
  font-weight: bold;
  text-decoration: underline;
  color: #00598E;
}
.attendees-custom-overrides table.cols-5 tr td .views-field-nothing, .attendees-custom-overrides table.cols-5 tr td .views-field-field-profile-org {
  font-size: 1em;
}
.attendees-custom-overrides table.cols-5 tr:nth-child(2n) {
  background-color: #F5F9FD;
}

/* Attempting to resolve Autocomplete issue: Refer to http://drupal.org/node/1349168 */
.attendees-custom-overrides #autocomplete ul {
  margin: 0;
  background: #ffffff;
  color: #2e2e2e;
}

.attendees-custom-overrides #autocomplete ul li {
  margin: 0;
}

.attendees-custom-overrides #autocomplete ul li:hover,
.attendees-custom-overrides #autocomplete ul li.selected {
  color: #00598E;
  font-weight: 700;
  background: #ffffff;
}

.attendees-custom-overrides #autocomplete ul div {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  padding: 0 !important;
  margin: 0;
}
