/**
 * $WEBFORM
 */
.webform-client-form {
  margin-top: $vert-spacing-unit * 2;

  .webform-datepicker {
    padding-top: .4em;
  }

  .webform-container-inline {
    .form-text,
    .form-textarea {
      margin-top: .3em;
    }
  }
}
