/**
 * $Flexslider
 */

.flexslider {
  position: relative;
  @extend .clearfix;

  .slides {
    margin: 0;
    padding: 0;
    @extend .clearfix;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

/* Direction Nav */
.flex-direction-nav {
  @extend .clearfix;
  @extend .unstyled-list;
  position: absolute;
  bottom: ($vert-spacing-unit / 2);
  z-index: $top-z;
  width: 100px;
  left: 50%;
  margin-left: -50px;

  .flex-prev {
    float: left;
  }
  .flex-next {
    float: right;
  }

  @include breakpoint($tab) {
    bottom: 5px;
  }
}

/* Pager Nav */
.flex-control-paging {
  @extend .clearfix;
  position: absolute;
  bottom: $vert-spacing-unit / 2;
  z-index: $top-z;
  width: 100%;
  text-align: center;
  @extend .unstyled-list;

  li {
    @include inline-block;
  }

  @include breakpoint($tab, true) {
    bottom: $vert-spacing-unit;
  }
}
