/**
 * $SPEAKERS
 */
.speakers {
  @extend .clearfix;
  margin-bottom: $vert-spacing-unit;
}
.speaker {
  @extend .clearfix;
  padding: $vert-spacing-unit $horz-spacing-unit;
}

.speaker__image {
  float: left;
  width: 30%;
}
.speaker__info {
  float: right;
  width: 66%;
  @include font-size(14px);

  h4 {
    @include font-size(16px);
  }
  p {
    margin-bottom: 0.4em;
  }
}

@include breakpoint($desk, true) {
  .speaker {
    float: left;
    padding: 0;
    position: relative;

    &:focus,
    &:hover {
      .speaker__info {
        opacity: 1;
      }
    }
  }
  .speaker--keynote {
    width: 31%;
    margin: 0 1% $vert-spacing-unit 1%;
  }
  .speaker--featured {
    width: 23%;
    margin: 0 1% $vert-spacing-unit 1%;
  }
  .speaker__image,
  .speaker__info {
    float: none;
    width: 100%;
  }
  .speaker__info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $vert-spacing-unit $horz-spacing-unit;
    @include font-size(16px);
    @include transition(opacity 0.2s ease-in);

    h4 {
      @include font-size(24px);
    }
  }
  .speaker--featured {
    @include font-size(14px);

    h4 {
      @include font-size(20px);
    }
  }
}
