/**
 * $USER-PROFILE
 */
.user-profile-category {
  @extend .clearfix;
}
.user-profile-category-profile {
  .field {
    clear: left;
  }
  .field--label-inline {
    float: left;
    width: 75%;
  }
  .user-picture {
    float: right;
    margin-bottom: $vert-spacing-unit;
    width: 20%;
  }
}
.user-profile-item {
  margin-bottom: $vert-spacing-unit * 0.3;
}

.user-profile-category-history {
  clear: both;
  margin: $vert-spacing-unit 0;
}
